<div class="row">
  <div class="col-md-12">
    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <%= f.label :title, 'Name' -%>
      </div>
      <%= f.text_field :name, :label => false, class: 'title' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <%= f.label :title, 'Subtitle' -%>
      </div>
      <%= f.text_field :description,
                       :label => false,
                       :placeholder => 'The briefest of summaries (250 chars. max)',
                       :class => 'title'
      %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <%= f.label :title, 'Full Description' -%>
      </div>
      <%= f.text_area :notes,
                      :label => false,
                      :placeholder => 'Everything there is to say',
                      :class => 'description'
      %>
    </div>
  </div>
</div>
<% if @first_entity %>
    <%= hidden_field_tag 'entity_type',
                         @first_entity.class.to_s %>
    <%= hidden_field_tag 'entity_id',
                         @first_entity.id %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <label class='text options' style='margin: 0'>Available to:</label>
      </div>
      <div class='form-group radio_buttons optional list_typenum'>
      <span class='radio' style='display: inline-block; margin-left: 10px'>
        <label for='list_typenum_0' id='list_typenum_0' name='list[typenum]'>
          <input <%= 'checked=\'checked\'' if @list.typenum == 0 %> class='radio_buttons optional' style='margin-top: 0' id='list_typenum_0' name='list[typenum]' type='radio' value='0'>
          Anyone (Public)
        </label>
      </span>
      <span class='radio' style='display: inline-block; margin-left: 10px'>
        <label for='list_typenum_1' id='list_typenum_1' name='list[typenum]'>
          <input <%= 'checked=\'checked\'' if @list.typenum == 1 %> class='radio_buttons optional' style='margin-top: 0' id='list_typenum_1' name='list[typenum]' type='radio' value='1'>
          Friends only
        </label>
      </span>
      <span class='radio' style='display: inline-block; margin-left: 10px'>
        <label for='list_typenum_2' id='list_typenum_2' name='list[typenum]'>
          <input <%= 'checked=\'checked\'' if @list.typenum == 2 %> class='radio_buttons optional' style='margin-top: 0' id='list_typenum_2' name='list[typenum]' type='radio' value='2'>
          Just me (Private)
        </label>
      </span>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='item-enclosure'>
      <%= token_input_field f,
                            'included_tags',
                            label: 'Tags',
                            data: { type_x: List.excluded_tag_types },
                            wrapper_html: { style: 'margin-bottom: 0; width: 90%; margin-left: 35px' } %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='item-enclosure'>
      <%= f.check_box :pullin %>
      <span class="prompt">Use tags to find content</span>
    </div>
  </div>
</div>
