<% item ||= @list %>
<tr id="<%= dom_id item %>">
  <td>
    <%= link_to_submit item.owner.handle, user_path(item.owner), :mode => :modal %>
    <br>
  </td>
  <td>
    <%= link_to_submit item.name.truncate(80), list_path(item), :mode => :partial %>
    <br>
  </td>
  <td>
    <%= item.description.truncate(200) unless item.description.blank? %>
  </td>
  <td>
    <%= taggable_list item %>
  </td>
  <td>
    <%= labelled_quantity item.entity_count, "item" %>
  </td>
  <td>
    <%= collectible_table_buttons item %>
   </td>
</tr>
