<% item ||= @list %>
<tr id="<%= dom_id item %>">
  <% if params[:access] != "owned" %>
      <td>
        <%= link_to_submit item.owner.handle, user_path(item.owner), :mode => :modal %>
        <br>
      </td>
  <% end %>
  <td>
    <%= link_to_submit item.name.truncate(80), list_path(item), :mode => :partial %>
    <br>
  </td>
  <td>
    <%= item.description.truncate(200) unless item.description.blank? %>
  </td>
  <td>
    <% item.included_tags.each do |tag| %>
        <span><%= link_to_submit tag.typedname(true), tag_path(tag), :mode => :modal %></span><br>
    <% end %>
  </td>
  <td>
    <%# labelled_quantity item.entity_count, "item" %>
    <%= labelled_quantity ListServices.new(item).tagging_scope(current_user_or_guest_id).count, "item" %>
  </td>
  <td>
    <%= collectible_table_buttons item %>
   </td>
</tr>
