<% item ||= @list %>
<tr id="<%= dom_id item %>">
	<td>
      <%= item.id.to_s %>
    </td>
	<td>
        <%= link_to_submit item.name.truncate(80), list_path(item), :mode => :partial %><br>
	</td>
	<td>
      <%= item.description.truncate(200) unless item.description.blank? %>
    </td>
    <td>
      <%= taggable_list item %>
    </td>
	<td>
		<% permitted_to?(:edit, :lists) do %>
			<%= button_to_submit 'Edit', edit_list_path(item), mode: :modal %>
		<% end %>
		<% permitted_to?(:destroy, :lists) do %>
			<%= button_to_submit 'Destroy',
                              item,
                              "danger",
                              :method => :delete,
                              :data => { confirm: "Are you sure you want to destroy '#{item.name}'? There's no going back!" } %>
		<% end %>
	</td>
</tr>
