<%# Form for taking a list locator and using it to create a list %>
<%= simple_form_for @list, url: create_list_path, html: {class: "new_list json", 'data-type' => :json} do |f| %>
    <%= form_errors_helper f %>
    <%= f.input :name, label: "Name", input_html: {cols: 125, rows: 1, "data-type" => "json"} %>
    <%= f.input :description, label: "Tagline", placeholder: "A quick description of the list", input_html: {cols: 125, rows: 1, "data-type" => "json"} %>
    <%# f.input :typenum, label: 'Make list available to:',
                collection: List.type_selections(true),
                as: :radio_buttons %>
    <!--
        <div class="btn-group">
          <button type="button" class="btn btn-default">Left</button>
          <button type="button" class="btn btn-default">Middle</button>
          <button type="button" class="btn btn-default">Right</button>
        </div>
    -->
    <div class="form-group">
      <label class="text options">Available To</label>
      <div class="btn-group" data-toggle="buttons-checkbox" data-toggle-name="list[typenum]">
        <button type="button" name="availability" class="btn btn-go" value="2" data-toggle="button">Everyone</button>
        <button type="button" name="availability" class="btn btn-caution" value="1" data-toggle="button">Friends Only</button>
        <button type="button" name="availability" class="btn btn-stop" value="0" data-toggle="button">Just Me</button>
      </div>
      <input type="hidden" name="list[typenum]" value="<%= @list.typenum.to_s %>" data-toggle-default="2"/>
    </div>
    <%# token_input_field f %>
    <%# f.input :notes, placeholder: "Notes about the list", input_html: {cols: 125, rows: 2, "data-type" => "json"} %>
    <%= form_actions f, submit_label: "Create List", cancel_path: lists_path %>
<% end %>
