<tr id="<%= dom_id item %>">
	<td>
      <%= item.id.to_s %></td>
	<td>
        <%= link_to_modal item.name.truncate(80), list_path(item) %><br>
	</td>
	<td>
      <%= taggable_list item %>
    </td>
	<td>
      <%= item.notes.truncate(200) %>
    </td>
	<td>
		<% permitted_to?(:edit, :lists) do %>
			<%= button_to_modal 'Edit', edit_list_path(item) %>
		<% end %>
		<% permitted_to?(:destroy, :lists) do %>
			<%= link_to_submit 'Destroy',
                              item,
                              :method => :delete,
                              :class => "btn btn-default btn-xs btn-danger",
                              confirm: "Are you sure you want to destroy '#{item.name}'? There's no going back!" %>
		<% end %>
	</td>
</tr>
