<% list = decorator.object %>
  <% if params[:access] != "owned" %>
      <td>
        <%= link_to_submit list.owner.handle, user_path(list.owner), :mode => :modal %>
        <br>
      </td>
  <% end %>
  <td>
    <%= link_to_submit list.name.truncate(80), list_path(list) %>
    <br>
  </td>
  <td>
    <%= list.description.truncate(200) unless list.description.blank? %>
  </td>
  <td>
    <% list.included_tags.each do |tag| %>
        <span><%= link_to_submit tag.typedname(true), tag_path(tag), :mode => :modal %></span><br>
    <% end %>
  </td>
  <td>
    <%# labelled_quantity list.entity_count, "item" %>
    <%= labelled_quantity ListServices.new(list).tagging_scope(current_user_or_guest_id).count, "item" %>
  </td>
  <td>
    <%= collectible_buttons_panel decorator, edit_button: response_service.admin_view? %>
   </td>
