<%= render "show_card"  %>
<% list = decorator.object %>
    <h3><%= list.name %></h3>

    <p>
      <%= list.description %>
    </p>

    <p>
      <%= list.notes %>
    </p>

    <% unless (enum = tag_list ListServices.new(list).pulled_tags).blank? %>
        <p>
          This list includes everything tagged with <%= enum %>.
        </p>
    <% end %>

    <%= collectible_buttons_panel decorator, :edit_button => (list.owner == current_user) %>

