<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item card-grid js-masonry entity-card list-card <%= decorator.dom_id %>"
         onload="RP.masonry.onload(event)"
         data-masonry-options='{
            "gutter": 10,
            "itemSelector": ".grid-item",
            "stamp": ".stamp" }'>
      <!--"columnWidth": 200,-->
      <!--onload="RP.masonry.onload(event)"-->
      <div class="stamp avatar card-column" <%= 'style=display:none' if !presenter.card_avatar? %>>
        <%= presenter.card_avatar %>
      </div>
      <div class="stamp title">
        <%= collectible_vote_buttons decorator.object, class: 'stamp votes' unless decorator.object == response_service.user %>
        <%= presenter.card_homelink class: 'title-link' %>
        <%= collectible_collect_button decorator %>
        <%# collectible_list_menu decorator, response_service.user, {} %>
      </div>
      <%# presenter.card_aspects.collect { |aspect| presenter.card_aspect_rendered aspect }.compact.each do |item_content| %>
      <% presenter.rendered_aspects do |aspect, content | %>
          <div class="grid-item card-column <%= aspect %>">
            <%= content %>
          </div>
      <% end %>
      <div class="lower-content">
        <% if (decorator.object == response_service.user) || response_service.admin_view? %>
            <%= collectible_tools_menu decorator, 'lg' %>
        <% else %>
            <%= collectible_share_button decorator, 'lg' %>
        <% end %>
      </div>
    </div>
    <div class="container-fluid card-item entity-card list-card">
      <%= collectible_vote_buttons decorator.object %>
      <table style="width: 100%">
        <tr>
          <td rowspan="2" class="pic-box" <%= 'style=display:none' if !presenter.card_avatar? %>>
            <div class="pic-inset">
              <%= presenter.card_avatar %>
            </div>
          </td>
          <td valign="top" class="upper-content">
            <div class="title">
              <%= presenter.card_homelink class: 'title-link' %>
              <%= collectible_collect_button decorator, 'lg' %>
              <%# collectible_list_menu decorator, response_service.user, {} %>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-6 col-md-5 col-lg-4">
                <h3>AS COMPILED BY</h3>
                <span class="owner-name"><%= user_homelink decorator.owner %><br></span>
                <div class="owner-pic">
                  <%= present decorator.owner, nil do |up| %>
                      <%= up.card_avatar %>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6 col-md-7 col-lg-8">
                <div class="tags">
                  <% if decorator.tags.present? %>
                      <h3>TAGS</h3>
                  <% end %>
                  <%= presenter.present_field_wrapped 'tags' %>
                </div>
                <p><%= decorator.description %></p>
                <% if (notes = decorator.notes(false)).present? %>
                    <h3>NOTES</h3>
                    <p><%= notes %></p>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="lower-content">
            <%= collectible_upload_button decorator, 'xl' %>
            <%= collectible_tools_menu decorator, 'xl' %>
            <%# collectible_edit_button decorator, 'xl' %>
            <%= collectible_share_button decorator, 'xl' %>
          </td>
        </tr>
      </table>
    </div>
<% end %>
