<% list = decorator.object %>
<%= present decorator do |presenter| %>
    <td class="avatar-column">
      <%# image_enclosure decorator, :fallback_img => image_path('Upload_Icon.jpg') %>
      <%= presenter.card_avatar :fallback_img => image_path('Upload_Icon.jpg') %>
    </td>
    <td class="description-column">
      <%= presenter.card_homelink class: 'title-link' %>
      <%= collectible_collect_button decorator, 'lg' %>
      <br><%= list.description %>
      <hr><%= list.notes %>
    </td>
    <td>
      <%= homelink list.owner %>
      <br>
    </td>
    <td>
      <%= decorator.extract 'tags' %>
      <%# list.included_tags.each do |tag| %>
          <%# homelink tag, :mode => :modal %><br>
      <%# end %>
    </td>
    <td>
      <%# labelled_quantity list.entity_count, "item" %>
      <%= labelled_quantity ListServices.new(list).tagging_query.count, "item" %>
    </td>
    <td class="actions-column">
      <%= collectible_buttons_panel decorator, 'xl', :tools_menu => true %>
    </td>
<% end %>
