<div class="row">
  <div class="col-md-12">
    <% title = (@list.owner == current_user) ? @list.name : "#{@list.owner.handle}'s '#{@list.name}' list" %>
    <%= tag_filter_header title: title %>

    <p>
      <%= @list.description %>
    </p>

    <p>
      <%= @list.notes %>
    </p>

    <% if enum = tag_list( @list.included_tags) %>
        <p>
          This list includes everything tagged with <%= enum %>.
        </p>
    <% end %>

    <%= collectible_action_buttons @decorator, :show, ((@list.owner == current_user) || response_service.admin_view?) %>
  </div>
</div>
<%= render "shared/stream_results_placeholder" %>
