<%= form_for([:recipe_contents, @recipe], url: annotate_recipe_contents_path(@recipe), html: {class: 'annotate-recipe'}) do |f| %>
  <%= form_errors_helper f %>
  <%# render 'recipe_pages/recipe_fields', f: f %>
  <div class="row">
    <div class="col col-md-12">
      <p>Select a part of the recipe, then click a button to identify it.</p>
    </div>
  </div>
  <input class="content" type="hidden" name="recipe[recipeContents][content]" id="recipe_annotation_content" value="<%= @annotation.if_present || @content.if_present || @recipe.content %>">
  <% if @parse_path %>
    <input class="content" type="hidden" name="recipe[recipeContents][parse_path]" id="recipe_parse_path" value="<%= @parse_path %>">
    <%= dialog_submit_button 'parse it!', class: 'trigger hide' %>
  <% else %>
    <input class="anchorPath" type="hidden" name="recipe[recipeContents][anchor_path]" id="recipe_anchor_path">
    <input class="anchorOffset" type="hidden" name="recipe[recipeContents][anchor_offset]" id="recipe_anchor_offset">
    <input class="focusPath" type="hidden" name="recipe[recipeContents][focus_path]" id="recipe_focus_path">
    <input class="focusOffset" type="hidden" name="recipe[recipeContents][focus_offset]" id="recipe_focus_offset">
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <table>
        <tr>
          <th colspan="1"><%= annotation_button :rp_title, class: 'text-only tag-button tag-button-top' %></th>
          <th colspan="6"><%= annotation_button :rp_inglist, class: 'text-only tag-button tag-button-top', style: 'width: 100%' %></th>
          <th colspan="1">&nbsp;&nbsp;&nbsp;</th>
          <th colspan="1"><%= annotation_button :rp_instructions, class: 'text-only tag-button tag-button-top' %></th>
        </tr>
        <tr>
          <td colspan="1">&nbsp;</td>
          <td colspan="6"><%= annotation_button :rp_ingline, class: 'text-only tag-button tag-button-mdl', style: 'width: 100%' %></td>
          <td colspan="1">
          </td>
          <td colspan="1">
            <%# annotation_button :tag, class: 'text-only', style: 'width: 60%; float: right;' %>
            <%= tag :input, {
                name: 'commit',
                class: 'dialog-submit-button',
                style: 'background-color: #488158;
                        border-color: #ece6cd;
                        border-radius: 6px;
                        border-width: 3px;
                        float: right;
                        padding: 6px;
                        font-size: .8em;
                        vertical-align: bottom;
                        position: relative;
                        top: 20px;',
                type: 'submit',
                value: 'Add Name',
                data: {'recipe[recipe_contents][token]' => 'tag', method: 'post' } } %>
          </td>
        </tr>
        <tr>
          <td colspan="1">&nbsp;</td>
          <td colspan="2">
            <%= annotation_button :rp_amt, class: 'text-only tag-button tag-button-mdl' %>
          </td>
          <td colspan="2">
            <%= annotation_button :rp_presteps, class: 'text-only tag-button tag-button-mdl' %>
          </td>
          <td colspan="2">
            <%= annotation_button :rp_ingspec, class: 'text-only tag-button tag-button-mdl' %>
          </td>
        </tr>
        <tr>
          <td colspan="1">&nbsp;</td>
          <td colspan="2" class="bottom">
            <%= annotation_button :rp_num, class: 'text-only tag-button tag-button-btm' %>
            <%= annotation_button :rp_unit, class: 'text-only tag-button tag-button-btm' %>
          </td>
          <td colspan="2" class="bottom">
            <%= annotation_button :rp_condition, class: 'text-only tag-button tag-button-btm' %>
          </td>
          <td colspan="2" class="bottom">
            <%= annotation_button :rp_ingname, class: 'text-only tag-button tag-button-btm' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<!--Submitting the modified content for final saving; content will be set in JS -->
<%= simple_form_for(@recipe) do |f| %>

  <%# f.hidden_field :content %>
  <input type='hidden' name='recipe[content]' id='recipe_content'>

  <div class='modal-footer'>
    <%= dialog_submit_button 'Save', disabled: true %>
    <%= dialog_cancel_button 'Cancel', data: {:'oncancel' => recipe_contents_path(@recipe)} %>
  </div>
<% end %>
