<% if response_service.injector? %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name, response_service.redirect_params), :html => {'data-type' => 'json'}) do |f| %>
        <div class="signin">
          <strong>Sign in with a password:</strong><br>
          <%# form_errors_helper f, resource %>
          <%= flash_all(false) %>
          <div class="signin_credentials">
            <%= f.label :login, "Username or Email".html_safe, class: "signin_element" %>
            <%= f.text_field :login, class: "signin_element" %>
            <%= f.label :password, class: "signin_element" %>
            <%= f.password_field :password, class: "signin_element" %>
          </div>
          <div class="signin_go">
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            <% end -%>
            <div style="width:100%;height:40px;"><%= f.submit "Sign In", class: "btn btn-success dialog-submit-button" %></div>
            <div style="width:100%"><%= link_to_submit "Forgot Password", new_user_password_path(response_service.redirect_params), mode: :injector, class: "get_password" %></div>
          </div>
        </div>
    <% end %>
<% else %>
    <%# logger.debug "(in sessions form) CSRF tag: #{form_authenticity_token}" %>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= form_errors_helper f %>
        <%= f.input :login, label: 'Username <b>or</b> Email'.html_safe, autofocus: resource.login.blank? %>
        <%= f.input :password, label: "Password", autofocus: !resource.login.blank? %></p>
        <%# if false && devise_mapping.rememberable? -%>
            <%# f.input :remember_me,
                        :as => :boolean,
                        :label => false,
                        :inline_label => true,
                        value: 1,
                        input_html: {value: '1'} %>
        <%# end -%>
        <%= f.submit 'SIGN IN', class: 'dialog-submit-button btn btn-xl center-button free' %>
        <p style="text-align: right; margin-bottom: 0px; margin-top: 10px;">
          <%= link_to_submit 'Forgot Password', new_user_password_path, mode: :modal %>
        </p>
        <%# form_actions f,
                         submit_label: "SIGN IN",
                         cancel_path: home_path,
                         class: 'dialog-submit-button btn btn-xl center-button free' %>
    <% end %>
<% end %>
