<%# Fields for a new-feed dialog %>
<%= modal_dialog :new_feed, "Add a Feed" do %>
  <%= simple_form_for @feed, url: create_feed_path, html: { class: "new_feed json", 'data-type' => :json } do |f| %>
		<div class="modal-body">
		  <%= form_errors_helper f %>
		  <%= f.input :url, label: "Paste the URL of an RSS feed here and click 'Add Feed'", placeholder: "http://blogs.somedomain.com/rss.xml", input_html: { cols: 125, rows: 2, "data-type" => "json" } %>
		</div>
	  <div class="modal-footer">
			<%= f.button :submit, "Add Feed" %>
	  </div>
	<% end %>
<% end %>
