<%= simple_form_for @feed, html: {class: "new_feed json", 'data-type' => :json} do |f| %>
    <%# flash_all %>
    <%= form_errors_helper f %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :title %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :description, input_html: { rows: 3 } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :approved, :as => :boolean, label: "Visible (approved for feedthrough)" %>
        <%# f.input :feedtype, collection: Feed.feedtype_selection %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :url, input_html: {cols: 125, rows: 1} %>
      </div>
    </div>
    <%# f.button :submit, "Save" %>
    <%= form_actions f, cancel_path: feeds_path %>
<% end %>
