<h3>Editing Feed "<%= @feed.title %>"</h3>

<%= render 'edit_form' %>

<% permitted_to?(:destroy, :feeds) do %>
  <%= link_to 'Destroy', @feed, :method => :delete, :class => "btn btn-default btn-xs btn-danger", data: { confirm: 'Are you sure?'} %>
<% end %>

<%= button_to_submit 'Show', @feed, mode: :modal %>
<%= button_to_submit 'Back', feeds_path %>
