<tr id="feed<%= @feed.id.to_s %>">
	<td><%= @feed.id.to_s %></td>
	<td>
		<%= link_to @feed.title.truncate(80), feed_path(@feed) %><br>
		<%= @feed.description  %><br>
		<%= link_to @feed.url.truncate(40), @feed.url %>
	</td>
	<td><%= taggable_list @feed %></td>
	<td><%= @feed.feedtypename %></td>
	<td><%= link_to @feed.site.name, site_path(@feed.site) %></td>
	<% permitted_to?(:approve, :feeds) do %>
		<td><%= feed_approval %></td>
	<% end %>
	<td>
		<% if @user.feeds.include?(@feed) %>
			<%= link_to 'Unsubscribe', remove_feed_path(@feed), class: "btn btn-default btn-xs", method: :post %>
		<% else %>
			<%= link_to 'Subscribe', collect_feed_path(@feed), class: "btn btn-default btn-xs", remote: true %>
		<% end %>
		<% permitted_to?(:edit, :feeds) do %>
			<%= button_to_modal 'Edit', edit_feed_path(@feed) %>
		<% end %>
		<% permitted_to?(:destroy, :feeds) do %>
			<%= link_to('Destroy', @feed, :method => :delete, :class => "btn btn-default btn-xs btn-danger", confirm: 'Are you sure?') %>
		<% end %>
	</td>
</tr>
