<%# Fields for a new-feed dialog %>
<%= dialogHeader :new_feed, "Add a Feed", @area %>
  <%= simple_form_for @feed, html: { class: "new_feed json", 'data-type' => :json } do |f| %>
		<div class="modal-body">
		  <%= f.input :url, label: "Paste URL here and click 'Add Feed' or hit Enter/Return", placeholder: "http://blogs.somedomain.com/rss.xml", input_html: { cols: 125, rows: 2, "data-type" => "json" } %>
		</div>
	  <div class="modal-footer">
			<%= f.button :submit, "Add Feed" %>
	  </div>
	<% end %>
<%= dialogFooter %>
