<%# Fields for a new-feed dialog %>
<%= dialogHeader :new_feed, "Add a Feed", @area %>
	<div class="modal-body">
	  <%= simple_form_for @feed, html: { class: "new_feed json" } do |f| %>
		  <%= f.input :url, label: "Paste URL here and click 'Add Feed' or hit Enter/Return", placeholder: "http://blogs.somedomain.com/rss.xml" %>
			<%= f.button :submit, :label=>"Add Feed" %>
		<% end %>
	</div>
  <div class="modal-footer">
    Whatever goes in the footer goes here.
  </div>
<%= dialogFooter %>
