<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="feed_field">
    <%= f.label :url %><br />
    <%= f.text_area :url %>
  </div>

  <div class="feed_field">
		<%= f.label :feedtype -%><br />
		<%= f.select :feedtype,  Feed.feedtype_selection %>
 </div>

  <div class="feed_field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="feed_field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>

 <div class="feed_field">
		<%= f.label :approved, "Approved for feed-through" %>
		<%= f.check_box :approved %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
