<h3>Listing feeds</h3>

<table>
  <tr>
    <th>Description</th>
    <th>Type</th>
    <th>Approved</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.description %></td>
    <td><%= feed.feedtypename %></td>
    <td><%= feed.approved ? "Y" : (feed.approved.nil? ? "" : "N") %></td>
    <td><%= link_to feed.url.truncate(50), feed.url %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed', new_feed_path %>
