<h3><%= @feed.title %></h3>
<p>
  <%= @feed.description %>
</p>

<p>
  <b>Type:</b> <%= @feed.feedtypename %>
</p>
<% if @feed.site %>
  <p>
    <b>From Site:</b>
    <%= link_to_submit @feed.site.name, site_path(@feed.site), mode: :modal %>
  </p>
<% end %>
<% permitted_to?(:approve, :feeds) do %>
    <p>
      Feed <%= feed_approval @feed %>
    </p>
<% end %>
<%= feed_buttons @decorator, button_size: "sm" %>
<%= link_to_submit 'Back to Feeds', (response_service.admin_view? ? feeds_path(:access => :all) : feeds_path), button_size: "sm", mode: :partial %>
<%= stream_element :body, "show_entries" %>
