<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
  <b>Type:</b>
  <%= @feed.feedtypename %>
</p>

<p>
  <%= (@feed.approved ? "Approved" : "Not Approved")+" for Feedthrough" %>
</p>

  <%= button_to "Approve feedthrough", "#{@feed.id}/approve?approve=Y"  %>
  <%= button_to "Block feedthrough", "#{@feed.id}/approve?approve=N"  %>

<p>
  <b>Description:</b>
  <%= @feed.description %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>

<%= feedlist %>
