<h3><%= @feed.title %></h3>
<p>
  <%= @feed.description %>
</p>

<p>
  <b>Type:</b> <%= @feed.feedtypename %>
</p>
<% if @feed.site %>
  <p>
    <b>From Site:</b>
    <%= link_to_submit @feed.site.name, site_path(@feed.site), mode: :modal %>
  </p>
<% end %>
<% permitted_to?(:approve, :feeds) do %>
    <p>
      Feed <%= feed_approval @feed %>
    </p>
<% end %>
<%= feed_collectible_buttons @decorator, list_button: true, vote_button: true %>
<%= stream_element :body, "show_entries" %>
