<% content_for :notification_content, flush: true do %>
    <% source = notification.notifier %>
    <% event = notification.notifiable %>
  <div class='notification_list <%= notification.opened? ? "opened" : "unopened" %>'>
    <div class="notification_list_cover"></div>
    <div class="list_image"></div>
    <div class="list_text_wrapper">
      <p class="list_text">
        <% if event.present? %>
            <% event.expression current_user do |subject, verb, object, indirect_object| %>
                <%= event.complete_sentence notifications_format_subject(notification, subject),
                                            verb,
                                            object,
                                            indirect_object %>
            <% end %>
            <% if notification.group_member_exists? %>
                <%= " #{notification.group_notification_count} #{notification.notifiable_type.humanize.pluralize.downcase} including" %>
            <% end %>
            <%# event.printable_notifiable_name(notification.target) %>
            <%# "in #{notification.group.printable_group_name}" if notification.group.present? %>
        <% else %>
            <strong><%= notification.notifier.present? ? notification.notifier.printable_notifier_name : 'Someone' %></strong>
            <% if false && notification.group_member_notifier_exists? %>
                <%= " and #{notification.group_member_notifier_count} other" %>
                <%= notification.notifier.present? ? notification.notifier.printable_type.pluralize.downcase : 'people' %>
            <% end %>
          <% if notification.group_member_exists? %>
            <%= " #{notification.group_notification_count} #{notification.notifiable_type.humanize.pluralize.downcase}" %>
          <% else %>
            <%= " a #{notification.notifiable_type.humanize.singularize.downcase}" %>
          <% end %>
          <%= "in #{notification.group.printable_group_name}" if notification.group.present? %>
          but the notifiable is not found. It may have been deleted.
        <% end %>
        <br>
        <span><%= notification.created_at.strftime("%b %d %H:%M") %></span>
      </p>
    </div>
  </div>
<% end %>

<div class='<%= "notification_#{notification.id}" %>'>
  <% if notification.unopened? %>
    <%= block_to_submit open_notification_path_for(notification, reload: false), method: :post, remote: true, class: "unopened_wrapper" do %>
      <div class="unopned_circle"></div>
      <div class="unopned_description_wrapper">
        <p class="unopned_description">Open</p>
      </div>
    <% end %>
    <%= block_to_submit open_notification_path_for(notification, move: true, format: :json), method: :post do %>
      <%= yield :notification_content %>
    <% end %>
    <div class="unopened_wrapper"></div>
  <% else %>
    <%= block_to_submit move_notification_path_for(notification) do %>
      <%= yield :notification_content %>
    <% end %>
  <% end %>

  <%#= link_to "Move", move_notification_path_for(notification) %>
  <%# if notification.unopened? %>
    <%#= link_to "Open and move (GET)", move_notification_path_for(notification, open: true) %>
    <%#= link_to "Open and move (POST)", open_notification_path_for(notification, move: true), method: :post %>
    <%#= link_to "Open", open_notification_path_for(notification, index_options: @index_options), method: :post %>
    <%#= link_to "Open (Ajax)", open_notification_path_for(notification, reload: false), method: :post, remote: true %>
  <%# end %>
  <%#= link_to "Destroy", notification_path_for(notification, index_options: @index_options), method: :delete %>
  <%#= link_to "Destroy (Ajax)", notification_path_for(notification, reload: false), method: :delete, remote: true %>

</div>
