<div class="message-box">
  <h3 class="share_recipe_title box-header"><%= headline %></h3>
  <% if before_text.present? %>
      <div class="item_text">
        <%= @markdown.render(before_text).html_safe %>
      </div>
  <% end %>

  <div class="cardini">
    <% if decorator.picture %>
        <div class="share_recipe_pic_box">
          <%= image_tag decorator.imgurl %>
        </div>
    <% end %>
    <p class="share_recipe_title">
      <%# if defined?(attachments) %>
        <%# decorator.title %>
      <%# else %>
        <%= homelink decorator %>
      <%# end %>
    </p>
    <p class="share_recipe_description"><%= decorator.description %></p>
  </div>
  <% if after_text.present? %>
      <div class="item_text">
        <%= @markdown.render(after_text).html_safe %>
      </div>
  <% end %>
  <a href="<%= item_link %>" , target="_blank">
    <span class="link-spanner"></span>
  </a>
</div>
