<div class="message">
  <div class="header_content">
    <div class="message_banner">
      <div class="share_recipe_title">
        <% if defined?(attachments) %>
            <%= email_image_tag 'rp-logo-sm.jpg' %>
        <% else %>
            <%= image_tag 'rp-logo-sm.png' %>
        <% end %>
        <div class="banner-text">
          <%= @edition.banner %>
          <br><span class="subhead">All the News that's Fit to Eat</span>
        </div>
      </div>
    </div>
    <% if @edition.opening.present? %>
        <div class="message_content">
          <% if defined?(@recipient) && @recipient.first_name %>
              Dear <%= @recipient.first_name.capitalize %>,
          <% else %>
              Hello,
          <% end %>
          <br><%= @markdown.render(@edition.opening).html_safe %>
        </div>
    <% end %>
  </div>

  <%= show_edition_item @edition.recipe, 'Recipe of the Week', @edition.recipe_before, @edition.recipe_after %>
  <%= show_edition_item @edition.site, 'Site Spotlight', @edition.site_before, @edition.site_after %>
  <%= show_edition_item @edition.condiment, 'Condiment of the Week', @edition.condiment_before, @edition.condiment_after %>
  <%= show_edition_item @edition.list, '\'Tis the Season', @edition.list_before, @edition.list_after %>
  <%= show_edition_item @edition.guest, 'Distinguished Guest', @edition.guest_before, @edition.guest_after %>

  <% if @edition.signoff.present? %>
      <div class="header_content">
        <div class="message_content">
          <%= @markdown.render(@edition.signoff).html_safe %>
        </div>
      </div>
  <% end %>
  <div class="footer">
    <p>
      To unsubscribe from this newsletter, click
      <%= (@recipient && @unsubscribe) ? link_to('here',
                                                 unsubscribe_user_url(
                                                         @recipient,
                                                         id: @unsubscribe,
                                                         :format => :html,
                                                         :mode => :modal),
                                                 target: '_blank') : 'here' %>.
    </p>

    <p><a class="brand" href="<%= rp_url %>">RecipePower</a></p>

    <p>Copyright 2011-2018 by RecipePower. All Rights Reserved</p>
  </div>
</div>
