<p id="notice"><%= notice %></p>

<h1>Listing Editions</h1>

<table>
  <thead>
    <tr>
      <th>Opening</th>
      <th>Recipe/Recipe before/Recipe after</th>
      <th>Site/Site beforeSite after</th>
      <th>Condiment/Condiment before/Condiment after</th>
      <th>List/List before/List after</th>
      <th>Guest/Guest before/Guest after</th>
      <th>Signoff</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td><%= (edition.opening || '').truncate(30) %></td>
        <td><%= edition.recipe_id %>
          <br><%= (edition.recipe_before || '').truncate(30) %>
          <hr><%= (edition.recipe_after || '').truncate(30) %></td>
        <td><%= edition.condiment_type %>: <%= edition.condiment_id %>
          <br><%= (edition.condiment_before || '').truncate(30) %>
          <hr><%= (edition.condiment_after || '').truncate(30) %></td>
        <td><%= edition.site_id %>:
          <br><%= (edition.site_before || '').truncate(30) %>
          <hr><%= (edition.site_after || '').truncate(30) %></td>
        <td><%= edition.list_id %>:
          <br><%= (edition.list_before || '').truncate(30) %>
          <hr><%= (edition.list_after || '').truncate(30) %></td>
        <td><%= edition.guest_type %>: <%= edition.guest_id %>
          <br><%= (edition.guest_before || '').truncate(30) %>
          <hr><%= (edition.guest_after || '').truncate(30) %></td>
        <td><%= (edition.signoff || '').truncate(30) %></td>
        <td><%= link_to 'Show', edition %>
          <br><%= link_to 'Edit', edit_edition_path(edition) %>
          <br><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edition', new_edition_path %>
