<%= form_for(@visitor) do |f| %>

  <div class="field">
    <%= f.label :email.to_s+" (Optional)" %><br />
    <%= f.text_field :baremail %>
  </div>
  <div class="field">
    <%= f.label :question.to_s+" (Optional)" %><br />
    <%= f.text_area :question, :class => "respond_question" %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Take the Survey (Really this time)!" %>
  </div>
<% end %>
