<!--
Expecting the following local variables:
    * picurl: the URL of the picture to be selected
    * pageurl: the URL of the page where the choices will be sourced
-->
<%= modal_dialog :pic_picker, "Pick an Applicable Picture Here", dialog_class: "modal-lg" do %>
    <% pic_select_list = pic_picker_select_list pageurl %>
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="preview">
            <%= page_width_pic picurl %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7">
          <%= flash_notifications_div %>
          <span class="prompt">
            <% if pic_select_list.empty? %>
                <% if pageurl %>
                    It doesn't look like we can extract pictures from the recipe, but you can paste a web address into the text box below.
                <% else %>
                    Type or paste the web address of an image below and click Preview.
                <% end %>
            <% else %>
              Click on a thumbnail to grab it.<br><br>Or, type or paste the web address of an image below and click Preview.
            <% end %>
            </span>
          <% if pageurl && pic_select_list.empty? %>
              <br>(Alternatively, you can visit the recipe's webpage, hit the Cookmark button, and pick a picture from
              there.)
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <input type="text"
                   rel="jpg,png,gif"
                   value="<%= picurl %>"
                   class="icon_picker"
                   style="width: 100%"
                   data-golinkid="<%= golinkid %>"/>
          </div>
        </div>
        <div class="row">
          <%= link_to "Preview", "#", class: "btn btn-info image_preview_button" %>
        </div>
        <%= pic_select_list.html_safe %>
        <%= modal_footer do %>
            <%= link_to "Save", "#", class: "btn btn-lg btn-success pic_picker_okay dialog-submit-button" %>
            <%= dialog_cancel_button "Cancel" %>
        <% end %>
      </div>
    </div>
<% end %>