<h3>Add a Cookmark</h3>
<%= form_for @recipe do |f| %>
    <%= show_errors @recipe.errors %>
    <div class="recipe_url_div">
        <%= f.label :url, "Paste URL here and click the button:**", :id=>"recipe_url_label" %>
        <%= f.text_field :url %><br>
    </div>
    <div class="recipe_title_div">
        <%= f.label :title, "Title:", :id=>"recipe_title_label" %>
        <br><%= f.text_field :title %>
    </div>
    <br><%= f.submit :value=>"Add Cookmark" %>
<% end %>
<div class="lesson">
  **To "cookmark" a recipe for your RecipePower collection:
  <ul>
      <li>Open it up anywhere on the Web.</li>
      <li>Copy its address from the source site. (Viewing the recipe page, select the contents of the browser's address bar and do Edit:Copy.)</li>
      <li>Paste it into the box above.</li>
      <li>Click the Add Cookmark button.</li>
  </ul>
<strong>OR</strong>!! You don't <strong>have</strong> 
to copy and paste URLs to capture recipes.
Instead, click and drag this handy widget into your browser's
bookmarks bar:

<%= bookmarklet %>

<p>
Then, whenever you see a recipe you like on 
the Web, just click the "Cookmark" button and that page will be 
whisked off to your collection. (You need Javascript enabled to use this feature.)
<p>
No no, no need to thank us. Just doing our job here.
</div>
