<%= form_for @recipe do |f| %>
    <%= form_errors_helper f, @recipe %>
    <div class="row">
      <div class="col-md-12">
        <%= gleaning_trigger @decorator %>

        <%= f.label :title, 'Title', :class => 'recipe_field_label' -%>
        <%= gleaning_field @decorator, 'Title' %>
        <br><%= f.text_field :title, :label => false %>

        <%= f.label :title, 'Description', :class => 'recipe_field_label' -%>
        <%= gleaning_field @decorator, 'Description' %>
        <br><%= f.text_area :description, :label => false %>
        <% if permitted_to?(:admin, :recipes) %>
            <br><%= f.label :url, 'URL', :class => 'recipe_field_label' -%>
            <%= f.url_field :url %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <% if permitted_to?(:admin, :recipes) && response_service.admin_view? %>
          <% link_to_submit 'Destroy This Recipe',
                            @decorator.object_path,
                            :class => "pull-left",
                            :style => 'color: #dddddd;',
                            :button_style => :danger,
                            :method => :delete,
                            confirm: "This will permanently remove the #{@decorator.human_name} from RecipePower for good: it can't be undone. Are you absolutely sure you want to do this?" %>
      <% end %>
      <%= dialog_submit_button %>
      <%= dialog_cancel_button %>
    </div>
<% end %>
