<%= content_tag(:div,
                class: "dialog edit_recipe modal at_left hide",
                style: "overflow:visible",
                data: (defined?(@data) ? @data : {})) do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <% unless recipe %>
              <input class="close cancel" data-dismiss="modal" name="commit" type="submit" value="x"/>
          <% end %>
          <h3>Tag That Recipe!</h3>
        </div>
        <form accept-charset="UTF-8" action="/recipes/<%= present_field "rcpID" %>" class="form-inline edit_recipe" data-remote="true" data-type="json" id="edit_recipe_<%= present_field "rcpID" %>">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input name="_method" type="hidden" value="post"/>
          <input name="authenticity_token" type="hidden" value="<%= present_field "authToken" %>"/>

          <div class="modal-body" style="overflow:visible">
            <div class="notifications-panel">
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="edit_recipe_field pic_picker_field">
                  <%= pic_preview_widget present_field("rcpURL"), present_field("rcpPicData"), present_field("rcpPicLink"), present_field("rcpID") %>
                </div>
              </div>
              <div class="col-md-7">
                <div class="control-group">
                  <label class="string optional">Title</label>
                  <textarea id="recipe_title" name="recipe[title]" placeholder="Title" style="width:100%"><%= present_field "rcpTitle" %></textarea>
                </div>
                <div class="control-group">
                  <label class="string optional">Tag(s)</label>
                  <input id="recipe_tagging_user_id" name="recipe[tagging_user_id]" type="hidden" value="<%= present_field "rcpTaggableUserId" %>">
                  <input type="text"
                         class="token-input-field-pending"
                         id="recipe_tagging_tokens"
                         name="recipe[tagging_tokens]"
                         rows="2"
                         size="30"
                         placeholder="Tags"
                         data-pre="<%= @recipe ? @recipe.tagging_tags.map(&:attributes).to_json : "" %>"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="control-group">
                  <input id="recipe_collectible_user_id" name="recipe[collectible_user_id]" type="hidden" value="<%= present_field "rcpCollectibleUserId" %>">
                  <label class="string optional">Notes & Comments</label>
                  <textarea id="recipe_collectible_comment" name="recipe[collectible_comment]" placeholder="Recipe Notes" rows="3" style="width:100%"><%= present_field "rcpComment" %></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn pull-left" type="submit" data-action="/recipes/<%= present_field "rcpID" %>/remove" value="Remove" data-method="post"/>
            <% if permitted_to? :admin, :pages %>
                <input class="btn btn-danger pull-left" type="submit" data-action="/recipes/<%= present_field "rcpID" %>" data-method="delete" value="Destroy" data-confirm="This will remove the recipe from RecipePower and EVERY collection in which it appears. Are you sure this is appropriate?"/>
            <% end %>
            <input name="recipe[collectible_private]" type="hidden" value="0"/>
            <label for="recipe_collectible_private" class="checkbox">
              <input <%= present_field "rcpPrivate" %> id="recipe_collectible_private" name="recipe[collectible_private]" type="checkbox" value="1"/>Private
              cookmark
            </label>
            <input class="cancel btn" data-dismiss="modal" name="commit" type="submit" value="Cancel"/>
            <input class="submit btn btn-primary" name="commit" type="submit" value="Save" data-method="put"/>
          </div>
        </form>
      </div>
    </div>
<% end %>
