  <div class="editRecipe_hdr" style="padding:0;" >
	 <%= image_tag "http://www.recipepower.com/assets/RPlogo.png", class: "small_logo", :alt => "RecipePower" %>
	 <span>clipped this for your collection! Tag it here if you like. (Or <%= link_to_function "not", "retire_iframe();" %>.)</span>
  </div>
<%= form_for @recipe, :html => { style: 'width:auto;height:auto'} do |f| %>
  <%= show_errors @recipe.errors %>
	<div class="editRecipe_field <%= @area %> ">
	  <div class="recipe_pic_div <%= @area %>" >
	    <div class="recipe_pic_preview <%= @area %>">
	      <%= page_fitPic @recipe.picurl, @recipe.id, false, "div.recipe_pic_preview img" %>  
	    </div>  
	      <br />Prefer another picture?<br />Click one!
		  <%# link_to "Pick Picture", "/", :id=>"PicPicker", :data=>"recipe_picurl;div.recipe_pic_preview img" %>
	  </div>
	  <%= f.text_field :picurl, rel: "jpg,png,gif", hidden: true %>
	  <%= pic_picker @recipe.picurl, @recipe.url, @recipe.id %>
	</div>

  <div class="editRecipe_field <%= @area %>", style="margin-right:0.1em;margin-left:0.5em" >
     <div class="editRecipe_element"><%= f.label :title, "Title" -%></div>
     <div class="editRecipe_element"><%= f.label :tag_tokens, "Tags" -%></div>
     <div class="editRecipe_element"><%= f.label :comment, "Notes" -%></div>
  </div>

  <div class="editRecipe_field <%= @area %>", style="margin-left:0.2em" >
	 <% @recipe.check_title %>
     <div class="editRecipe_element">
		<%= f.text_area :title, style: "width:490px", rows: "2" -%>
	 </div>
     <div class="editRecipe_element">
	    <%= f.text_field :tag_tokens, "data-pre" => @recipe.tags.map(&:attributes).to_json, style: "width:490px", rows: "2" -%>
	 </div>
     <div class="editRecipe_element">
		<%= f.text_area :comment, placeholder: "What are your thoughts about this recipe?", style: "width:490px", rows: "2" -%>
	 </div>
  </div>

  <div class="editRecipe_field <%= @area %>">
     <%= f.check_box :private %>
     <%= f.label :private, "Private" %>
    <br><%= f.submit "Save", class: "gobutton #{@area}" %>
	<%# button_to "Forget It", "/recipes/#{@recipe.id.to_s}/remove", class: "gobutton #{@area}" %>
  </div>
<% end %>
