<%= content_tag(:div,
                class: "dialog edit_recipe modal at_left hide",
                style: "overflow:visible",
                data: (defined?(@data) ? @data : {})) do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <% unless recipe %>
              <input class="close cancel" data-dismiss="modal" name="commit" type="submit" value="x"/>
          <% end %>
          <h3>Tag That Recipe!</h3>
        </div>
        <form accept-charset="UTF-8" action="/recipes/<%= present_field "rcpID" %>" class="form-inline edit_recipe" data-remote="true" data-type="json" id="edit_recipe_<%= present_field "rcpID" %>">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input name="_method" type="hidden" value="post"/>
          <input name="authenticity_token" type="hidden" value="<%= present_field "authToken" %>"/>

          <div class="modal-body" style="overflow:visible">
            <div class="notifications-panel">
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="edit_recipe_field pic">
                  <div class="pic_preview img-polaroid">
                    <img alt="Some Image Available" id="rcpPic<%= present_field "rcpID" %>" src="<%= present_field "rcpPicSafeURL" %>" style="width:100%; height: auto"/>
                    <input type="hidden" id="recipe_picurl" name="recipe[picurl]" rel="jpg,png,gif" size="30" type="text" value="<%= present_field "rcpPicURL" %>"/>
                  </div>
                  <div class="pic_picker_link">
                    <a type="button" href="/" class="pic_picker_golink btn btn-link hide" data="recipe_picurl;div.pic_preview img" value="Choose Picture">
                      Pick Picture </a>

                    <div class="pic_picker" data-url="/recipes/<%= present_field "rcpID" %>/edit?pic_picker=true" style="display:none;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="control-group">
                  <textarea id="recipe_title" name="recipe[title]" placeholder="Title" style="width:100%"><%= present_field "rcpTitle" %></textarea>
                </div>
                <div class="control-group">
                  <input type="text" class="token-input-field" id="recipe_tag_tokens" name="recipe[tag_tokens]" rows="2" size="30" placeholder="Tags"/>
                </div>
                <div class="control-group">
                  <textarea id="recipe_comment" name="recipe[comment]" placeholder="Recipe Notes" rows="3" style="width:100%"><%= present_field "rcpComment" %></textarea>
                </div>
                <div class="control-group">
                  <div class="btn-group" data-toggle="buttons-checkbox" data-toggle-name="recipe[status]">
                    <button type="button" class="btn btn-default" value="1" data-toggle="button"><%= t :recipe_status_high %></button>
                    <button type="button" class="btn btn-default" value="2" data-toggle="button"><%= t :recipe_status_medium %></button>
                    <button type="button" class="btn btn-default" value="4" data-toggle="button"><%= t :recipe_status_low %></button>
                  </div>
                  <input type="hidden" name="recipe[status]" value="<%= present_field "rcpStatus" %>" data-toggle-default="8"/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn pull-left" type="submit" data-action="/recipes/<%= present_field "rcpID" %>/remove" value="Remove" data-method="post"/>
            <% if permitted_to? :admin, :pages %>
                <input class="btn btn-danger pull-left" type="submit" data-action="/recipes/<%= present_field "rcpID" %>" data-method="delete" value="Destroy" data-confirm="This will remove the recipe from RecipePower and EVERY collection in which it appears. Are you sure this is appropriate?"/>
            <% end %>
            <input name="recipe[private]" type="hidden" value="0"/>
            <label for="recipe_private" class="checkbox">
              <input <%= present_field "rcpPrivate" %> id="recipe_private" name="recipe[private]" type="checkbox" value="1"/>Private
              cookmark
            </label>
            <input class="cancel btn" data-dismiss="modal" name="commit" type="submit" value="Cancel"/>
            <input class="submit btn btn-primary" name="commit" type="submit" value="Save" data-method="put"/>
          </div>
        </form>
      </div>
    </div>
<% end %>
