<h2><%= presenter.decorator.title %></h2>
<% presenter.content_for(:rp_yield) do |html| %>
  <p>Yield: <%= html %></p>
<% end %>
<% presenter.content_for(:rp_author) do |html| %>
  <p>Author: <%= html %></p>
<% end %>
<% presenter.content_for(:rp_inglist) do |html, label=nil| %>
  <% if label.nil? %>
    <h3>Ingredients</h3>
  <% else %>
    <h4><%= label %></h4>
  <% end %>
  <ul class="rp_inglist">
    <%= html %>
  </ul>
<% end %>
<h3>Instructions</h3>
<% presenter.instructions_results do |instrs_or_inglist| %>
  <% if instrs_or_inglist.is_a?(String) %>
    <ul>
      <% sequence_instructions(instrs_or_inglist) do |line| %>
        <li><%= line %></li>
      <% end %>
    </ul>
  <% elsif instrs_or_inglist.matches?('.rp_ingline') %>
    <!--    We've got either an ingredient list or an ingredient line -->
    <ul class="rp_inglist">
      <%= presenter.assemble_tree(instrs_or_inglist) %>
    </ul>
  <% end %>
<% end %>
