<%= form_for @recipe, :html => { class: 'edit_recipe json'} do |f| %>
  <%= show_errors @recipe.errors %>
  <div class="recipe_pic_div <%= @area %> recipe_field_label" >
    <div class="recipe_pic_preview">                                     
      <%= page_fitPic @recipe.picurl, @recipe.id, "MissingPicture.png", "div.recipe_pic_preview img" %>  
    </div>                                                    
	  <%= link_to "Pick Picture", "/", :id=>"PicPicker", :data=>"recipe_picurl;div.recipe_pic_preview img" %>
  </div>
  <%= f.text_field :picurl, rel: "jpg,png,gif", hidden: true %>
  <%= pic_picker @recipe.picurl, @recipe.url, @recipe.id %>
  <br class="clear">

  <div class="recipe_tags_div <%= @area %>" >
     <%= f.label :tag_tokens, "Tags", :class=>"recipe_field_label" -%>
     <br><%= f.text_field :tag_tokens, rows: "2", "data-pre" => @recipe.tags.map(&:attributes).to_json -%>
  </div>

  <div class="recipe_field_div <%= @area %>" >
     <%= f.label :comment, "Notes", :class=>"recipe_field_label" -%>
     <br><%= f.text_area :comment, placeholder: "What are your thoughts about this recipe?", rows: "3" -%>
  </div>

  <div class="recipe_field_div <%= @area %>" >
     <%= f.label :title, "Title", :class=>"recipe_field_label" -%>
	 <% @recipe.check_title %>
     <br><%= f.text_area :title, rows: "3" -%>
  </div>

  <div class="recipe_field_div <%= @area %>">
     <%= f.label :status,  "Status: ",:class=>"recipe_field_label" -%>
     <%= f.select :status,  Recipe.status_select %>
 </div>

 <div class="recipe_field_div <%= @area %>">
     <%= f.check_box :private %>
     <%= f.label :private, "Private (for my eyes only)", :class=>"recipe_field_label" %>
  </div>

  <%= f.submit "Save", class: "save-tags-button" %>
  <%= f.submit "Cancel", class: "save-tags-button cancel" %>
<% end %>
<% if permitted_to? :remove, @recipe %>
  <%= button_to "Remove From Collection", "/recipes/#{@recipe.id.to_s}/remove", class: "save-tags-button" %>
<% end %>
<% if permitted_to? :destroy, @recipe %>
  <%= button_to "Destroy this Recipe", "/recipes/#{@recipe.id.to_s}/destroy", class: "save-tags-button", :confirm => "This will remove the recipe from RecipePower and EVERY collection in which it appears. Are you sure this is appropriate?" %>
<% end %>
