<div class="edit_recipe_hdr" >
	<%= image_tag "http://www.recipepower.com/assets/RPlogo.png", class: "small_logo", :alt => "RecipePower" %>
	<span>has added this to your collection. Tag it here if you like. (Or <%= link_to_function "not", "retire_iframe();" %>.)</span>
</div>
<%= form_for @recipe, :html => { style: 'width:auto;height:auto'} do |f| %>
  <%= form_errors_helper f, @recipe %>

	<div class="left">
		<%= pic_field @recipe, :picurl, f, false %>
		<% unless @recipe.picurl.blank? %>
				<p>Prefer another picture?<br />Click one!</p>
		<% end %>
	</div>
	
	<div class="middle">
	  <div class="edit_recipe_field" >
			<%= f.label :title, "Title" -%>
			<% @recipe.check_title %>
			<div class="edit_recipe_field_textarea">
				<div class="expandingArea">
				  <pre><span></span><br></pre>
				  <%= f.text_area :title, rows: "2" -%>
				</div>			
			</div>			
	  </div>

	  <div class="edit_recipe_field tags" >
			<%= f.label :x_tag_tokens, "Tags" -%>
			<%= f.text_field :x_tag_tokens, rows: "1", "data-pre" => @recipe.x_tags.map(&:attributes).to_json -%>
	  </div>

	  <div class="edit_recipe_field" >
			<%= f.label :comment, "Notes" -%>
			<div class="edit_recipe_field_textarea">
				<div class="expandingArea">
				  <pre><span></span><br></pre>
				  <%= f.text_area :comment, placeholder: "What are your thoughts about this recipe?" -%>
				</div>			
			</div>			
	  </div>
  </div>

	<div class="right">
	  <div class="edit_recipe_field ">
	     <%= f.check_box :private %>
	     <%= f.label :private, "Private" %>
	  </div>
		<%= f.submit "Save", class: "gobutton at_top" %>
		<%# button_to "Forget It", remove_recipe_path(@recipe), class: "gobutton #{@area}" %>
		<%= hidden_field_tag 'layout', 'injector' %>
  </div>
<% end %>
