<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item recipe-card">
      <div class="row title-bar">
        <div class="col-md-6 col-sm-8 left-matter">
          <div class="title">
            <%# link_to decorator.title, decorator.url, class: "title-link", data: {report: polymorphic_path([:touch, decorator.object])} %>
            <%= presenter.external_link class: "title-link" %>
            <%= collectible_collect_icon decorator, "lg" %>
          </div>
          <div class="source">
            source: <%= link_to decorator.sourcename, decorator.sourcehome, class: "source-link" %>
          </div>
        </div>
        <div class="col-md-6">
          <%= collectible_vote_buttons decorator.object %>
        </div>
      </div>
      <table style="width: 100%">
        <tr>
          <td rowspan="2" style="width: 40%;">
            <div class="recipe-pic" style="width: 100%;">
              <% if (vid = presenter.field_value "rcpVideo") %>
                  <div id="vidbox">
                    <div id="vbdummy">
                      <div id="vbelement">
                        <iframe width="100%" height="100%" src="<%= vid %>" frameborder="0"></iframe>
                      </div>
                    </div>
                  </div>
              <% elsif !(presenter.field_value "rcpPicURL").blank? %>
                  <img src="<%= presenter.present_field "rcpPicURL" %>" class="recipe-preview pull-right" width="100%">
              <% end %>
            </div>
          </td>
          <td valign="top" class="upper-content">
            <div class="tags">
              <%= presenter.present_field_wrapped "tags" %>
            </div>
            <p class="hide-if-empty"><%= presenter.present_field_wrapped "rcpDescription" %></p>
            <% if params[:accept_invitation_link] %>
                <div style="width: 400px; margin: 0 auto;">
                  <%= link_to "Save on RecipePower", params[:accept_invitation_link], class: "btn btn-lg btn-success", style: "margin-right:40px; margin-top:30px" %>
                  <%= link_to "Go to Recipe", decorator.url, class: "btn btn-lg btn-info", style: "margin-top: 30px" %>
                </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="lower-content">
            <%= collectible_share_button decorator, "xl" %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

