<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item recipe-card">
      <div class="row title-bar">
        <div class="col-md-6 col-sm-8 left-matter">
          <div class="title">
            <%= link_to decorator.title, decorator.url, class: "title-link", data: { report: polymorphic_path([:touch, decorator.object]) } %>
          </div>
          <div class="source">
            from <%= link_to decorator.sourcename, decorator.sourcehome, class: "source-link" %>
          </div>
        </div>
        <div class="col-md-6 right-matter">
          <%= collectible_vote_buttons decorator.object %>
        </div>
      </div>
      <div class="row">
        <% if (vid = presenter.field_value "rcpVideo") %>
            <div class="recipe-pic col-md-6">
              <div id="vidbox">
                <div id="vbdummy">
                  <div id="vbelement">
                    <iframe width="100%" height="100%" src="<%= vid %>" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
        <% elsif !(presenter.field_value "rcpPicURL").blank? %>
            <div class="recipe-pic col-md-6">
              <img src="<%= presenter.present_field "rcpPicURL" %>" class="recipe-preview pull-right" width="100%">
            </div>
        <% end %>
        <div class="col-md-6 <%= (defined?(wide) && wide) ? '6' : '12' %>">
          <!--<h3><%# presenter.field_value "title" %></h3>-->

          <div class="panel pull-left panel-default hide-if-empty" style="width:100%">
            <div class="panel-heading">
              <p class="hide-if-empty">A recipe
                <span class="hide-if-empty"> by <%= presenter.present_field_wrapped "Author_tags" %></span>
                <span class="hide-if-empty"> in <%= presenter.present_field_wrapped "Source_tags" %></span>
                <span class="hide-if-empty"> from <%= presenter.present_field_wrapped "site" %></span>.</p>

              <p class="hide-if-empty"><%= presenter.present_field_wrapped "rcpDescription" %></p>
            </div>
            <div class="panel-body">
              <% presenter.fields_list.each do |nv| %>
                  <%= render "shared/show_labelled", label: nv.first, content: nv.last %>
              <% end %>
            </div>
          </div>
          <% if params[:accept_invitation_link] %>
              <div style="width: 400px; margin: 0 auto;">
                <%= link_to "Save on RecipePower", params[:accept_invitation_link], class: "btn btn-lg btn-success", style: "margin-right:40px; margin-top:30px" %>
                <%= link_to "Go to Recipe", decorator.url, class: "btn btn-lg btn-info", style: "margin-top: 30px" %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="hide-if-empty">
        <div class="row">
          <div class="col-sm-12"><h3>My Two Cents</h3></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-2"></div>
          <div class="col-sm-8 col-md-8">
            <%= presenter.present_field_wrapped "comments_mine" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

