<%= simple_form_for @tagset do |f| %>
  <%= form_errors_helper f %>

  <div class="form-inputs">
    <%= f.text_field :title %>
    <%= f.select :tagtype, options_from_collection_for_select(Tag.type_selections(true, true), :last, :first, @tagset.tagtype) || 0,
                   :include_blank => false %>
                   <%# :onchange => %Q{RP.submit.onselect( event ); } %>
    <%= token_input_div f %>
  </div>

  <div class="form-actions">
    <%= f.button :'forms.labels' %>
  </div>
<% end %>
