Here's where you connect and disconnect RecipePower from your outside accounts.
<% unless @authentications.count == 0 %>
    <hr style="margin:10px;">
<% end %>
<%= render 'current' %>
<% if @authentications.count < 3 %>
    <hr style="margin:10px;">
    <% prompt = (@authentications.empty? ? "Click on a" : "Click another")+" service to link it to your account" %>
    <%= render 'authentications/possible_old', prompt: prompt, origin: authentications_path(format: response_service.format, mode: response_service.mode) %>
<% end %>
<div class="form-group actions">
  <%= button_to_submit "Profile", users_profile_path( section: "profile" ), mode: :modal, class: 'dialog-button dialog-footer-button' %>
  <%= button_to_submit "Change Password", edit_user_registration_path, mode: :modal, class: 'dialog-button dialog-footer-button' %>
  <%= dialog_cancel_button "Done" %>
</div>
