<% prompt ||= "You can sign in using one of these fine services:" %>
<% origin ||= nil %>
<% originator ||= response_service.originator %>
<% intention ||= nil # Set to 'signup' if creating a new account %>
<div class="auth_poss <%= response_service.format_class %>" style="overflow: visible">
  <div class="row">
    <div class="col-md-12" style="text-align: right;"><%= prompt.html_safe %>
      <%= auth_possible "Facebook", origin, originator, intention %>
      <%= auth_possible "Google", origin, originator, intention, :svc_lower => "google_oauth2" %>
      <%= auth_possible "Twitter", origin, originator, intention %>
      <%# auth_possible "Aol", origin, originator, intention %>
      <%# auth_possible "OpenID", origin, originator, intention, :svc_lower => "open_id" %>
      <%# auth_possible "Yahoo", origin, originator, intention %>
    </div>
  </div>
</div>
