<%= modal_dialog :sign_in, 
	"Sign In Please", 
	response_service.modal_options do %>
		<%= render partial: 'shared/authentications_current' %>
		<%= render partial: 'shared/authentications_possible' %>
		<hr>
		<div class="prompt">...Or sign in directly<br></div>
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), ) do |f| %>
		  <%= form_errors_helper f %>
			<div class="row">
				<div class="col-md-6">
				  <%= f.input :login, label: "Username or Email (your choice)" %>
				</div>
				<div class="col-md-6">
				  <%= f.input :password %></p>
				</div>
			</div>
		  <% if devise_mapping.rememberable? -%>
				<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true, input_html: { value: '1' } %> 
		  <% end -%>
			<p style="text-align:right">
			  <%= f.submit "Sign in", class: "btn btn-success" %>
			</p>
		<% end %>
		<%= link_to_modal "Forgot Password", new_user_password_path %>
<% end %>
