<% title "Sign In Options" %>
<% if !@partial %>
<%= render partial: 'shared/authentications_sidebar' %>
<% end %>
<%= flash_helper %>
<% if current_user %>
	<h3>Manage Sign-in Services</h3>
<% end %>
<div class="signin_all<%= "_dlog " if @partial %> dialog" >
  <div class="auth_signin<%= "_dlog" if @partial %>" >
    <%= render partial: 'shared/authentications_current' %>
    <%= render partial: 'shared/authentications_possible' %>
  </div>
  <% if !current_user %>
    <div class="sign<%= "_dlog" if @partial %>" >
	  <strong>Rather use a RecipePower account? <br></strong><hr>
	  <%= render partial: "shared/slug_signin" %>
	  <div class="or" ><strong>OR</strong></div>
	  <%= render partial: "shared/slug_signup" %>
	</div>
  <% end %>
</div>
<br class="clear">