<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<% decorator ||= viewparams.decorator %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="row collection-header">
      <div class="col-md-7 header-element collection-nav <%= viewparams.result_type %>">
        <div class="row">
          <div class="col-md-12 navlink">
            <%= link_to_submit "#{sprite_glyph :'send-left', 'lg'}&nbsp;[last page]".html_safe, collection_user_path(decorator.object), title: 'Back to Collection' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 collection-label <%= viewparams.result_type %>">
            <%= viewparams.panel_title(true).downcase %>
          </div>
          <div class="col-md-4 or-see">
            <!--OR-SEE buttons go here-->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 search">
            <div class="token-input-holder">
              <%= viewparams.filter_field(
                          handler: 'querify',
                          placeholder: "Search #{viewparams.panel_label}") %>
            </div>
          </div>
          <div class="col-sm-6 org-element">
            <%= filtered_presenter_org_buttons viewparams, 'header', display_style: viewparams.result_type.singularize %>
          </div>
        </div>
      </div>
      <div class="col-md-4 user-nav <%= viewparams.display_style %>-card">
        <div class="row">
          <div class="col-lg-5 col-md-4 col-sm-3">
            <%= presenter.card_avatar %>
          </div>
            <div class="nav-top">
              <%= collectible_collect_button(decorator, 'xl', class: 'friend-color') unless decorator.object == response_service.user %>
              <%= user_follower_count decorator %>
            </div>
            <div class="nav-bottom">
              <div class="half-height"></div>
              <div class="half-width"></div>
              <div class="ul">
                <%= link_to_submit "COLLECTION", response_service.decorate_path(result_type: nil), class: "result-link collection" %>
              </div>
              <% divs = %w{ bl ur br } %>
              <% viewparams.sibling_views.each do |viewparams| %>
                  <div class="<%= divs.shift %>">
                    <%= link_to_submit viewparams.panel_label.upcase, viewparams.link_address, class: "result-link #{viewparams.result_type}" %>
                  </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
<% end %>
<%= content if defined?(content) %>
