<%= simple_form_for(page_ref.becomes(PageRef)) do |f| %>
    <%= form_errors_helper f %>

    <div class="form-inputs">
      <% collection = PageRefServices.type_selections.delete_if { |pair| %w{ ReferrablePageRef }.include? pair.last } %>
      <%= f.input :type,
                  :collection => collection,
                  :include_blank => false,
                  :label_method => :first,
                  :value_method => :last,
                  :label => "Type" %>
      <%= f.input :url, required: true %>
    </div>

    <%= dialog_submit_button %>
    <%= dialog_cancel_button %>
<% end %>
