<%= pr_builder.fields_for :site do |site_builder| %>
  <!--  For Gleaning, include the selector string (and only that)-->
  <% if for_object.is_a?(Gleaning) %>
    <div class='label-enclosure' style="margin-top:.5em">
      <%= site_builder.label :selector_string, 'CSS Selector(s) for page content to glean' -%>
    </div>
    <%= site_builder.text_area :selector_string %>
  <% elsif for_object.is_a?(PageRef) %>
    <div class='label-enclosure'>
      <%= site_builder.label :trimmers, 'Trimmers (CSS selectors for content to remove)' -%>
    </div>
    <%= site_builder.text_area :trimmers_str,
                               :class => 'trimmers',
                               :id => @decorator.element_id(:trimmers_str),
                               :label => false,
                               :placeholder => "CSS Selectors for elements to remove from pages" %>
  <% elsif for_object.is_a?(RecipePage) %>
    <div class='label-enclosure' style="margin-top:.5em">
      <%= site_builder.label :title_selector, 'Title Selector (CSS)' -%>
    </div>
    <%= site_builder.text_field :title_selector %>
  <% elsif for_object.is_a?(Recipe) %>
    Specify CSS selectors for parsing Recipes:
    <!--  Render fields for a site's grammar mods, as provided by the :grammar_fields attribute -->
    <%= site_grammar_mod_fields site_builder %>
  <% end %>
<% end %>
