<p id="notice"><%= notice %></p>

<h1>Listing Page Refs</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Content</th>
      <th>Date published</th>
      <th>Lead image url</th>
      <th>Domain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% page_refs.each do |page_ref| %>
      <tr>
        <td><%= page_ref.url %></td>
        <td><%= page_ref.title %></td>
        <td><%= page_ref.content %></td>
        <td><%= page_ref.date_published %></td>
        <td><%= page_ref.picurl %></td>
        <td><%= page_ref.domain %></td>
        <td><%= link_to 'Show', page_ref %></td>
        <td><%= link_to 'Edit', edit_page_ref_path(page_ref) %></td>
        <td><%= link_to 'Destroy', page_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mercury page', new_page_ref_path %>
