<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= page_ref.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= page_ref.title %>
</p>

<p>
  <strong>Date published:</strong>
  <%= page_ref.date_published %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag page_ref.picurl %>
</p>

<p>
  <strong>Domain:</strong>
  <%= page_ref.domain %>
</p>

<p>
  <strong>Content:</strong>
  <%= page_ref.content.html_safe %>
</p>

<%= link_to 'Edit', edit_page_ref_path(page_ref) %> |
<%= link_to 'Back', page_refs_path %>
<div class="entry-content">

  <div class="smittenkitchen-print-hide">
    <p><strong>Things I Learned Hosting My First Friendsgiving</strong></p>
    <h5>On logistics</h5>

    <p>• As I realized <a
    href="https://smittenkitchen.com/2016/11/cheesecake-marbled-pumpkin-slab-pie/">last
      week</a>, what makes big meals (we had 16 people) scary isn&#8217;t the cooking as much
      as the sheer volume of it all and the logistics required to manage them. I mean, who
      here has a kitchen that was built to feed 16? Trust me, it&#8217;s not you, it&#8217;s
      your kitchen making things hard.<br/>
      • Thus the more time you spend plotting things out, the less stressful it will be.
      Because I&#8217;m <a href="https://smittenkitchen.com/2016/11/root-vegetable-gratin/">Team
      Casserole</a>, i.e. I prefer dishes that are deep and bubbly, can be made well in
      advance and reheat well, they&#8217;re all fairly forgiving of too long or short warming
      times. Too long, they get a little extra crunchy and toasted on top (yum), too little,
      they still pack a lot of warmth inside, even if they&#8217;re not bubbling hot. I warmed
      all of the dishes before the turkey went in and then slid in one or two while it
      roasted. When the turkey came out and we needed 30 minutes to rest and carve it, all the
      sides went back in to warm.<br/>
      • Everything that can be done in advance, should be, and as early as possible. You&#8217;re
      doing it for <strong>you</strong>. When we have a lot of people over, this often leads
      to me quite over-exhausting myself the night before getting everything prepped that can
      be, but then I wake up rested and we&#8217;re 80% there. It&#8217;s not actually a
      stressful day, which means we&#8217;re far more likely to enjoy the party. If I can&#8217;t
      finish prep the night before, I&#8217;ll do it in the morning. It&#8217;s essential to
      me that there&#8217;s a little window of vegging/non-cooking time between prepping stuff
      and cooking the stuff that must be done at the last-minute. It&#8217;s also a great time
      to change into something fresh.<br/>
      • All the pies were made earlier in the week and either went into the fridge (pecan) or
      freezer (pumpkin) until needed.<br/>
      • Finally, I think we should all buy each other trivets for Christmukkah. I have&#8230;
      4? What kind of Thanksgiving has only 4 hot dishes coming out of the kitchen? None we
      want to be at, thank you very much.</p>

    <p><a href="https://www.flickr.com/photos/smitten/30351368943/in/photostream"
          title="&quot;prep&quot; table because I have 1.25 kitchen counters"><img
    src="https://c8.staticflickr.com/6/5503/30351368943_c761ddfcd9_z.jpg" width="640"
    height="480" alt="&quot;prep&quot; table because I have 1.25 kitchen counters"></a>
    </p>

    <p><span id="more-30245"></span></p>

    <p><strong>About That Turkey</strong><br/>
      • Turkeys are amusingly hard to find a week before Thanksgiving.<br/>
      • <em>Brining is a delicious nightmare.</em> I know a lot of people don&#8217;t do it. I
      know you don&#8217;t need to. I know there are less-insane options, like dry-brining.
      But I am really not hugely into turkey to begin with because I always find it dry and
      often flavorless. And I don&#8217;t want a little overcooking to ruin it. Thus: brining.
      Oh, but what a comedy it was and by comedy, I mean cry-laugh emoji. It involved a
      19.5-pound bird, 1 of <a href="http://amzn.to/2fkfTjI">these bags</a> and 2.5 gallons of
      brine, which turned out to create a forceful enough pressure on the bag to pop it open.
      <a href="https://www.flickr.com/photos/smitten/31044529051/in/photostream">Mopping was
        involved</a>. Then I got it into the fridge (40 pounds, no easy feat and yet somehow
      still easier than that time I had to carry my <a
    href="https://www.flickr.com/photos/smitten/31013997722/in/photostream">20-pounder</a>
      out of the grocery store sideways with an arced back&#8230; life math be crazy) and
      discovered that the bottom had a tiny hole in it and I don&#8217;t know if normal people
      whose mothers were not microbiologists list salmonella among their greatest fears, but
      raw turkey juice everywhere in the fridge dripping into the produce drawers required a
      hazmat-suit level of cleaning until I could stop worrying.<br/>
      • <em>Where&#8217;s the recipe, Deb?</em> We were so happy with <a
    href="https://www.flickr.com/photos/smitten/31044529151/in/photostream">the
      turkey</a> but I cannot in good conscience share with you a recipe for something so
      epic that I&#8217;ve only made once. I mean, what if I missed something major and ruin
      all of your holidays? So, I promise, it&#8217;s coming and it&#8217;s going to be worth
      the wait. </p>

    <div style="float:center;width:100%;"><a
    href="https://www.flickr.com/photos/smitten/30351368583/in/photostream"
    title="dork"><img
    src="https://c8.staticflickr.com/6/5483/30351368583_35e79fdbdf.jpg" width="400"
    height="480" alt="dork"></a></div>
    <h5>The Menu</h5>

    <p>• <a href="http://www.foodnetwork.com/recipes/ina-garten/baked-fontina-recipe.html">Ina
      Garten&#8217;s Baked Fontina</a> (I hope to share a more budgeted version of this
      soon)<br/>
      • <a href="https://smittenkitchen.com/2015/02/perfect-corn-muffins/">Corn Muffins</a>
      (brought by a friend)<br/>
      • A Giant Kale Caesar made with a riff on <a
    href="https://smittenkitchen.com/2008/01/chicken-caesar-salad/">this
      dressing</a>. I&#8217;d <em>intended</em> to make this salad, however.<br/>
      • A Roast Turkey Mash-Up That Was About <a
    href="http://www.epicurious.com/recipes/food/views/my-favorite-roast-turkey-51258050">50%
      Thomas Keller</a>, <a
    href="http://www.epicurious.com/recipes/food/views/simple-roast-turkey-with-rich-turkey-gravy-236409">30%
      Gourmet</a> and <a
    href="http://www.foodnetwork.com/recipes/alton-brown/good-eats-roast-turkey-recipe.html">20%
      Alton Brown</a><br/>
      • <a href="http://www.mrswheelbarrow.com/">Cathy Barrow&#8217;s</a> <a
    href="https://food52.com/recipes/1452-what-we-call-stuffing-challah-mushroom-and-celery">Challah
      Stuffing With Mushroom and Celery</a> with homemade challah, because <a
    href="https://www.instagram.com/p/BM9dzjNhzSM/?taken-by=debperelman">crazy
      things happen in my freezer</a><br/>
      • <a href="https://smittenkitchen.com/2013/11/green-bean-casserole-with-crispy-onions/">Green
      Bean Casserole with Crispy Onions</a> (doubled)<br/>
      • Roasted Delicata Squash with <a
    href="https://smittenkitchen.com/2016/11/roasted-cauliflower-with-pumpkin-seeds-brown-butter-and-lime/">Brown
      Butter, Lime and Pepitas</a>, except I ran out of time so they were just
      roasted<br/>
      • <a href="https://smittenkitchen.com/2016/11/root-vegetable-gratin/">Root Vegetable
      Gratin</a><br/>
      • Baked Beans (brought by a friend)<br/>
      •
      <a href="http://www.foodnetwork.com/recipes/ree-drummond/twice-baked-potato-casserole.html">Ree
        Drummond&#8217;s Twice-Baked Potato Casserole</a> (brought by a friend)<br/>
      • Cranberry Sauce (brought by a friend, the one who taught me to <a
    href="https://smittenkitchen.com/2006/11/cranberries-candied-fruity-and-drunk/">make
      my own back in the day</a>)<br/>
      • <a href="https://smittenkitchen.com/2016/11/cheesecake-marbled-pumpkin-slab-pie/">Cheesecake-Marbled
      Pumpkin Slab Pie</a><br/>
      • <a href="https://smittenkitchen.com/2015/11/pecan-pie/">A Very Large Pecan
      Pie</a><br/>
      • By the way, we made everything above except the gravy and obviously the turkey
      vegetarian simply by using vegetable stock; it wasn&#8217;t a challenge and nobody
      missed out on a thing. For the twice-baked potatoes, an area was left bacon-free on top.
    </p>

    <p><a href="https://www.flickr.com/photos/smitten/30791144500/in/photostream"
          title="some of my favorite people"><img
    src="https://c5.staticflickr.com/6/5534/30791144500_cfe0db9ceb_z.jpg" width="640"
    height="427" alt="some of my favorite people"></a></p>
    <h5>Postscripts</h5>

    <p>• Do not underestimate the power of one really great, crunchy salad, the perfect contrast
      to all the butter-drenched and gluten-full wonders across the table. It goes quickly. I&#8217;m
      sharing today the salad I&#8217;d <i>intended</i> to make; I think it&#8217;s the
      perfect last-minute addition to any menu and so easy to bring with you from home. I
      guarantee the host will appreciate it.</p>

    <p><a href="https://www.flickr.com/photos/smitten/30335938834/in/photostream"
          title="what you&#x27;ll need"><img
    src="https://c3.staticflickr.com/6/5668/30335938834_7b385e6a30_n.jpg" width="320"
    height="213" alt="what you&#x27;ll need"></a><a
    href="https://www.flickr.com/photos/smitten/31042832641/in/photostream"
    title="for sumac-pickled red onions"><img
    src="https://c2.staticflickr.com/6/5470/31042832641_b7bfc313c1_n.jpg" width="320"
    height="213" alt="for sumac-pickled red onions"></a><a
    href="https://www.flickr.com/photos/smitten/30335938724/in/photostream"
    title="shaved brussels"><img
    src="https://c5.staticflickr.com/6/5324/30335938724_ac223fe1b3_n.jpg" width="320"
    height="213" alt="shaved brussels"></a><a
    href="https://www.flickr.com/photos/smitten/31042832591/in/photostream"
    title="pomegranate"><img
    src="https://c8.staticflickr.com/6/5472/31042832591_18040f4fd5_n.jpg" width="320"
    height="213" alt="pomegranate"></a><a
    href="https://www.flickr.com/photos/smitten/30335938544/in/photostream"
    title="diced apple"><img
    src="https://c1.staticflickr.com/6/5589/30335938544_6954ca7dce_n.jpg" width="320"
    height="213" alt="diced apple"></a><a
    href="https://www.flickr.com/photos/smitten/31042832511/in/photostream"
    title="ready to toss"><img
    src="https://c8.staticflickr.com/6/5706/31042832511_7de8ee5275_n.jpg" width="320"
    height="213" alt="ready to toss"></a></p>

    <p>• Finally, ask me anything! I feel like I know 100x as much about Thanksgiving as I did
      72 hours ago and most of what I did is very fresh in my head. I&#8217;m happy to answer
      any questions you have in the comments below. I&#8217;ll probably attack them mostly
      this evening, so don&#8217;t fret if you don&#8217;t get an immediate response.</p>
    <h5>Previously</h5>

    <p><b>One year ago:</b> <a
    href="https://smittenkitchen.com/2015/11/roasted-leek-and-white-bean-galettes/">Roasted
      Leek and White Bean Galettes</a> and <a
    href="https://smittenkitchen.com/2015/11/date-breakfast-squares/">Date Breakfast
      Squares</a><br/>
      <b>Two years ago:</b> <a
    href="https://smittenkitchen.com/2014/11/classic-pumpkin-pie-with-pecan-praline-sauce/">Classic
      Pecan Pie with Praline Sauce</a> and <a
    href="https://smittenkitchen.com/2014/11/crispy-sweet-potato-roast/">Crispy
      Sweet Potato Roast</a><br/>
      <b>Three years ago:</b> <a
    href="https://smittenkitchen.com/2013/11/green-bean-casserole-with-crispy-onions/">Green
      Bean Casserole with Crispy Onions</a>, <a
    href="https://smittenkitchen.com/2013/11/apple-and-herb-stuffing-for-all-seasons/">Apple-Herb
      Stuffing for All Seasons</a>, <a
    href="https://smittenkitchen.com/2013/11/cauliflower-with-brown-butter-crumbs/">Cauliflower
      with Brown Butter Crumbs</a> and <a
    href="https://smittenkitchen.com/2013/11/parsley-leaf-potatoes/">Parsley Leaf
      Potatoes</a><br/>
      <b>Four years ago:</b> <a
    href="https://smittenkitchen.com/2012/12/cauliflower-feta-fritters-with-pomegranate/">Cauliflower-Feta
      Fritters with Pomegranate</a><br/>
      <b>Five years ago:</b> <a href="https://smittenkitchen.com/2011/11/gingersnaps/">Gingersnaps</a>
      and <a href="https://smittenkitchen.com/2011/11/sweet-potato-and-marshmallow-biscuits/">Sweet
      Potato and Marshmallow Biscuits</a><br/>
      <b>Six years ago:</b> <a
    href="https://smittenkitchen.com/2010/11/creamed-onions-with-bacon-and-chives/">Creamed
      Onions with Bacon and Chives</a> and <a
    href="https://smittenkitchen.com/2010/11/sweet-corn-spoonbread/">Sweet Corn
      Spoonbread</a><br/>
      <b>Seven years ago:</b> <a
    href="https://smittenkitchen.com/2009/11/sweet-potato-buttermilk-pie/">Sweet
      Potato and Buttermilk Pie</a>, <a
    href="https://smittenkitchen.com/2009/11/creamed-spinach/">Creamed Spinach</a>
      and <a href="https://smittenkitchen.com/2009/11/gingerbread-apple-upside-down-cake/">Gingerbread
      Apple Upside-Down Cake</a><br/>
      <b>Eight years ago:</b> <a
    href="https://smittenkitchen.com/2008/11/silky-smooth-pumpkin-pie/">Silky Smooth
      Pumpkin Pie</a>, <a href="https://smittenkitchen.com/2008/11/home-fries/">Home
      Fries</a>, <a href="https://smittenkitchen.com/2008/11/apple-pancakes/">Apple
      Pancakes</a> and <a
    href="https://smittenkitchen.com/2008/11/fennel-prosciutto-and-pomegranate-salad/">Fennel
      Proscuitto and Pomegranate Salad</a><br/>
      <b>Nine years ago:</b> <a href="https://smittenkitchen.com/2007/11/pumpkin-waffles/">Pumpkin
      Waffles</a> and <a
    href="https://smittenkitchen.com/2007/11/creamy-white-polenta-with-mushrooms/">Creamy
      White Polenta with Mushrooms</a> and <a
    href="https://smittenkitchen.com/2007/11/nutmeg-maple-cream-pie/">Nutmeg-Maple
      Cream Pie</a><br/>
      <b>Ten! years ago:</b> <a
    href="https://smittenkitchen.com/2006/11/cranberries-candied-fruity-and-drunk/">Three
      Cranberry Sauces</a> and <a
    href="https://smittenkitchen.com/2006/11/one-for-the-sling-files/">No-Knead
      Bread</a></p>

    <p><i>And for the other side of the world:</i><br/>
      <b>Six Months Ago:</b> <a
    href="https://smittenkitchen.com/2016/05/roasted-carrots-with-avocado-and-yogurt/">Roasted
      Carrots with Avocado and Yogurt</a> and <a
    href="https://smittenkitchen.com/2016/05/almond-rhubarb-picnic-bars/">Almond
      Rhubarb Picnic Bars</a><br/>
      <b>1.5 Years Ago:</b> <a href="https://smittenkitchen.com/2015/05/fake-shack-burger/">Fake
      Shack Burger</a> and <a
    href="https://smittenkitchen.com/2015/05/swirled-berry-yogurt-popsicles/">Swirled
      Berry Yogurt Popsicles</a><br/>
      <b>2.5 Years Ago:</b> <a
    href="https://smittenkitchen.com/2014/05/soft-pretzel-buns-and-knots/">Soft
      Pretzel Buns and Knots</a><br/>
      <b>3.5 Years Ago:</b> <a
    href="https://smittenkitchen.com/2013/05/greek-salad-with-lemon-and-oregano/">Greek
      Salad with Lemon and Oregano</a><br/>
      <b>4.5 Years Ago:</b> <a
    href="https://smittenkitchen.com/2012/05/vidalia-onion-soup-with-wild-rice/">Vidalia
      Onion Soup with Wild Rice</a></p>

    <p style="border-bottom:1px dashed #6B7794;">

    <p>
  </div>


  <div class="hrecipe jetpack-recipe" itemscope itemtype="http://schema.org/Recipe"><h3
  class="jetpack-recipe-title" itemprop="name">Brussels Sprouts, Apple and Pomegranate
    Salad</h3>
    <ul class="jetpack-recipe-meta">
      <li class="jetpack-recipe-servings" itemprop="recipeYield"><strong>Servings: </strong>4
        to 6
      </li>
      <li class="jetpack-recipe-time" itemprop="totalTime"><strong>Time: </strong>30 minutes
      </li>
      <li class="jetpack-recipe-source"><strong>Source: </strong><a
      href="http://amzn.to/2fUCi5C">Adapted from Michael Solomonov&#039;s Zahav</a>
      </li>
      <li class="jetpack-recipe-print"><a href="#">Print</a></li>
    </ul>
    <div class="jetpack-recipe-content"><br/>

      <div class="jetpack-recipe-notes">This is a crunchy, bright abundantly November-ish
        salad that hails from Michael Solomonov&#8217;s Zahav cookbook. In the book, he
        calls it tabbouleh and explains that while in the U.S., tabbouleh is usually made
        with bulgur wheat, parsley and chopped tomatoes, in Israel, you&#8217;re unlikely to
        find it made the same way twice, and I&#8217;d say the same for Solomonov&#8217;s
        versions too. In the book, he&#8217;s swapped kale for parsley but I&#8217;ve also
        seen him do the same with shredded brussels. He says he enjoys swapping quinoa for
        the bulgur, and adding pomegranate when it is in season. In the fall, he said he
        enjoys adding apples and walnuts, and will sometimes even replace the grain entirely
        with walnuts. And it from here that we&#8217;ve ended up with a dish I won&#8217;t
        even call tabbouleh, so not to confuse anyone, but a salad, and an excellent one at
        that. Between his book and the various outlets that have published versions of this
        salad, I found almost no two recipes alike so I instead set out all the ingredients
        and added them at the levels I liked most. You, too, can and should adjust the
        flavors to taste.
      </div>
      <br/>

      <div class="jetpack-recipe-ingredients">
        <ul>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">1/2 large red
            onion, diced small
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">2 tablespoons
            red wine vinegar
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">2 teaspoons
            ground sumac
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">1/4 teaspoon
            kosher salt, plus more to season salad
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">2 cups
            shredded brussels sprouts
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">1/2 cup fresh
            pomegranate seeds (from about 1/2 a large one)
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">1/2 a large
            unpeeled apple, cored and diced (I used Granny Smith, the book recommends
            Pink Lady or Honeycrisp)
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">Juice of half
            a lemon, plus more to taste
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">1 1/2 to 2
            tablespoons honey, plus more to taste
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">1/4 cup olive
            oil
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">3/4 cup
            toasted, cooled walnuts, lightly crushed or coarsely chopped
          </li>
          <li class="jetpack-recipe-ingredient" itemprop="recipeIngredient">Ground
            chipotle chile pepper, urfa biber peppers, hot smoked paprika or another
            chile flake, to taste
          </li>
        </ul>
      </div>
      <br/>

      <div class="jetpack-recipe-directions">Make the sumac-pickled onions: Combine red onion,
        wine vinegar, sumac and 1/4 teaspoon kosher salt in a small dish and set aside while
        you prepare the other ingredients, or ideally at least 15 minutes.</p>
        <p>Combine all salad ingredients, including red onions and their pickling liquid, in
          a medium bowl and season to taste with salt and red pepper. Taste and adjust
          ingredients as desired &#8212; I&#8217;ve seen versions of the recipe with more
          honey, olive oil and lemon; I didn&#8217;t need them but you might find you
          do.</p>

        <p>This salad can be prepped ahead, but I&#8217;d keep the dressing off of it until
          at most an hour before serving so it doesn&#8217;t discolor the sprouts.</div>
      <br/>
    </div>
  </div>
  <div id="jp-post-flair" class="sharedaddy sd-rating-enabled sd-like-enabled">
    <div class="sd-block sd-rating"><h3 class="sd-title">Rate this:</h3>

      <div class="pd-rating" id="pd_rating_holder_8384693_post_30245"></div>
    </div>
    <div class="sharedaddy sd-sharing-enabled">
      <div class="robots-nocontent sd-block sd-social sd-social-text sd-sharing"><h3
      class="sd-title">Do More:</h3>

        <div class="sd-content">
          <ul>
            <li class="share-twitter"><a rel="nofollow"
                                         data-shared="sharing-twitter-30245"
                                         class="share-twitter sd-button no-icon"
                                         href="https://smittenkitchen.com/2016/11/brussels-sprouts-apple-and-pomegranate-salad/?share=twitter"
                                         target="_blank"
                                         title="Click to share on Twitter"><span>Twitter</span></a>
            </li>
            <li class="share-facebook"><a rel="nofollow"
                                          data-shared="sharing-facebook-30245"
                                          class="share-facebook sd-button no-icon"
                                          href="https://smittenkitchen.com/2016/11/brussels-sprouts-apple-and-pomegranate-salad/?share=facebook"
                                          target="_blank"
                                          title="Share on Facebook"><span>Facebook</span></a>
            </li>
            <li class="share-pinterest"><a rel="nofollow"
                                           data-shared="sharing-pinterest-30245"
                                           class="share-pinterest sd-button no-icon"
                                           href="https://smittenkitchen.com/2016/11/brussels-sprouts-apple-and-pomegranate-salad/?share=pinterest"
                                           target="_blank"
                                           title="Click to share on Pinterest"><span>Pinterest</span></a>
            </li>
            <li class="share-print"><a rel="nofollow" data-shared=""
                                       class="share-print sd-button no-icon"
                                       href="https://smittenkitchen.com/2016/11/brussels-sprouts-apple-and-pomegranate-salad/#print"
                                       target="_blank" title="Click to print"><span>Print</span></a>
            </li>
            <li class="share-email"><a rel="nofollow" data-shared=""
                                       class="share-email sd-button no-icon"
                                       href="https://smittenkitchen.com/2016/11/brussels-sprouts-apple-and-pomegranate-salad/?share=email"
                                       target="_blank" title="Click to email"><span>Email</span></a>
            </li>
            <li class="share-end"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
