<%= simple_form_for(@recipe_page) do |f| %>
  <%= form_errors_helper f %>

  <%= render 'fields_page_recipes', f: f %>

  <div class="modal-footer form-actions">
    <%= dialog_submit_button 'Save' %>
    <%= dialog_cancel_button 'Cancel' %>
    <%#= f.button :submit %>
  </div>
<% end %>
