<%= simple_form_for(@recipe_page) do |f| %>
  <%= form_errors_helper f %>

  <%= f.simple_fields_for :recipes do |builder| %>
    <% render 'recipe_fields', f: builder %>
  <% end %>
  <div class="row">
    <div style="padding: 10px 30px 0px 30px;">
      <%= link_to_add_fields '', f, :recipes %>
    </div>
  </div>
  <%#= link_to "Partition", '#', class: 'submit', onclick: 'RP.recipe_pages.submit_selection' %>

  <div class="form-inputs">
    <%= f.hidden_field :content %>
    <%#= f.input :content %>
  </div>
  
  <div class="modal-footer form-actions">
    <%= dialog_submit_button 'Save' %>
    <%= dialog_cancel_button 'Cancel' %>
    <%#= f.button :submit %>
  </div>
<% end %>
