<div class="row recipe-fields">
  <div class="recipe-field listing-item title visible" style="padding-left: 30px"><h4><%= f.object.title %></h4></div>
  <div class="recipe-field listing-item icon visible" style="padding-left: 25px">
    <a href='#', class='glyphicon glyphicon-pencil edit-recipe'></a>
  </div>
  <%= f.hidden_field :anchor_path, class: 'anchorPath' %>
  <%= f.hidden_field :focus_path, class: 'focusPath' %>
  <div class="recipe-field editing-item title hidden">
    <%= f.text_field :title, placeholder: 'Title the recipe here' %>
  </div>
  <div class="recipe-field editing-item icon hidden" style="">
    <a href='#', class='glyphicon glyphicon-copy copy-selection'></a>
  </div>
  <div class="recipe-field editing-item icon hidden">
    <%= link_to '',
                f.object,
                title: 'Open Recipe',
                class: 'glyphicon glyphicon-new-window' %>
  </div>
  <%#= f.input :_destroy, :as => :hidden, label: false %>
</div>
