<div class="row recipe-fields">
  <div class="recipe-field listing-item title" style="padding-left: 30px"><%= f.object.title %></div>
  <div class="recipe-field listing-item icon" style="padding-left: 25px">
    <a href='#', class='glyphicon glyphicon-pencil edit-recipe'></a>
  </div>
  <%= f.hidden_field :anchorPath, class: 'anchorPath' %>
  <%= f.hidden_field :focusPath, class: 'focusPath' %>
  <div class="recipe-field editing-item title hidden">
    <%= f.text_field :title %>
  </div>
  <div class="recipe-field editing-item icon hidden" style="">
    <a href='#', class='glyphicon glyphicon-copy copy-selection'></a>
  </div>
  <div class="recipe-field editing-item icon hidden">
    <%= link_to '',
                f.object,
                title: 'Open Recipe',
                class: 'glyphicon glyphicon-new-window' %>
  </div>
  <%#= f.input :_destroy, :as => :hidden, label: false %>
</div>
