<p id="notice"><%= notice %></p>

<div id="rp-html-content">
  <%= @recipe_page.content.html_safe %>
</div>
<%= collectible_edit_button @recipe_page %>
<%= link_to 'Edit', edit_recipe_page_path(@recipe_page) %> |
<%= link_to 'Back', recipe_pages_path %>
