<% finder = Finder.new(site: for_entity.site, label: 'Title', attribute_name: 'href') %>
<%= simple_form_for finder,
                    url: finders_create_path(finder,
                                             entity_type: for_entity.class.to_s,
                                             entity_id: for_entity.id,
                                             :format => :JSON,
                                             :mode => :partial),
                    :method => :post do |g| %>
    <%= g.hidden_field :site_id, value: finder.site_id %>
    <h3>Creating a new finder</h3>
    <div class="row">
      <div class="col-md-12">
        <%= g.input :label,
                    collection: for_entity.decorate.finderlabels << 'locale',
                    label: 'To find ',
                    prompt: nil,
                    inline_label: true %>
        <%= g.input :selector, required: true, label: '...use CSS selector: ' %>
        <%= g.input :attribute_name,
                    collection: %w{href content src},
                    inline_label: true,
                    prompt: nil,
                    label: '...then read attribute: ' %>
        <%= g.submit %>
      </div>
    </div>
<% end %>
