<%= dialogHeader :edit_account, @Title || "Edit Account", area: @area %>
	<div class="modal-body">
	  <%= flash_helper %>
		<%= render partial: 'shared/authentications_current' %>
		<%= render partial: 'shared/authentications_possible' %>
		<%= render partial: 'shared/authentications_sidebar' %>
	</div>
	<div class="modal-footer">
		Want to change your password or cancel your account? <%= link_to_dialog "Click here", edit_user_registration_path %>
	</div>
<%= dialogFooter %>
