<% answer = @answer unless defined? answer %>
<%= submit_form_for answer do |f| %>
    <%= form_errors_helper f %>

    <div class="form-inputs inline-text-field">
      <%= f.text_field :answer, label: false %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :question_id %>
    </div>

    <%= dialog_submit_button button_size: "xs" %>
<% end %>
