<%= simple_form_for @user, html: { class: "edit_user json", 'data-type' => :json } do |f| %>
    <%# modal_body do %>
    <%= form_errors_helper f %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :username, label: "Name", autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :about, label: "Description", placeholder: "Summary of channel's purpose", input_html: { cols: 125, rows: 4 } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= taggable_div f, "control-group", "Tags this channel watches" %>
      </div>
    </div>

    <%= form_actions f, submit_label: "Save", cancel_path: users_path(channel:true) %>
<% end %>
