<%= form_for @user do |f| %>
  <%= show_errors @user.errors %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
Want to change your password? <%= link_to "Click here", edit_user_registration_path %>
<p>
  <% if permitted_to? :manage, @user %>
	<%= f.label :role_id,  "Role: ",:id=>"user_role_label" -%>
    <%= f.select :role_id,  options_for_select(*(@user.role_select)) %>
  <% end %>
</p>
  <p><%= f.submit "Update" %></p>
<% end %>
