<div class="user_id user_id_new">
	<h4>New to RecipePower?</h4>
	<p class="airy">
		All we need is a username and email address, and you're good to go.
		(You can provide/edit details later on your Profile page.)</p>
	<%= simple_form_for @user, html: { class: "edit_user json", 'data-type' => :json } do |f| %>
	  <%= form_errors_helper f %>
	  <%= f.input :username, label: "Username/Handle" %>
	  <%= f.input :email %>
	  <%= f.input :fullname, label: "Full Name" %>
	  <%= f.input :about, label: "About Me", placeholder: "Who Are You? What Do You Eat?", input_html: { size: 65, rows: 4 } %>
	  <%= f.button :submit, "Sign me up" %></p>
	<% end %>
</div>
