<h4>Returning RecipePowerUser:</h4>
<div class="indent">
<p class="airy">
	To attach this service to your RecipePower account, what's the email address on your account?</p>
<%= form_for @user do |f| %>
  <%= show_errors @user.errors %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit "Go",  %>
<% end %>
</div>