<h4>New to RecipePower:</h4>
<div class="indent">
<p class="airy">
	All we need is a username and email address, and you're good to go.
	<br>(You can provide/edit details later on your Profile page.)</p>
<%= form_for @user do |f| %>
  <%= errors_helper @user %>
  <%= f.label :username, "Username/Handle" %>
  <%= f.text_field :username %>
  <%= f.label :email, "Email address" %>
  <%= f.text_field :email %>
  <%= f.submit "Sign me up" %></p>
<% end %>
</div>
