<% item ||= @user %>
<% add_link = (current_user && !current_user.follows?(item)) ?
   button_to_submit('Make Friend', collect_user_path(item) ) : "" %>
<tr id="<%= dom_id item %>">
	<td><%= link_to_submit item.handle, user_path(item), mode: :modal %></td>
	<td><%= item.about %></td>
	<td><%= taggable_list item %></td>
	<td><%= item.collection_size %></td>
	<td><%= add_link %></td>
    <td><%= collectible_buttons item do %>
        <%= link_to( 'Hide', user_path(item, user: { private: true }), :class => "btn btn-default btn-xs", method: :put) if response_service.admin_view? %>
      <% end %>
    </td>
</tr>
