<% item ||= @user %>
<tr id="<%= dom_id item %>">
	<td><%= link_to_submit item.handle, user_path(item), mode: :modal %></td>
	<td><%= item.about %></td>
	<td><%= taggable_list item %></td>
	<td><%= item.collection_size %></td>
    <td>
      <%= button_to_submit((current_user.follows?(@user) ? "Stop Following" : 'Follow'), collect_user_path(item), method: :post ) if current_user %>
      <%= button_to_submit( (item.private? ? 'Show' : 'Hide'), user_path(item, user: { private: (item.private? ? 0 : 1) }), method: :put) if response_service.admin_view? %>
    </td>
</tr>
