<% item ||= @user %>
<% add_link = (current_user && !current_user.follows?(item)) ?
   link_to((item.channel? ? 'Add to Channels' : 'Make Friend'), collect_user_path(item), :class => "btn btn-default btn-xs") : "" %>
<tr id="<%= dom_id item %>">
	<td><%= link_to_modal item.handle, user_path(item) %></td>
	<td><%= item.about %></td>
	<td><%= taggable_list item %></td>
	<td><%= item.recipes_collection_size %></td>
	<td><%= add_link %></td>
	<% if permitted_to? :edit, item %>
		<td><%= link_to_modal 'Edit', edit_user_path(item), :class => "btn btn-default btn-xs" %></td>
		<td><%= link_to 'Hide', user_path(item, user: { private: true }), :class => "btn btn-default btn-xs", method: :put %></td>
		<td><%= link_to 'Destroy', item, data: { confirm: "Are you sure about deleting this user? It's a rather drastic step." }, :class => "btn btn-default btn-xs btn-danger", method: :delete %></td>
	<% end %>
</tr>
