<%# render @filtered_presenter.header_partial, title: title, comment: ((defined? comment) ? comment : "") %>
<div class="row panels-query">
  <div class="col-md-6 panels-label <%= @filtered_presenter.panel_label_class %>">
    <%= @filtered_presenter.panel_label %>
  </div>
  <div class="col-md-6 panels-search">
    <%= @filtered_presenter.filter_field handler: 'RP.tagger.querify' %>
    <div class="panels-buttons">
      <%= link_to_submit "RECENTLY VIEWED", "#", class: "panels-button soft-button #{@filtered_presenter.panel_button_class}" %>
      <%= link_to_submit "EVERYTHING", "#", class: "panels-button soft-button #{@filtered_presenter.panel_button_class}" %>
    </div>
  </div>
</div>
