<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item card-grid js-masonry entity-card <%= viewparams.display_style %>-card <%= decorator.dom_id %>"
         onload="RP.masonry.onload(event)"
         data-masonry-options='{
            "gutter": 10,
            "itemSelector": ".grid-item",
            "stamp": ".stamp" }'>
      <!--"columnWidth": 200,-->
      <!--onload="RP.masonry.onload(event)"-->
      <div class="stamp avatar card-column" <%= 'style=display:none' if !presenter.card_avatar? %>>
        <%= presenter.card_avatar %>
      </div>
      <div class="stamp title">
          <%= collectible_vote_buttons decorator.object, class: 'stamp votes' unless decorator.object == response_service.user %>
          <%= presenter.card_homelink class: 'title-link' %>
          <% if (decorator.object == response_service.user) || response_service.admin_view? %>
              <%= collectible_edit_button decorator %>
          <% else %>
              <%= collectible_collect_button decorator %>
              <%# collectible_list_menu decorator, response_service.user, {} %>
          <% end %>
      </div>
      <%# presenter.card_aspects.collect { |aspect| presenter.card_aspect_rendered aspect }.compact.each do |item_content| %>
      <% presenter.rendered_aspects do |aspect, content | %>
          <div class="grid-item card-column <%= aspect %>">
          <%= content %>
        </div>
      <% end %>
      <div class="lower-content">
        <% if (decorator.object == response_service.user) || response_service.admin_view? %>
            <%= collectible_tools_menu decorator, 'lg' %>
        <% else %>
            <%= collectible_share_button decorator, 'lg' %>
        <% end %>
      </div>
    </div>
<% end %>

