<!-- TODO: Confirm avatar, include link to get new one (download?) -->
<% present @user do |user_presenter| %>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= @user.image %>" alt="default-avatar-128.png">
        </a>
        <div class="media-body">
          <h2 class="media-heading"><%= user_presenter.fullname %> <small><%= user_presenter.username %></small></h2>
          <h4>Member Since: <small><%= user_presenter.member_since %></small></h4>
          <%= @user.about %>
        </div>
      </li>
    </ul>
<% end %>
