<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item entity-card <%= viewparams.display_style %>-card <%= decorator.dom_id %>">
      <%= collectible_vote_buttons decorator.object unless decorator.object == response_service.user %>
      <table style="width: 100%">
        <tr>
          <td rowspan="2" class="pic-box">
            <div class="pic-inset">
              <%= presenter.card_avatar %>
            </div>
          </td>
          <td valign="top" class="upper-content">
            <div class="title">
              <%= presenter.card_homelink class: 'title-link' %>
              <% if (decorator.object == response_service.user) || response_service.admin_view? %>
                  <%= collectible_edit_button decorator %>
              <% else %>
                  <%= collectible_collect_button decorator %>
                  <%# collectible_list_menu decorator, response_service.user, {} %>
              <% end %>
            </div>
            <div class="container-fluid">
              <div class="row">
                <% (0...(presenter.card_ncolumns)).each do |column| %>
                    <%= presenter.column column %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="lower-content">
            <% if (decorator.object == response_service.user) || response_service.admin_view? %>
                <%= collectible_tools_menu decorator, 'lg' %>
            <% else %>
                <%= collectible_share_button decorator, 'lg' %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

