<!-- TODO: Confirm avatar, include link to get new one (download?) -->
<% present @user do |presenter| %>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <%= presenter.avatar %>
          <!-- <img class="media-object" src="<%# @user.image %>" alt="default-avatar-128.png"> -->
        </a>

        <div class="media-body">
          <h2 class="media-heading"><%= presenter.fullname %>
            <small><%= presenter.username %></small>
          </h2>
          <table>
            <%= presenter.aspect :member_since %>
            <%= presenter.aspect :about %>
            <%= presenter.aspect :owned_lists %>
            <%= presenter.aspect :collected_lists %>
            <%= presenter.aspect :collected_feeds %>
          </table>
        </div>
      </li>
    </ul>
<% end %>
<%# render "suggestions/results" %>
