<!-- TODO: Confirm avatar, include link to get new one (download?) -->
<% present @user do |user_presenter| %>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <%= user_presenter.avatar %>
<!-- <img class="media-object" src="<%# @user.image %>" alt="default-avatar-128.png"> -->
        </a>
        <div class="media-body">
          <h2 class="media-heading"><%= user_presenter.fullname %> <small><%= user_presenter.username %></small></h2>
          <h4>Member Since: <small><%= user_presenter.member_since %></small></h4>
          <%= @user.about %>
        </div>
      </li>
    </ul>
    <% if lists = user_presenter.lists %>
        <h3>Lists</h3>
        <% lists.each do |list| %>
            <p><%= link_to_submit list.name, list_path(list), partial: true %></p>
        <% end %>
    <% end %>
    <% if feeds = user_presenter.feeds %>
        <h3>Feeds</h3>
        <% feeds.each do |feed| %>
            <p><%= link_to_submit feed.title, feed_path(feed) %></p>
        <% end %>
    <% end %>

<% end %>
<%# render "suggestions/results" %>
