<!-- TODO: Confirm avatar, include link to get new one (download?) -->
<% present decorator, current_user_or_guest.id do |presenter| %>
    <ul class="media-list" id="<%= decorator.dom_id %>">
      <li class="media">
        <a class="pull-left" href="#">
          <%= presenter.avatar %>
        </a>

        <div class="media-body">
          <%= presenter.user_names %>
          <table>
            <%# presenter.aspect :member_since %>
            <%= presenter.aspect :name_form %>
            <%= presenter.aspect :about %>
            <%= presenter.aspect :owned_lists %>
            <%= presenter.aspect :latest_recipe %>
            <%= presenter.aspect :latest_list %>
            <%= presenter.aspect :desert_island %>
            <%= presenter.aspect :question %>
            <%# presenter.aspect :collected_lists %>
            <%# presenter.aspect :collected_feeds %>
          </table>
        </div>
      </li>
    </ul>
<% end %>
