<% add_link = (current_user && !current_user.follows?(@user)) ?
   link_to((@user.channel? ? 'Add to Channels' : 'Make Friend'), collect_user_path(@user), :class => "btn btn-default btn-xs") : "" %>
<tr id="listrow_<%= @user.id.to_s %>">
	<td><%= link_to_modal @user.handle, user_path(@user) %></td>
	<td><%= @user.about %></td>
	<td><%= taggable_list @user %></td>
	<td><%= @user.recipe_ids_g.count %></td>
	<td><%= add_link %></td>
	<% if permitted_to? :edit, @user %>
		<td><%= link_to_modal 'Edit', edit_user_path(@user), :class => "btn btn-default btn-xs" %></td>
		<td><%= link_to 'Hide', user_path(@user, user: { private: true }), :class => "btn btn-default btn-xs", method: :put %></td>
		<td><%= link_to 'Destroy', @user, confirm: "Are you sure about deleting this user? It's a rather drastic step.", :class => "btn btn-default btn-xs btn-danger", method: :delete %></td>
	<% end %>
</tr>
