<tr id="tagrow_<%= @user.id.to_s %>">
	<td><%= link_to @user.handle, user_path(@user) %></td>
	<td><%= @user.about %></td>
	<td><%= @user.recipes.count %></td>
	<td><%= link_to (@user.channel? ? 'Add to Channels' : 'Make Friend'), collect_user_path(@user), :class => "btn btn-mini" %></td>
	<% if permitted_to? :edit, @user %>
		<td><%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-mini" %></td>
		<td><%= link_to 'Destroy', @user, confirm: "Are you sure about deleting this user? It's a rather drastic step.", :class => "btn btn-mini btn-danger", method: :delete %></td>
	<% end %>
</tr>
