<div class="signin_hdr">
	<div style="float:left"><%= image_tag "http://www.recipepower.com/assets/RPlogo.png", class: "small_logo", :alt => "RecipePower" %></div>
	<div class="hdrdiv">&nbsp;will reset your password if you're a member. Not a member? <u><%= link_to_modal "Sign up!",  new_user_registration_path %></u></div>
</div>
<%= flash_all false %>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name, area: "at_top"), :html => { class: "password_reset json", 'data-type' => 'json'} ) do |f| %>
	<div class="get_password">
		<%# form_errors_helper f %>
		<div class="signin_credentials">
		  <%= f.label :login, "Username or Email (your choice)".html_safe %>
		  <%= f.text_field :login, class: "signin_element" %>
		</div>
		<%= f.submit "Email instructions to reset password", class: "go_button" %>
	</div>
<% end %>
