<h3>Forgot your password?</h3>
<%= dialogHeader :password_reset, "Reset Password", show: true %>
	<%= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), html: { class: "password_reset json", 'data-type' => :json } do |f| %>
		<div class="modal-body">
		  <%= flash_helper %>
		  <%= f.input :login, label: "Username or Email (your choice)" %>
		</div>
		<div class="modal-footer">
			<%= f.submit "Email instructions to reset password" %>
	  </div>
	<% end %>
<%= dialogFooter %>
