<% if response_service.injector? %>
    <%= submit_form_for(resource,
                 :as => resource_name,
                 :url => registration_path(resource_name, response_service.redirect_params)) do |f| %>
        <div class="signin">
          <p style="margin: 0 0 10px 0;"><strong>Open an account with just an email:</strong><br></p>
          <%# form_errors_helper f, resource %>
          <% if (flashes = flash_all(false)).present? %>
              <%= flashes %>
          <% else %>
              <%= flash_notifications_div 'flash_notifications', false %>
          <% end %>
          <div class="signin_credentials">
            <%# f.label :username, "Username (Handle)".html_safe, class: "signin_element" %>
            <%# f.text_field :username, class: "signin_element", placeholder: "CoolBeans" %>
            <%# f.label :fullname, "Full Name".html_safe, class: "signin_element" %>
            <%# f.text_field :fullname, class: "signin_element", placeholder: "Joe Cool" %>
            <%# f.label :email, 'Email'.html_safe, class: 'signin_element' %>
            <%= f.text_field :email, class: 'signin_element ', placeholder: 'peerless@nonpareil.net' %>
            <%# f.label :password, class: "signin_element" %>
            <%# f.password_field :password, class: "signin_element" %>
          </div>
          <br><%= f.submit 'Sign me up!', class: 'btn btn-success ' %>
        </div>
    <% end %>
<% else %>
    <%= simple_submit_form_for(resource,
                        :as => resource_name,
                        :url => registration_path(resource_name)) do |f| %>
        <%# devise_error_messages! %>
        <%# form_errors_helper f, resource %>
        <%# f.input :username, label: "Username (Handle)", placeholder: "CoolBeans" %>
        <%= f.input :email,
                    placeholder: 'email',
                    label_html: {class: 'placetaker'}, # Hidden when placeholder available
                    autofocus: true,
                    input_html: { class: 'unlabelled' } %>
        <%# f.input :fullname, label: "Full Name", placeholder: "Joe Cool" %>
        <%= f.input :password,
                    label_html: {class: 'placetaker'}, # Hidden when placeholder available
                    placeholder: 'password',
                    input_html: { class: 'unlabelled' } %>
        <%= f.input :password_confirmation,
                    label_html: {class: 'placetaker'}, # Hidden when placeholder available
                    placeholder: 'confirm password',
                    input_html: { class: 'unlabelled' } %>
        <%= f.submit 'SIGN ME UP!', class: 'dialog-submit-button btn btn-xl dialog-button free' %>
    <% end %>
<% end %>
