<h3>Edit Password for <%= resource.handle %></h3>
<%= dialogHeader :edit_password, "Change Password", show: true %>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "edit_password json", :method => :put, 'data-type' => :json }) do |f| %>
	  <%= notifications_panel %>
		<div class="modal-body">
		  <%= f.input :current_password, hint: "(we need your current password to confirm your changes)" %>
		  <%= f.input :password, :label => "New password", hint: "(leave blank if you don't want to change it)", :autocomplete => "off" %>
		  <%= f.input :password_confirmation, :label => "Confirm new password" %>
		</div>
		<div class="modal-footer">
		  <%= f.submit "Update" %>
		</div>
	<% end %>
<%= dialogFooter %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Really? Are you sure??!? This will delete all your Cookmarks, your tags, and everything from RecipePower.", :method => :delete %>.</p>
