<% decorator ||= viewparams.decorator %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="row collection-header">
      <div class="col-md-7 collection-nav <%= viewparams.result_type %>">
        <div class="row">
          <div class="col-md-12 navlink">
            <%= link_to_submit "#{sprite_glyph :'send-left', 'lg'}&nbsp;[last page]".html_safe, collection_user_path(decorator.object), title: 'Back to Collection' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 collection-label <%= viewparams.result_type %>">
            <%= viewparams.result_expression(true).downcase %>
          </div>
          <div class="col-md-4 or-see">
            OR-SEE buttons go here
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 search">
            <%= viewparams.filter_field(
                    handler: 'RP.tagger.querify',
                    placeholder: "Search #{viewparams.result_expression true}") %>
          </div>
          <div class="col-md-4 filters">
            filters go here
          </div>
        </div>
      </div>
      <div class="col-md-4 user-nav <%= viewparams.display_style %>-card">
        <div class="row">
          <div class="col-md-5 avatar">
            <%= presenter.card_avatar %>
          </div>
          <div class="col-md-7 right-matter">
            <div class="nav-top">
              User nav buttons go here
            </div>
            <div class="nav-bottom">
              <div class="half-height"></div>
              <div class="half-width"></div>
              <div class="ul">
                <%= link_to_submit "COLLECTION", response_service.decorate_path(result_type: ''), class: "result-link collection" %>
              </div>
              <% divs = %w{ bl ur br } %>
              <% viewparams.sibling_views.each do |viewparams| %>
                <div class="<%= divs.shift %>">
                  <%= link_to_submit viewparams.link_label.upcase, viewparams.link_address, class: "result-link #{viewparams.result_type}" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= content if defined?(content) %>
