<div class="signin_all <%= @area %> dialog" >
  <div id="cancel_btn">X</div>
  <div class="signin_hdr">
	<div style="float:left"><%= image_tag "http://www.recipepower.com/assets/RPlogo.png", class: "small_logo", :alt => "RecipePower" %></div>
	<div class="hdrdiv">&nbsp;needs you to sign in to collect this cookmark. Not a member? <u><%= link_to "Sign up!", "http://www.recipepower.com/users/sign_up" %></u></div>
  </div>
  <%= render partial: 'shared/authentications_possible_at_top' %>
  <div class="signin_or">
&nbsp;OR&nbsp;
  </div>
  <%= render partial: "shared/slug_signin_at_top" %>
</div>
