<div class="auth_poss <%= @area %>">
    <strong>You might click on one of these services:</strong><br>
	<a href="http://www.recipepower.com/auth/facebook" class="auth_provider small">
	  <%= image_tag "http://www.recipepower.com/assets/facebook_32.png", :alt => "Facebook" %>
	  Facebook
	</a>
	<a href="http://www.recipepower.com/auth/google_oauth2" class="auth_provider small">
	  <%= image_tag "http://www.recipepower.com/assets/google_oauth2_32.png", :alt => "Google" %>
	  Google
	</a>
	<a href="http://www.recipepower.com/auth/twitter" class="auth_provider small">
	  <%= image_tag "http://www.recipepower.com/assets/twitter_32.png", :alt => "Twitter" %>
	  Twitter
	</a>
	<a href="http://www.recipepower.com/auth/aol" class="auth_provider small">
	  <%= image_tag "http://www.recipepower.com/assets/aol_32.png", :alt => "AOL" %>
	  Aol
	</a>
	<a href="http://www.recipepower.com/auth/yahoo" class="auth_provider small">
	  <%= image_tag "http://www.recipepower.com/assets/yahoo_32.png", :alt => "Yahoo" %>
	  Yahoo
	</a>
	<a href="http://www.recipepower.com/auth/open_id" class="auth_provider small">
	  <%= image_tag "http://www.recipepower.com/assets/open_id_32.png", :alt => "OpenID" %>
	  OpenID
	</a>
</div>
