<div class="auth_poss <%= @area %>">
  <% if @auth_context == :manage %>
    <% if current_user %>
      <strong class="prompt"><%= @authentications.empty? ? "Click on a service you'd like" : "Add another service" %> to sign in with:</strong><br>
    <% else %>
      <strong class="prompt">You can sign in with one of these services:</strong><br><br>
    <% end %>
  <% else %>
    <strong class="prompt">Or, click to sign in using one of these fine services (see sidebar):</strong><br>
  <% end %>
  <%= auth_possible "Facebook" %>
  <%= auth_possible "Google", "google_oauth2_64.png" %>
  <%= auth_possible "Twitter" %>
  <%= auth_possible "Aol" %>
  <%= auth_possible "Yahoo" %>
  <%= auth_possible "OpenID", "open_id_64.png" %>
</div>
