<% if current_user && false %>
	<h3>Manage Sign-in Services</h3>
<% end %>
  <div class="auth_signin <%# @_area %><%= response_service.area_class %>" >
    <%= render partial: 'shared/authentications_current' %>
    <%= render partial: 'authentications/authentications_possible' %>
  </div>
  <% if !current_user %>
		<hr>
    <div class="sign <%# @_area %><%= response_service.area_class %>" >
		  <div class="prompt">Rather use a RecipePower account? <br></div>
			<div class="signin">
				<div class="prompt">Sign In</div>
			  <%= render partial: "shared/slug_signin" %>
			</div>
			<div class="or"><h3>OR</h3></div>
		  <div class="signup">
				<div class="prompt">Sign Up</div>
			  <%= render partial: "shared/slug_signup" %>
			</div>
		</div>
  <% end %>
