<div class="auth_poss <%= @area %>">
    <strong>You might click on one of these services:</strong><br>
	  <%= auth_possible "Facebook", nil, true %>
	  <%= auth_possible "Google", "google_oauth2", true %>
	  <%= auth_possible "Twitter", nil, true %>
	  <%= auth_possible "Aol", nil, true %>
	  <%= auth_possible "Yahoo", nil, true %>
	  <%= auth_possible "OpenID", "open_id", true %>
</div>
