<div class="auth_poss <%= @area %>">
  <% if @auth_context == :manage %>
    <% if current_user %>
      <strong class="prompt">Add another service to sign in with:</strong><br>
    <% else %>
      <strong class="prompt">You can sign in by clicking on one of these services:</strong><br><br>
    <% end %>
  <% else %>
    <strong class="prompt">Or, click to sign in using one of these fine services (see sidebar):</strong><br>
  <% end %>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
    Facebook
  </a>
  <a href="/auth/google_oauth2" class="auth_provider">
    <%= image_tag "google_oauth2_64.png", :size => "64x64", :alt => "Google" %>
    Google
  </a>
  <a href="/auth/twitter" class="auth_provider">
    <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
    Twitter
  </a>
  <a href="/auth/aol" class="auth_provider">
    <%= image_tag "aol_64.png", :size => "64x64", :alt => "AOL" %>
    Aol
  </a>
  <a href="/auth/yahoo" class="auth_provider">
    <%= image_tag "yahoo_64.png", :size => "64x64", :alt => "Yahoo" %>
    Yahoo
  </a>
  <a href="/auth/open_id" class="auth_provider">
    <%= image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID" %>
    OpenID
  </a>
</div>
