<% if current_user && false %>
	<h3>Manage Sign-in Services</h3>
<% end %>
<%# dialogHeader :sign_in, "", @area %>
  <div class="auth_signin <%= @area %>" >
    <%= render partial: 'shared/authentications_current' %>
    <%= render partial: 'shared/authentications_possible' %>
  </div>
  <% if !current_user %>
    <div class="sign <%= @area %>" >
	  <hr><div class="prompt">Rather use a RecipePower account? <br></div>
	  <%= render partial: "shared/slug_signin" %>
	  <div class="or" >OR</div>
	  <%= render partial: "shared/slug_signup" %>
	</div>
  <% end %>
<%# dialogFooter %>
