<%= content_tag :div,
                class: "results-panel querify-supe #{type}",
                data: analyze_request(url),
                onload: 'RP.querify.onload(event);' do %>
    <div class="results-menu">
      <%= panel_org_button type, :newest %>
      <%= panel_collapse_button type, :slider %>
      <%= panel_suggestion_button type %>
    </div>
    <div class="results-content">
      <div class="results-label"><%= image_tag "#{type}_panel_label.png", class: "results-img" %></div>
      <div class="results-box">
        <%= panel_results_placeholder type %>
      </div>
    </div>
<% end %>
