<%= querify_supe url, class: "results-panel #{type}" do %>
    <div class="results-menu">
      <%= panel_org_button type, :newest %>
      <%= panel_collapse_button type, :slider %>
      <%= panel_suggestion_button type %>
    </div>
    <div class="results-content">
      <div class="results-label"><%= image_tag "#{type}_panel_label.png", class: "results-img" %></div>
      <div class="results-box">
        <%= panel_results_placeholder type %>
      </div>
    </div>
<% end %>
