<div class="fields">
   <span class="rating_name"><%= "rating_rname" %></span>
   <span class="rating_left"><%= "rating_minlabel" %></span>
   <span width="20"><%= f.radio_button(:scale_val, -3) %></span>
   <span width="20"><%= f.radio_button(:scale_val, -2) %></span>
   <span width="20"><%= f.radio_button(:scale_val, -1) %></span>
   <span width="20"><%= f.radio_button(:scale_val, 0) %></span>
   <span width="20"><%= f.radio_button(:scale_val, 1) %></span>
   <span width="20"><%= f.radio_button(:scale_val, 2) %></span>
   <span width="20"><%= f.radio_button(:scale_val, 3) %></span>
   <span class="rating_right"><%= "rating_maxlabel" %></span>
   <%= f.hidden_field(:scale_id, :value=>"rating_scale_id" ) %>
   <span class="rating_del"><%= link_to_remove_fields("remove", f) %></span>
</div>
