<%# Render the results of a recipe query in big_pic mode %>
<%# NB: Should be rendered within a rcp_list container %>
<% for recipe in @rcpquery.results_paged  %>
  <div class="rcp_list_bigelement" >
    <div class="rcp_list_bigpic_box">
		<%= recipe_fit_pic recipe %>
    </div>
    <div class="rcp_list_bigtext">
      <div class="rcp_list_element_title">
		  <%= link_to recipe.trimmed_title, recipe.url %>
      </div>
      <div class="rcp_list_element_source">
		  from <%= link_to recipe.sourcename, recipe.sourcehome %>
      </div>
      <div class="rcp_list_element_summary">
		  <%= summarize_alltags recipe %>
      </div>
      <div class="rcp_list_element_twocents">
		  <%= recipe.comment(@listowner) || "" %>
      </div>
      <div class="rcp_list_element_gotag">
		  <%= link_to "Tag This Cookmark!", edit_recipe_path(recipe) %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
