<% logger.debug "Rendering recipe #{@recipe.id}" %>
	<div class="collection-item <%= recipe_grid_element_class @recipe %>" >
		<%= recipe_image_div @recipe, "rcp_grid_pic_box" %>
        <%= recipe_grid_datablock @recipe %>
		<div class="rcp_grid_element_footer">
<!--
			<div class="rcp_grid_element_stats"><%= touch_date_elmt @recipe %></div>
-->
			<div class="rcp_grid_element_links" >
				<%= render "recipes/golink" %><%= render "recipes/sharelink" %>
			</div>
		</div>
	</div>
