<%# Partial for a single recipe in a "smallpic" recipe list %>
<% logger.debug "Rendering recipe #{@recipe.id}" %>
<li class="span3 <%= recipe_grid_element_class @recipe %>">
	<div class="thumbnail" >
		<div class="rcp_grid_pic_box"><%= recipe_fit_pic @recipe %></div>
		<div class="rcp_grid_datablock">
			<h5 class="rcp_grid_element_title"><%= link_to @recipe.trimmed_title, @recipe.url %></h5>
			<div class="rcp_grid_element_source">from <%= link_to @recipe.sourcename, @recipe.sourcehome %></div>
			<!-- <div class="rcp_grid_element_tag_summary"><%= summarize_alltags @recipe %></div> -->
		</div>
		<div class="rcp_grid_element_footer">
			<div class="rcp_grid_element_stats"><%= touch_date_elmt @recipe %></div>
			<div class="rcp_grid_element_spacer">&nbsp;</div>
			<div class="rcp_grid_element_golink"><%= render "recipes/golink" %></div>
		</div>
	</div>
</li>
