<% logger.debug "Rendering recipe #{@recipe.id}" %>
	<div class="collection-item <%= recipe_grid_element_class @recipe %>" >
		<%= recipe_image_div @recipe, "rcp_grid_pic_box" %>
		<div class="rcp_grid_datablock">
			<h5 class="rcp_grid_element_title"><%= link_to @recipe.trimmed_title, @recipe.url %></h5>
			<div class="rcp_grid_element_source">from <%= link_to @recipe.sourcename, @recipe.sourcehome %></div>
			<!-- <div class="rcp_grid_element_tag_summary"><%= summarize_alltags @recipe %></div> -->
		</div>
		<div class="rcp_grid_element_footer">
<!--
			<div class="rcp_grid_element_stats"><%= touch_date_elmt @recipe %></div>
-->
			<div class="rcp_grid_element_links" >
				<%= render "recipes/golink" %><%= render "recipes/sharelink" %>
			</div>
		</div>
	</div>
