<%# Partial for a single recipe in a "smallpic" recipe list %>
<% logger.debug "Rendering recipe #{@recipe.id}" %>
<div class="<%= recipe_list_element_class @recipe %>" >
  <div class="rcp_list_element">
    <div class="rcp_list_pic_box">
	  	<%= page_fitPic @recipe.picurl, @recipe.id %>
			<%# image_with_error_recovery @recipe.thumburl, alt: "Image Not Accessible" %>
    </div>
    <div class="rcp_list_text">
      <div class="rcp_list_element_title">
	     <%= link_to @recipe.title, @recipe.url %><%= recipe_popup @recipe %>
      </div>
      <div class="rcp_list_element_source">
	      from <%= link_to @recipe.sourcename, @recipe.sourcehome %>
      </div>
      <div class="rcp_list_element_tag_summary">
	     <%= summarize_alltags @recipe %>
      </div>
      <div class="rcp_list_element_twocents">
	     <%= present_comments @recipe  %>
      </div>
      <div class="rcp_list_element_golink">
	    <%= render "recipes/golink" %>
	  </div>
    </div>
    <div class="rcp_list_element_bottom">
      <div class="rcp_list_element_stats">
	    <%= touch_date_elmt @recipe %>
      </div>
	  <%# cookmark_count @recipe, @user -%> 
    </div>
  </div>
  <hr>
</div>
