<% unless current_user %>
	<div class="rightblock">
	  <div class="right_signin">
			<h3>Sign Up Here</h3>
			<div class="auth_poss at_home">
	      <div class="prompt">You can sign in with one of these services:</div>
			  <%= auth_possible "Facebook" %>
			  <%= auth_possible "Google", "google_oauth2_64.png" %>
			  <%= auth_possible "Twitter" %>
			  <%= auth_possible "Aol" %>
			  <%= auth_possible "Yahoo" %>
			  <%= auth_possible "OpenID", "open_id_64.png" %>
			</div>
		  <div class="prompt">Or go the full signup route:</div>
	    <%= render partial: "shared/slug_signup" %>
	  </div>
	</div>
<% end %>
