<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%# devise_error_messages! %>
  <%= form_errors_helper f, resource %>

  <%= f.input :username, label: "Username (Handle)" %>
  <%= f.input :fullname, label: "Full Name" %>
	<%= f.input :email, label: "Email (required)" %>

	<% if resource.password_required? %>
		<%= f.input :password %>
	<% end %>
	<p style="text-align:right">
  	<%= f.submit "Sign up", class: "btn btn-lg btn-success dialog-submit-button" %> 
	</p>
<% end %>
