<%= form_for(resource, :as => resource_name, :url => session_path(resource_name, response_service.params), :html => { 'data-type' => 'json'} ) do |f| %>
	<div class="signin">
		<strong>Sign in with a password:</strong><br>
		<%= flash_all false %>
		<div class="signin_credentials">
		  <%= f.label :login, "Username or Email".html_safe, class: "signin_element" %>
		  <%= f.text_field :login, class: "signin_element" %>
		  <%= f.label :password, class: "signin_element" %>
		  <%= f.password_field :password, class: "signin_element" %>
		</div>
		<div class="signin_go">
		  <% if devise_mapping.rememberable? -%>
		    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
		  <% end -%>
		  <div style="width:100%;height:40px;"><%= f.submit "Sign In", class: "btn btn-success" %></div>
			<div style="width:100%"><%= link_to_modal "Forgot Password", new_user_password_path( response_service.params ), class: "get_password" %></div>
		</div>
	</div>
<% end %>
