<div class="signup">
<div class="prompt">Sign Up</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :username, "Username (optional)" %>
  <%= f.text_field :username %></p>

  <div><%= f.label :email, "Email (required)" %>
  <%= f.email_field :email %></div>

<% if resource.password_required? %>
  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
<% end %>
  <div class="gobutton"><%= f.submit "Sign up" %></div>
<% end %>
</div>
