<div class="signin">
<div class="prompt">Sign In</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :login, "Username or Email (your choice)" %>
  <%= f.text_field :login, size: 40 %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, size: 40 %></p>

  <% if devise_mapping.rememberable? -%>
    <p>
			<%= f.check_box :remember_me, :checked => true, style: "margin:0px;" %> 
			<%= f.label :remember_me, style: "display: inline-block; width:auto; margin:0px; margin-left:3px;" %>
		</p>
  <% end -%>

  <div class="gobutton"><%= f.submit "Sign in", class: "submit_button" %></div>
  <%= forgot_password_link %>
<% end %>
</div>