<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "signin json" }) do |f| %>
  <%= form_errors_helper f %>
  <%= f.input :login, label: "Username or Email (your choice)" %></p>
  <%= f.input :password %></p>
  <% if devise_mapping.rememberable? -%>
		<%= f.input :remember_me, :as => :boolean, :wrapper => :checkbox, :input_html => { :checked => true } %> 
  <% end -%>
<p style="text-align:right">
  <%= f.submit "Sign in", class: "btn btn-success" %>
</p>
<% end %>
 <%= link_to_modal "Forgot Password", new_user_password_path %>
