<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%# devise_error_messages! %>
  <%= errors_helper resource %>

  <%= f.input :username, label: "Username (optional)" %>
  <%= f.input :fullname, label: "Real Name (optional)" %>
	<%= f.input :email, label: "Email (required)" %>

	<% if resource.password_required? %>
		<%= f.input :password %>
	<% end %>
  <div class="gobutton"><%= f.submit "Sign up" %></div>
<% end %>
