<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :username, label: "Username (optional)" %>
	<%= f.input :email, label: "Email (required)" %>

	<% if resource.password_required? %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
	<% end %>
  <div class="gobutton"><%= f.submit "Sign up" %></div>
<% end %>
