<div class="signin">
<div class="prompt">Sign In</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :login, "Username or Email (your choice)" %><br />
  <%= f.text_field :login %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %></p>
  <% end -%>

  <div class="gobutton"><%= f.submit "Sign in", class: "submit_button" %></div>
<% end %>
</div>