<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "signin json" }) do |f| %>
  <%= form_error_helper f %>
  <%= f.input :login, label: "Username or Email (your choice)" %></p>
  <%= f.input :password %></p>
  <% if devise_mapping.rememberable? -%>
		<%= f.input :remember_me, :as => :boolean, :wrapper => :checkbox %> 
  <% end -%>

  <div class="gobutton"><%= f.submit "Sign in", class: "submit_button" %></div>
<% end %>
 <%= link_to_modal "Forgot Password", new_user_password_path %>
