<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<div class="<%= stream_element_class :results %>" id="<%= viewparams.stream_id %>">
  <div class="stream-tail">
    <% if next_path = viewparams.next_path %>
        <%= image_tag "ajax-loader.gif", class: "beachball hide" %>
        <%= stream_loadlink next_path, response_service.container_selector %>
    <% else %>
        <%= empty_msg %>
    <% end %>
  </div>
</div>
