<div class="<%= stream_element_class :results %>">
  <%= yield :stream_results_preface if content_for? :stream_results_preface %>
  <div class="stream-tail">
    <% if next_path = @sp.next_path %>
        <%= image_tag "ajax-loader.gif", class: "beachball hide" %>
        <%= link_to "Click to load", "#",
                    onclick: 'RP.stream.go(event);',
                    onload: 'RP.stream.onload(event);',
                    class: "stream-trigger",
                    :"data-path" => next_path,
                    :"data-container_selector" => response_service.container_selector %>
    <% else %>
        <%= @empty_msg %>
    <% end %>
  </div>
</div>
