<h1>Listing thumbnails</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Thumdata</th>
    <th>Thumbwid</th>
    <th>Thumbht</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thumbnails.each do |thumbnail| %>
  <tr>
    <td><%= thumbnail.url %></td>
    <td><%= thumbnail.thumbdata %></td>
    <td><%= thumbnail.thumbwid %></td>
    <td><%= thumbnail.thumbht %></td>
    <td><%= link_to 'Show', thumbnail %></td>
    <td><%= link_to 'Edit', edit_thumbnail_path(thumbnail) %></td>
    <td><%= link_to 'Destroy', thumbnail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thumbnail', new_thumbnail_path %>
