<%= form_for(@rating) do |f| %>
  <% if @rating.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br />
    <%= f.text_field :recipe_id %>
  </div>
  <div class="field">
    <%= f.label :scale_id %><br />
    <%= f.text_field :scale_id %>
  </div>
  <div class="field">
    <%= f.label :scale_val %><br />
    <%= f.text_field :scale_val %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
