<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Scale</th>
    <th>Scale val</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.recipe_id %></td>
    <td><%= rating.show_scale %></td>
    <td><%= rating.value_as_text %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating', new_rating_path %>
