<h3>Listing Expressions</h3>

<table>
  <tr>
    <th>Tag</th>
    <th>Referent</th>
    <th>Form</th>
    <th>Locality</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expressions.each do |expression| %>
  <tr>
    <td><%= expression.tag_id %></td>
    <td><%= expression.referent_id %></td>
    <td><%= expression.form %></td>
    <td><%= expression.locale %></td>
    <td><%= link_to_submit 'Show', expression, mode: :modal %></td>
    <td><%= link_to_submit 'Edit', edit_expression_path(expression), mode: :modal %></td>
    <td><%= link_to_submit 'Destroy', expression, data: { confirm: 'Are you sure?' }, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expression', new_expression_path %>
