<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @expression.tag_id %>
</p>

<p>
  <b>Referent:</b>
  <%= @expression.referent_id %>
</p>

<p>
  <b>Form:</b>
  <%= @expression.form %>
</p>

<p>
  <b>Locality:</b>
  <%= @expression.locality %>
</p>


<%= link_to 'Edit', edit_expression_path(@expression) %> |
<%= link_to 'Back', expressions_path %>
