<%= simple_modal :contact, "Contact", style: "margin: 0px 15px;" do %>
	<p>
	  We want to hear from you! If you like the idea of RecipePower, please help us with your ideas and feedback. We're determined to build a how-did-I-live-without-it tool here, but we can't do it without you. If you feel <i>really</i> motivated, <i>please</i> spend five minutes to Take Our Survey on this version of RecipePower. Otherwise, there are several channels for reaching us:
	<ul>
		<li>First, the nicest gift we could ask for is your thoughts! When things occur to you while you're using RecipePower (problems, delights, ideas for improvement, etc.), then quick-like-a-bunny, hit the <%= link_to :feedback, "Feedback" %> link nestled discreetly at the bottom of the page, or send email to <%= mail_to "feedback@recipepower.com", "feedback@recipepower.com" %>.</li>
		<li>If you have any problem using the site, use the hotline at <%= mail_to "help@recipepower.com", "help@recipepower.com" %>. You should hear back within a day.</li>
		<li>Finally, we will be building a FAQ section that's actually based on frequently-asked questions (imagine that)! So please, submit any and all questions to <%= mail_to "questions@recipepower.com", "questions@recipepower.com" %>. And yes, you will get an answer.</li>
	</ul>
<% end %>
