<%= simple_modal :FAQ, "RecipePower FAQ" do %>
	<p>
	You may be amazed to hear this, but "Frequently Asked Questions" are not, in fact, always compiled from actual questions asked by actual users. They're more like "Questions We Thought Up Sitting At Our Desks Because We Needed A FAQ Page". Still, we have to start somewhere. Until people like you actually <i>ask</i> enough questions to compile, here are our Questions We Thought Up Sitting At Our Desks, etc.
	</p>
	<p>Meanwhile, please: <%= feedback_link "ask us a question" %>.</p>
	<%= question_section %q{What is this "Tagging" business?} do %>
	<p>
	You might have a three-ring binder where you've stored your recipes behind little tabs: pull the tab, find the recipes under that category. Now imagine that any recipe can have any number of categories. (We like to picture recipes bristling with tags like Minnie Pearl.)  You can reach into your binder and pull out all the recipes tagged "Dessert", or "Italian", or "gluten-free"--and you can combine tags, so that you can get gluten-free Italian desserts by grabbing all three tags.
	</p><p>
	That's what tagging is all about. You can use the tags that RecipePower is already set up with, and you'll get the benefit of the tagging work that other users do. And you can make your own tags:
	<% end %>
	<%= question_section "How do I add my own tags?" do %>
	<p>Making your own tags couldn't be simpler: just use them. In other words, when you're tagging a recipe, just type the new tag into the Tags box and hit Enter, or Return. RecipePower creates it for you. We'll even help you find it again later: whether tagging other recipes, or searching in the Cookmarks window, type a few characters from the tag and it will appear in a list you can choose from by clicking.
		<% end %>
	<%= question_section "Why can't I...(enter a recipe, compile a shopping list, etc.)?" do %>
	<p>
	Two things. First, this is not just another cooking website. Many other sites do those things quite well, and RecipePower is not meant to compete with them. Our mission, rather, is to tie all those <i>other</i> sites together by providing <strong>one place</strong> to go for filing and retrieving recipes you've already found/made, from wherever. RecipePower is about saving and earmarking, complementary to the search function of Google and others.
	</p><p>
	Second: perhaps you, like us, have wasted a lot of time with websites that try to do it all without doing any one thing particularly well. We're focusing on making RecipePower as useful and simple as humanly possible for keeping and leafing through your recipe findings.
	</p><p>
	(Secret, hidden agenda section: frankly, we are really tired of the limitations placed on recipes by the Web, and we would love to have a better way to do it, even if we have to build it ourselves. But first things first. If you'd like to weigh in on the subject, please see our <%= feedback_link "Feedback page" %>.)
	</p>
	<% end %>
	<%= question_section "What's the difference between Feeds and Channels?" do %>
	<p>
	A Feed is an ongoing stream of posts from food bloggers, recipe sites, etc. Also known as RSS Feeds, they're a kind of "news" that comes in from outside RecipePower.
	</p><p>
	A Channel is a special collection within RecipePower designed to cover some particular interest, like Pizza, or Cocktails. When you drop some yummy new recipe into a Channel, it appears there for everyone who's signed up for the Channel.
	</p>
	<% end %>
	<%= question_section "Why doesn't the recipe show a picture/Why is the picture wrong?" do %>
	<p>
	When you cookmark a recipe, RecipePower does its best to extract a sensible image from the page you've marked. But, then again...
	</p><p>
	You can fix the picture in the Tagging page. Click the Edit button on the recipe to get the editing panel. The picture is on the left side of the panel. If you click the "Pick Image" button below that (which may take a few seconds to appear), you'll get a selection of thumbnail images from the recipe's page. Click on one, and it pops into the preview panel. Save the tags, and that image will be used for the recipe.
	</p>
	<% end %>
<% end %>
