<h3>Admin</h3>
<p>RecipePower now has 
<%= Recipe.count.to_s %> recipes, 
<%= User.where("channel_referent_id = 0").count.to_s %> users, and
<%= User.where("channel_referent_id > 0").count.to_s %> channels.
<br>
<ul>
  <li><%= link_to "Create Channels", new_referent_path %></li>
  <li><%= link_to "Edit Tags", tags_path %></li>
  <li><%= link_to "List Users", users_path %></li>
</ul>
