<%= page_or_modal title: "Admin" do %>
    <p>RecipePower now has
      <%= Recipe.count.to_s %> recipes, and
      <%= User.count.to_s %> users.
      <br>
    <ul>
      <li><%= link_to "Edit Tags", tags_path %></li>
      <li><%= link_to "List Users", users_path %></li>
      <li><%= link_to "Add Feed(s)", new_feed_path %>--where you can scrape a page for feeds</li>
      <li><%= link_to "Aggregate User Data", admin_data_path(type: "aggregate_user") %></li>
      <li><%= link_to "Individual User Data", admin_data_path(type: "single_user") %></li>
    </ul>
<% end %>
