<div class='collect_form'>
  <%= image_tag 'rp-logo-xs-web.png', class: 'logo' %>
  <span class="prompt">Paste link below and click 'Add to Collection'</span>
  <%= flash_notifications_div 'flash_notifications', false %>
  <%= form_for @page_ref, label: 'Add to Collection', url: page_refs_path(:mode => :modal) do |f| %>
    <%= f.text_area :url, type: 'url', class: 'url_field', lines: 3 %>
    <br><%= f.label 'Collect As', class: 'kind' %>
    <%= f.select :kind, PageRefServices.kind_selections %>
    <%= f.submit 'Add to Collection', class: 'submit_button' %>
  <% end %>
</div>
