<%= modal_dialog 'cookmark new-style salmon', dialog_class: 'dialog-sm' do %>
    <div class="bm-pic" ><%= bookmarklet %></div>
    <div class="instructions_header">
      <p class="bm-text">With this <em>Cookmark Button</em> you can send recipes to
        RecipePower <em>from anywhere on the Internet</em>. Here's how:</p>
    </div>
    <hr>
    <div class="instructions_step" style="width: 150px; float: left">
      <%= image_with_error_recovery image_path('InstallCookmark1.png'),
                                    fill_mode: 'fixed-width',
                                    id: 'rcpPic_step2' %>
    </div>
    <p class="drag-text">First, drag the button from above to your browser's Bookmarks bar.</p>
    <p style="font-size: 80%; line-height: 1.1em">(If the bookmarks bar isn't visible, you can find it under "View" in the top menus)</p>
    <hr>
    <div class="instructions_step" style="width: 150px; float: right">
      <%= image_with_error_recovery image_path('InstallCookmark2.png'),
                                    fill_mode: 'fixed-width',
                                    id: 'rcpPic_step3' %>
    </div>
    <p class="cookmark-text">Then, when you see a recipe you like, click the 'Cookmark' link to send it rocketing to RecipePower.</p>
    <br>
    <%= dialog_cancel_button 'Okay, All Set' %>
<% end %>
