<div class="text_block">
<h3>RecipePower: Sharpening the Web for Cooks</h3> 
<h4>New to RecipePower?</h3>
<p class="airy">
The Web is the greatest library for cooks, <strong>ever</strong>. Trouble is, the jewels are scattered all over the galaxy. Wouldn't it be great to have one concentrated, brilliant collection, gleaned and groomed just for you? Well, here you go. RecipePower is the online lockbox for your culinary treasures, organized on <strong>your</strong> terms.
</p><p class="airy">
There are thousands of sources out there, from food blogs, to cooking sites, to search engines. What's needed is not another recipe site, but a way to bring them all together. So come on in to RecipePower! Collect, organize, share, rediscover and generally splash around in all your food-related "cookmarks" from the Web. You'll also find like-minded cooks on the same quest. Share recipes with, learn from, teach and collaborate with fellow travellers in your neighborhood of the food world.</p>
<h4>What's Different about RecipePower?</h4>
<p class="airy">
There are many recipe-clipping and -sharing sites these days. But most of them either have a limited set of sites they support, or expect you to wrangle with importing recipes, or both. RecipePower doesn't import anything. Instead, our cookmarks simply point back to the original recipe, which not only makes cookmarking easy as pie, but makes sharing that much more fluid. It also means there are no limits to where you can collect from. If you see it in a browser window, you can cookmark it.
</p><p class="airy">
RecipePower is coming soon to a browser near you. Meanwhile, we'd love to hear
your opinions about finding recipes on the Web. 
<br>
To take our survey, (short and sweet: ten questions, six minutes, done),
click below. Thanks again!
<br>
<%= link_to "Take the Survey (Please)!", new_visitor_path, :class => "signup_button" %>
<p class="airy">
...or, if you'd just like to hear when RecipePower is ready for prime time,
<br>leave us an email address where we can reach you:
</p>
<%= form_for(Visitor.new) do |f| %>

  <div class="field">
    <%= f.label "Email:" %><br />
    <%= f.text_field :baremail %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Submit email" %>
  </div>
<% end %>
</div>
