
<%= flash_notifications_div %>

<div class="panels">
  <section class="panel-one">
  </section>
  <section class="panel-two">
    <p class="panel-title">Lists</p>
    <p class="panel-subtitle">Browse and contribute to our favorites.</p>
    <p class="panel-description">A tool to create, contribute to and discover<br/>communities focused on specific interests.</p>
  </section>
  <section class="panel-three">
    <p class="panel-title">Recipes</p>
    <p class="panel-subtitle">Collect, rate & personalize every recipe on the web.</p>
    <p class="panel-description">Finally keep all your recipes in one place<br/>and contribute to everyone's recipe box.</p>
  </section>
  <section class="panel-four">
    <p class="panel-title">Cookmates</p>
    <p class="panel-subtitle">Contribute to the community of<br/>dessert bakers & dinner party makers.</p>
    <p class="panel-description-long">Invite your real life sous chefs<br/>and get the best tips from new friends.</p>
  </section>
 </div>

<% if false %>
<div class="centerblock" style="margin-top:50px;">
  <div style="position:absolute; bottom: 0px; height: 75px;"><%= image_tag "cookmark_button.png", style: "float: left; height:59px; width: 70px;", alt:"Cookmark" %></div>
  <div style="position:absolute; bottom: 0px; left: 90px; height: 55px;"><span class="logo">RecipePower</span></div>
</div>
<div class="centerblock sub">Leave the Junk Behind</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 ">
    <p><large>The Internet is a treasure-house for cooks...IF you can get past the junk and hold on to the winners. Keep your finds here and
      help our community build the Fort Knox of kitchen knowledge--all gold.
      Recipes are just the beginning.</large></p>
  </div>
</div>
<div class="centerblock">
<% end %>
  <% if current_user %>
      <%= link_to("To My Collections!!", user_collection_path(current_user), class: "btn btn-lg btn-info") %>
  <% else %>
      <%= signup_button %>
  <% end %>
<% if false %>
</div>
<div class="need_to_know page">
  <%= render "pages/need_to_know_content" %>
</div>
<% end %>
