<div class="text_block">
<h2>RecipePower is Coming!</h2> 
<h3>Sharpening the Web for Cooks</h3>
<p class="airy">
The Web is the most wonderful, vast library for cooks, EVER. But the jewels, the recipes that are perfect <strong>for you</strong> are scattered in all corners of the galaxy. Wouldn't you love to have one concentrated, brilliant collection, the Best of the Web, with your name on it? Well, here you go. RecipePower is where you can collect, 
organize, share, rediscover and generally splash around in all your food-related "cookmarks" from the Web. It's an online lockbox for your culinary treasures, organized on <strong>your</strong> terms.  
</p><p class="airy">
There are thousands of sources out there, from food blogs, to cooking sites, to search engines--but RecipePower is the <strong>one place</strong> to bring them all together. It's also where you'll find like-minded cooks on the same quest. Here, you can meet, share recipes with, learn from, teach and collaborate with others from fellow travellers in your food world.
</p><p class="airy">
RecipePower is coming soon to a browser near you. Meanwhile, we'd love to hear
your opinions about finding recipes on the Web. 
<br>
To take our survey, (short and sweet: ten questions, six minutes, done),
click below. Thanks again!
<br>
<%= link_to "Take the Survey (Please)!", new_visitor_path, :class => "signup_button" %>
<p class="airy">
...or, if you'd just like to hear when RecipePower is ready for prime time,
<br>leave us an email address where we can reach you:
</p>
<%= form_for(Visitor.new) do |f| %>

  <div class="field">
    <%= f.label "Email:" %><br />
    <%= f.text_field :baremail %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Submit email" %>
  </div>
<% end %>
</div>
