<div class="text_block">
<h3>RecipePower: The Best Recipes on the Web, According to...You</h3> 
<p class="airy">
The Web is the greatest library for cooks, <strong>ever</strong>--and the search tools are amazing. But who knows what you like better than you? RecipePower is the place to capture all the work you do to find j-u-u-u-s-t the right recipe, giving you <strong>the one place</strong> to keep those jewels safe, share your findings with others, and get clued in to what your friends are cooking.
</p><p class="airy">
There are thousands of places to <strong>get</strong> recipes: food blogs, cooking sites, search engines... What's needed is not another recipe site, but a way to bring them all together. At RecipePower, you collect, organize, share, rediscover and generally splash around in all your food-related "cookmarks" from the Web. You'll also find like-minded cooks on the same quest. Share recipes with, learn from, teach and collaborate with fellow travellers in your neighborhood of the food world.</p>
<h4>What's Different about RecipePower?</h4>
<p class="airy">
There are many recipe-clipping and -sharing sites these days. But most of them either support a limited set of sites, or expect you to wrangle with importing recipes, or both. RecipePower doesn't import anything. Instead, our cookmarks simply remember where the recipe lives, so there are no limits to where you can collect from. If you see it in a browser window, you can cookmark it.
</p><p class="airy">
RecipePower is coming soon to a browser near you. Meanwhile, we'd love to hear
your opinions about finding recipes on the Web. 
<br>
To take our survey, (short and sweet: ten questions, six minutes, done),
click below. Thanks again!
<br>
<%= link_to "Take the Survey (Please)!", new_visitor_path, :class => "signup_button" %>
<p class="airy">
...or, if you'd just like to hear when RecipePower is ready for prime time,
<br>leave us an email address where we can reach you:
</p>
<%= form_for(Visitor.new) do |f| %>

  <div class="field">
    <%= f.label "Email:" %><br />
    <%= f.text_field :baremail %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Submit email" %>
  </div>
<% end %>
</div>
