<%= flash_all %>
<div class="centerblock" style="margin-top:50px;">
  <div style="position:absolute; bottom: 0px; height: 75px;"><%= image_tag "CookmarkButton.png", style: "float: left; height:59px; width: 70px;", alt: "Cookmark" %></div>
  <div style="position:absolute; bottom: 0px; left: 90px; height: 55px;"><span class="logo">RecipePower</span></div>
</div>
<%# <div class="centerblock bold">Vault</div>
<div class="centerblock bold">Water Cooler</div>
<div class="centerblock bold">Newsstand</div> %>
<div class="centerblock sub">Keep Your Inspiration</div>
<div class="centerblock">
  <% if current_user %>
    <%= link_to("To My Collections!!", collection_user_path(current_user), class: "btn btn-lg btn-info") %>
    <%# link_to("Show Me First", collection_path(popup: "pages/need_to_know_modal"), class: "btn btn-lg btn-info") %>
  <% else %>
    <%= signup_button %>
  <% end %>
</div>
<div class="need_to_know page">
  <%= render "pages/need_to_know_content" %>
</div>


