<%= javascript_include_tag 'jquery.panelSnap' %>
<script type="text/javascript">
    jQuery(function ($) {
        $('body').panelSnap( {
            panelSelector: 'section.snap-panel',
        onActivate: function (a, b) {
            RP.slider.startScroll($('div.track', a)[0])
        }}) ;
    });
</script>
<div class="panels">
  <section class="snap-panel panel-one">
    <div class="panel-elements">
      <p class="panel-title">RecipePower is Here</p>
      <p class="panel-subtitle">Cooks Together, Owning the Web.</p>
      <p class="panel-description">Keep your finds from anywhere and<br/>pool them with our community.</p>
    </div>
  </section>
  <section class="snap-panel panel-three">
    <div class="panel-elements">
      <p class="panel-title">Recipes</p>
      <p class="panel-subtitle">If it works, why throw it back?</p>
      <p class="panel-description">Clip and save the best recipes you've found <br/>on the web, and share them around
        here.</p>
    </div>
    <%= render 'lists/pano', list: List.find(658)  %>
  </section>
  <section class="snap-panel panel-four">
    <div class="panel-elements">
      <p class="panel-title">Cookmates</p>
      <p class="panel-subtitle">Join our community of dessert<br/>bakers & dinner party makers.</p>
      <p class="panel-description-long">Invite your real life sous chefs<br/>and hear about what they're cooking up.</p>
    </div>
    <%= render 'lists/pano', list: List.find(659) %>
  </section>
  <section class="snap-panel panel-two">
    <div class="panel-elements">
      <p class="panel-title">Treasuries</p>
      <p class="panel-subtitle">Browse and contribute to our favorites.</p>
      <p class="panel-description">A tool to create, contribute to and discover<br/>communities focused on specific
        interests.</p>
    </div>
    <%= render 'lists/pano', list: List.find(660) %>
  </section>
  <section class="snap-panel panel-three">
    <div class="panel-elements">
      <p class="panel-title">Feeds</p>
      <p class="panel-subtitle">New ideas come to you.</p>
      <p class="panel-description">Subscribe to food blogs and columns <br/>from all over the world.</p>
    </div>
    <%= render 'lists/pano', list: List.find(661) %>
  </section>
</div>
