<% if response_service.injector? %>
	<%# dialogHeader :heads_up, @title || express_error_context(@resource), area: @_area, class: "generic_alert" %>
	<%= dialogHeader :heads_up, @title || express_error_context(@resource), response_service.modal_options( class: "generic_alert") %>
		<h3><%= @title || express_error_context(@resource) %></h3>
		<div class="error_box">
			<%= express_resource_errors @resource, preface: (@title ? express_error_context(@resource) : "") %>
		</div>
		<div class="error_cancel">
			<%= dialog_cancel_button "Okay" %>
		</div>
	<%= dialogFooter %>
<% else %>
	<%# modal_dialog :heads_up, @title || express_error_context(@resource), area: @_area do %>
	<%= modal_dialog :heads_up, @title || express_error_context(@resource), response_service.modal_options do %>
		<%= modal_body do %>
			<%= express_resource_errors @resource, preface: (@title ? express_error_context(@resource) : "") %>
		<% end %>
		<%= modal_footer do %>
			<%= dialog_cancel_button "Okay" %>
		<% end %>
	<% end %>
<% end %>

