<% colors = %w{#e6ccc8 #e9e4ca #222222 #dfdfdf #e9e4ca #f5f2ee #816887 } %>
<% icons = %w{ plus check chef list-viewer list-list list-add heart-friend heart-heart heart-add edit-gray edit-red tag upload vote-down share send-left } %>
<% offsets = [ ]; xoff=500; yoff=600 %>
<% [0, 600, 1200, 1850, 2500, 3100].each { |y| (0..2).to_a.each { |xindex| offsets << [ xindex*xoff, y] }} %>
<% offsets.delete_at(12); offsets.delete_at(12); offsets[12][0] -= 45 %>
<h3>Icons</h3>
<table>
  <thead>
  <tr>
    <th>color</th>
    <% icons.each do |icon| %>
        <th>
          id="<%= icon %>"
        </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% colors.each do |color| %>
      <tr>
        <td style="color: <%= color %>; background-color: <%= color %>; width: 100px; height: 100px;">
          <%= color %>
        </td>
        <% index=0 %>
        <% icons.each do |icon| %>
            <td >
              <% x, y = offsets[index] %>
              <% box = [x, y, 500, 500].map(&:to_s).join ' ' %>
              <svg width="75" height="75" viewBox="<%= box %>" style="margin: 1px; color: <%= color %>; border: 1px solid black">
                <use xlink:href='recipe-power-sprite.svg#<%= icon %>' />
              </svg>
<!--
              <svg class="twitter-icon" width="100" height="100">
                <use xlink:href="recipe-power-sprite.svg"></use>
              </svg>
-->
              <!--<object type="image/svg+xml" width="100" height="100" data="recipe-power-sprite.svg"></object>-->
            </td>
            <% index = index+1 %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
