<h3>Welcome<%= current_user ? ", "+current_user.handle : "" %>!</h3> 
<table>
  <tr>
	<td>Login:</td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('authentications/new')">Full Page HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('authentications/new')">Full Page JSON</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('authentications/new', 'modal')">Modal HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('authentications/new', 'modal')">Modal JSON</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('authentications/new', 'at_left')">Left HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('authentications/new', 'at_left')">Left JSON</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('authentications/new', 'at_top')">Top HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('authentications/new', 'at_top')">Top JSON</button></td>
  </tr>
  <tr>
	<td>Add Cookmark:</td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('recipes/new')">Full Page HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('recipes/new')">Full Page JSON</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('recipes/new', 'modal')">Modal HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('recipes/new', 'modal')">Modal JSON</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('recipes/new', 'at_left')">Left HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('recipes/new', 'at_left')">Left JSON</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunHTML('recipes/new', 'at_top')">Top HTML</button></td>
	<td><button type="button" onclick="recipePowerGetAndRunJSON('recipes/new', 'at_top')">Top JSON</button></td>
  </tr>
  <tr>
	<td>New Cookmark:</td>
  </tr>
  <tr>
	<td>Edit Cookmark:</td>
  </tr>
</table>
<button type="button" onclick="toggleResults()">Toggle Results Display</button></td>
<div class="results">
</div>
<div id="sidebar">
<h3>Getting Started</h3>
<p><%= bookmarklet %>
Make it stupid-simple to capture recipes: drag this handy
	button to your browser's Bookmarks bar. After that, life is sweet: when you find a recipe to remember,
	click the Cookmark link to stow it in RecipePower. 
</p><p>
Without the button, you can always manually copy and paste links into RecipePower, (see the <%= link_to "Add a Cookmark", new_recipe_path %> link above). But that's not very convenient, is it?
</p>
</div>
<p class="airy">Thank you for coming. May we introduce ourselves?</p>
<h4>The Quick Skinny</h4>
<p class="airy">
RecipePower is for collecting <i>cookmarks</i>. A cookmark is just a link back to a recipe or any other cooking-related page on the Web: just like a bookmark, but kept in RecipePower. Collections of Cookmarks are the heart of RecipePower: you have one, your friends each have one, and there are even special-interest collections called <i>channels</i>. In RecipePower, the <strong><%= link_to "Cookmarks", rcpqueries_path %></strong> page is "cookmark central", where you view and sort through collections of all kinds. 
</p><p class="airy">
How do recipes get <i>into</i> your Cookmarks collection in the first place? Simple. Start by dragging our handy bookmarklet (see sidebar at right) into the bookmark bar of your browser. Then when you're browsing the web, you can cookmark any recipe by just clicking the bookmarklet. The page you're on at that time gets whisked over to RecipePower.
</p><p class="airy">
You can also grab a cookmark from somebody else. When browsing another's Cookmarks collection, if you see something you like, click its <strong>Grab This Cookmark</strong> link. It does what it says it does.
</p><p class="airy">
Finally, if you're a certain type of person, you might also want to copy and paste addresses straight from your browser bar into RecipePower. You can do that with the <strong><%= link_to "Add a Cookmark", new_recipe_path %></strong> link above.
</p>
<h4>Tagging Recipes</h4>
<p class="airy">
Once your collection grows to more than a couple of dozen recipes, you'll want a way to organize them. RecipePower lets you organize cookmarks any way you like with <strong>tags</strong>. A tag is just a name for a collection. Tag a recipe for, say, Sunday Night Specials and then, when you later look for Sunday Night Specials, RecipePower will go through your collection and pull up all the recipes with that tag. You create new tags just by pretending they exist. Type a tag into the tag box and, if it doesn't already exist, the collection springs into existence, just like magic.
</p><p class="airy">
How "should" you tag your recipes? Any way you like! RecipePower has defined many useful tags and you can also tag recipes according to the channels that we've set up. But you're not limited to our vocabulary. If you want to tag a recipe as Uncle Bernie's Favorite, be our guest.
</p>
<h4>What are Channels?</h4>
A channel is a collection of special-interest recipes like "Cocktails" or "Simple but Swanky". If that sounds a little like tags, fair enough: a recipe gets put into a channel in exactly the same way it gets tagged, and you can look recipes up by channel, too, same as tags. But where tags are about things like the genre of a recipe or what course it serves, Channels can be about <strong>any</strong> topic. But more important, when you sign up for a channel, you not only get a look at all the recipes that have been posted to that channel, you also hear about <i>new</i> recipes as they're added to the channel. They pop up in your news feed.
<h4>Now What?</h4>
<p class="airy">
Why not head over to the <%= link_to "Cookmarks", rcpqueries_path %> page and have a look? You'll find that you have some friends there already. You can get started by browsing through their recipes and seeing their tags. We've also provided you with a starter set of Channels. If you want to add new friends or select other channels go to the Profile page under your name at the top right of the screen.
</p><p class="airy">
But why not go out to the Web, find some of your favorite recipes, and bring them into RecipePower? It's a good feeling to know that your magic recipes are waiting for you any time you like.
</p><p class="airy">
Oh, one more thing: let us invite you right now to invite your friends to RecipePower. You'll be able to grab cookmarks from one another, and see what others are up to in the kitchen. Why not settle in and make cooking a community experience with RecipePower? Use the Invite link above to introduce people to the site. We'll get them set up and cooking <i>tout suite</i>.
</p>
