<h3>Welcome<%= current_user ? ", "+current_user.handle : "" %>!</h3> 
<div class="welcome_sidebar">
  <p><span class="large">Getting Started</span></p>
  <div class="bookmarklet">
    <%= bookmarklet %>
  </div>
  <p>This is the <em>Cookmark</em> button, where the magic happens.</p>
  <div class="instructions_step">
	<%= page_fitPic "drag_pic.png", "_step2" %>
  </div>
  <p>Drag the Cookmark button onto your browser's bookmarks bar.
  <br><span class="small">(If the bookmarks bar isn't visible, you can find it under "View" in the top menus)</p>
  <div class="instructions_step">
    <%= page_fitPic "click_cookmark.png", "_step3" %>
  </div>
  <p>With any recipe showing in your browser, click on the Cookmark button to remember it in
    your RecipePower collection.</p>
</div>
<p class="airy">Thank you for coming. May we introduce ourselves?</p>
<h4>The Quick Skinny</h4>
<p class="airy">
RecipePower is for collecting <i>cookmarks</i>. A cookmark is just breadcrumbs back to any recipe on the Web: just like a bookmark, but better, in RecipePower. Collections of Cookmarks are what it's about: everyone has a collection--you, your friends--and there are also special-interest collections called <i>channels</i>. It's all there on the <strong><%= link_to "Cookmarks", collection_path %></strong> page. 
</p><p class="airy">
How do cookmarks get collected in the first place? With our handy bookmarklet! (See sidebar at right.) You can cookmark any recipe by just clicking the bookmarklet in your browser's bookmarks bar. The page containing the recipe (or rather, its cookmark) gets whisked over to RecipePower.
</p><p class="airy">
You can also grab a cookmark from anyone else on RecipePower. When browsing through various collections, if you see something you like, click its <strong>Grab This Cookmark</strong> link and Poof! it's yours too.
</p><p class="airy">
Finally, some people like copy-and-paste. If you've copied the URL for a recipe, click on the <strong><%= link_to "Add a Cookmark", new_recipe_path %></strong> link above.
</p>
<h4>Tagging Recipes</h4>
<p class="airy">
Once you collect more than a few recipes, you'll want to get them organized, and that's where <strong>tags</strong> come in. A tag is just a label that you might use to recall a recipe. Tag a recipe for, say, Sunday Night Specials and then, when you later ask for Sunday Night Specials, RecipePower will present all the recipes with that tag. They're kind of like sections in a binder, except that any recipe can have any number of tags.
</p><p class="airy">
So where do tags come from? We've set up a rich dictionary of tags, but of course you're free to make up other tags if they make sense to you. Create a new tag just by pretending it exists: type a tag into the tag box, hit Return, and it gets created, just like magic.
</p><p class="airy">
How "should" you tag your recipes? Any way you like! If you want to tag a recipe as Uncle Bernie's Favorite, be our guest.
</p>
<h4>What are Channels?</h4>
<p class="airy">
As a cook, you probably have some special interests: maybe one-dish meals, or Atkins recipes, or barbecue. The possibilities are endless. You have interests, we have channels that serve those interests. There are channels for "Cocktails," "Simple but Swanky," and many more. If that sounds a little like tags, fair enough: a recipe gets put into a channel in exactly the same way it gets tagged, and you can look recipes up by channel, too, same as tags. But when you sign up for a channel, you not only get a look at all the recipes that have been posted there, you also hear about <i>new</i> recipes as they're added to the channel. They pop up in your news feed.
<h4>Now What?</h4>
<p class="airy">
After you install the bookmarklet, why not head over to the <%= link_to "Cookmarks", collection_path %> page and have a look? You'll find that you have some friends there already. You might get started by browsing through their recipes and seeing their tags. We've also provided you with a starter set of Channels. If you want to add new friends or select other channels go to the Profile page under your name at the top right of the screen.
</p><p class="airy">
But why not go out to the Web, find some of your favorite recipes, and bring them into RecipePower? It's a good feeling to know that your magic recipes are waiting for you any time you like.
</p><p class="airy">
Oh, one more thing: let us invite you right now to invite your friends to RecipePower. You'll be able to grab cookmarks from one another, and see what others are up to in the kitchen. Why not settle in and make cooking a community experience with RecipePower? Use the Invite link above to introduce people to the site. We'll get them set up and cooking <i>tout suite</i>.
</p>
