<%= modal_dialog 'check-alias new-style green' do %>
    <%= modal_body do %>
        <p>That invitation was for '<%= invitee.email %>'. Is that you? </p>
        <%= button_to_submit 'Yes',
                             accept_user_invitation_url(
                                     :make_alias => true,
                                     :mode => :modal,
                                     :invitation_token => invitation_token
                                     # :rpevent => RpEvent.event_trigger_data(invitee, :invitation_responded, @invitation_event, invitee.invited_by),
                             ) %>
        <%= dialog_cancel_button 'No' %>
    <% end %>
<% end %>