<p id="notice"><%= notice %></p>

<p>
  <b>Domain:</b>
  <%= @link.domain %>
</p>

<p>
  <b>Path:</b>
  <%= @link.path %>
</p>

<p>
  <b>Type:</b>
  <%= @link.type %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
