<% resource = nil unless defined? resource %>
<% invitee_error = nil unless defined? invitee_error %>
<div class="new-style notifs" , onload="RP.access_links.onload(event);">
  <div class="modal-content">
    <div class="modal-header" style="text-align: center; border: none; color:#ECE6CD;">
      <% if resource %>
          <a class="select-content signup" data-activate="accept"><%= invitation_acceptance_label %></a>
          <a class="select-content rollup none"><%= sprite_glyph(:'vote-up', 'xl') %></a>
          <br><a class="select-content signin" data-activate="signin">Sign In Otherwise</a>
      <% else %>
          <a class="select-content signup" data-activate="signup">Sign Up</a>&nbsp;|&nbsp;
          <a class="select-content signin" data-activate="signin">Sign In</a>
          <a class="select-content rollup none" <%= 'style=display:initial;' if invitee_error %> >
            <%= sprite_glyph(:'vote-up', 'xl') %>
          </a>
      <% end %>
    </div>
    <% if resource %>
        <%= render 'notifs/accept_invitation', resource: resource, invitee_error: invitee_error %>
    <% else %>
        <%= render 'notifs/signup', invitee_error: invitee_error %>
    <% end %>
    <%= render 'notifs/signin' %>
  </div>
</div>
