<% resource = nil unless defined? resource %>
<% invitee_error = nil unless defined? invitee_error %>
<div class="notifs-holder" style="position: absolute; width: 100%">
  <div class="new-style notifs collapsed" , onload="RP.access_links.onload(event);">
    <div class="modal-content">
      <div class="modal-header">
        <% if resource %>
            <a class="select-content signup" data-activate="accept"><%= invitation_acceptance_label %></a>
            <a class="select-content rollup none glyphicon glyphicon-remove"><%# sprite_glyph(:'vote-up', 'xl') %></a>
            <br><a class="select-content signin" data-activate="signin">Sign In Otherwise</a>
        <% else %>
            <div class="header-links waiting" >
              <a class="select-content signup" data-activate="signup">Sign&nbsp;Up</a>
              <span class="separator">&nbsp;|&nbsp;</span>
              <a class="select-content signin" data-activate="signin">Sign&nbsp;In</a>
             </div>
            <div class="header-links signup" style="display: none">
              <div style="display: table; margin: 0 auto">
                <span>Sign&nbsp;Up</span>
                <a class="select-content signin" data-activate="signin">Sign in</a>
              </div>
              <a class="select-content rollup none glyphicon glyphicon-remove" data-activate="waiting" <%= 'style=display:initial;' if invitee_error %> >
                <%# sprite_glyph(:'vote-up', 'xl') %>
              </a>
            </div>
            <div class="header-links signin" style="display: none">
              <div style="display: table; margin: 0 auto">
                <span>Sign&nbsp;In</span>
                <a class="select-content signin" data-activate="signup">Sign up</a>
              </div>
              <a class="select-content rollup none glyphicon glyphicon-remove" data-activate="waiting" <%= 'style=display:initial;' if invitee_error %> >
                <%# sprite_glyph(:'vote-up', 'xl') %>
              </a>
            </div>
        <% end %>
      </div>
      <% if resource %>
          <%= render 'notifs/accept_invitation', resource: resource, invitee_error: invitee_error %>
      <% else %>
          <%= render 'notifs/signup', invitee_error: invitee_error %>
      <% end %>
      <%= render 'notifs/signin' %>
    </div>
  </div>
</div>
