<div id="alltags" >
  <% unless @taglist.empty? %>
	<table>
	  <tr class="list_header">
	    <th class="list_header">ID</th>
	    <th>Name</th>
	    <th>Type</th>
		<th></th>
		<th>Public?</th>
		<th>Similar</th>
	    <th>Synonym(s)</th>
	    <th>Meaning(s)</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @taglist.each do |tag| %><tr id="tagrow_<%= tag.id.to_s %>">
		<td class="tag_type"><%= tag.id.to_s %></td>
		<td><%= summarize_tag tag %></td>
		<td><%= select_tag :tagtype, type_selections(tag), class: "tag_type_selector" %></td>
		<td><%= count_recipes tag %>
		   <br><%= count_owners tag %>
		   <br><%= count_links tag %></td>
		<td><%= tag.isGlobal ? "Y" : "N" %>
		<td><%= summarize_tag_similars tag, label: "", absorb_btn: true, joiner: "<br>" %></td>
		<td><%= summarize_synonyms tag %></td>
		<td><% tag.referents.each do |ref| %>
		      <%= link_to ref.name, edit_referent_path(ref) %><%= ", " unless ref == tag.referents.last %>
		<% end %></td>
	    <td><%= link_to 'Show', tag %></td>
	    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
	    <td><%= link_to 'Destroy', tag, confirm: 'Are you sure?', method: :delete %></td>
	</tr><tr id="tagrow_<%= tag.id.to_s %>HR"><td colspan="11"><hr></td></tr><% end %>
	</table>
  <% else %>
	<p class="airy">...Sorry, no tags match.</p>
  <% end %>
  <%= link_to 'New Tag', new_tag_path %>
</div>