<%= form_for(@tag) do |f| %>
    <%= tag :input, type: 'hidden', name: 'mode', value: 'modal' %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </div>
      </div>
    </div>
    <% if response_service.admin_view? %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :type %>&nbsp;<%= f.select :tagtype, tagtype_selections(@tag) %>
            </div>
          </div>
        </div>
    <% end %>
    <%= modal_footer do %>
        <%= form_actions f, submit_label: (@tag.id ? "Update Tag" : "Create Tag"), class: "btn btn-success", style: "margin-top: 10px;" %>
    <% end %>
<% end %>
