<%# TODO: move this stuff into the tag presenter %>
<div class="container">
  <%= presenter.synonyms %>
  <%= presenter.meaning %>
  <%= presenter.owners %>
  <%= presenter.similars %>
  <%= presenter.referents %>
  <%= presenter.parents %>
  <%= presenter.children %>
</div>
<%= presenter.references %>
<%= presenter.relations %>
<%= presenter.recipes %>
<br>
<% if response_service.admin_view? && permitted_to?(:edit, @tag) %>
    <%= link_to_submit 'Edit', edit_tag_path(@tag), :mode => :modal %>
<% end %>
<%= link_to_submit 'All Tags', tags_path, mode: 'partial', item_mode: 'table' %>
