<% item ||= @tag %>
<% presenter = TagPresenter.new item.decorate, self, current_user %>
<% @tagserv = TagServices.new item %>
  <td class="tag_type"><%= item.id.to_s %></td>
  <td>
    <strong><%= tag_homelink(item, onload: 'RP.dragdrop.init(event);') %></strong>
    <br><%= presenter.meaning %>
  </td>
  <td><%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true), :last, :first, item.tagtype),
                     class: 'tag_type_selector',
                     onchange: 'RP.change(event);',
                     data: {request: '/tags/typify',
                            valueparam: 'typenum',
                            querydata: {tagid: item.id}} %></td>
  <td>
    <%= presenter.table_summaries response_service.admin_view? %>
  </td>
  <td>
    <%= @tagserv.isGlobal ? 'Y' : 'N' %>
  </td>
  <td>
    <%= presenter.summarize_aspect :lexical_similars, :for => :table, helper: :summarize_tag_similar, label: '', absorb_btn: true, joiner: '<br>' %>
  </td>
  <td>
    <%= presenter.summarize_aspect :synonyms, :for => :table, helper: :summarize_tag_similar, label: '', absorb_btn: true, joiner: '<br>' %>
  </td>
  <% if permitted_to? :edit, item %>
      <td>
        <%= link_to_submit 'Edit', edit_tag_path(item), mode: 'modal' %>
        <br>
        <%= button_to_submit 'Destroy',
                             tag_path(item, format: :json),
                             'danger',
                             'xs',
                             with_form: true,
                             data: { confirm: 'Are you sure you want to destroy this tag...for good?' },
                             method: :delete if response_service.admin_view? %>
        <%= button_to_submit 'Ban',
                             tag_path(item, format: :json, ban: true),
                             'danger',
                             'xs',
                             with_form: true,
                             data: { confirm: 'Are you sure you want to ban this tag?' },
                             method: :delete if response_service.admin_view? %>
      </td>
  <% end %>
