<% item ||= @tag %>
<% presenter = TagPresenter.new item.decorate, self, current_user %>
<% @tagserv = TagServices.new item %>
<td style="max-width:150px">
  <strong><%= homelink(item, onload: 'RP.dragdrop.init(event);') %></strong>
  (<%= item.typename %>)
  <br><%= presenter.description %>
  <% if presenter.decorator.user_can?(:edit) && response_service.admin_view? %>
      <%= item.id.to_s %>
      <br>
      <% if @tagserv.isGlobal %>
          <span style="color: green">Public</span>
      <% else %>
          <span style="color: red">Private</span>
      <% end %>
      <br>
      <%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true), :last, :first, item.tagtype),
                     class: 'tag_type_selector',
                     onchange: 'RP.change(event);',
                     data: {request: '/tags/typify',
                            valueparam: 'typenum',
                            querydata: {tagid: item.id}} %><br>
      <br>
      <%= link_to_dialog 'Edit', edit_tag_path(item) %>
      <br>
      <%= button_to_submit 'Destroy',
                           tag_path(item),
                           'danger',
                           'xs',
                           with_form: true,
                           data: {confirm: 'Are you sure you want to destroy this tag...for good?'},
                           method: :delete %>
      <%= button_to_submit 'Banish',
                           tag_path(item, ban: true),
                           'danger',
                           'xs',
                           with_form: true,
                           data: {confirm: 'Are you sure you want to banish this tag?'},
                           method: :delete %>
  <% else %>
  <% end %>
</td>
<td>
  <%= presenter.taggees_table_summary %>
  <% NestedBenchmark.measure 'Meanings:' do %>
    <br><%= safe_join presenter.table_summaries(response_service.admin_view?).compact, '<br>'.html_safe %>
  <% end %>
  <% if presenter.decorator.user_can?(:edit) && response_service.admin_view? %>
      <%= render 'form_synonym', presenter: presenter %>
      <%= render 'form_child', presenter: presenter %>
  <% end %>
</td>
<td>
  <% NestedBenchmark.measure 'Similar Tags:' do %>
  <%= presenter.summarize_aspect :lexical_similars,
                                 :for => :table,
                                 helper: :summarize_tag_similar,
                                 label: '',
                                 absorb_btn: (presenter.decorator.user_can?(:edit) && response_service.admin_view?),
                                 merge_into_btn: (presenter.decorator.user_can?(:edit) && response_service.admin_view?),
                                 joiner: '<br>' %>
  <% end %>
</td>
