<% @tagserv = TagServices.new item %>
<tr id="<%= dom_id item %>">
	<td class="tag_type"><%= item.id.to_s %></td>
	<td><%= summarize_tag %></td>
	<td><%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true), :last, :first, item.tagtype), 
			class: "tag_type_selector",
			onchange: "RP.change(event);",
            data: {request: "/tags/typify",
                   valueparam: "typenum",
                   querydata: {tagid: item.id}} %></td>
  <td>
		<%= summarize_tag_recipe_count %>
		<%= summarize_tag_owner_count %>
		<%= summarize_tag_parents_count %>
		<%= summarize_tag_children_count %>
		<%= summarize_tag_reference_count %>
	</td><td>
		<%= @tagserv.isGlobal ? "Y" : "N" %>
	</td><td>
		<%= summarize_tag_similars label: "", absorb_btn: true, joiner: "<br>" %>
	</td><td>
		<%= summarize_tag_synonyms "" %>
	</td><td>
		<% item.referents.each do |ref| %>
      <%= link_to_modal ref.name, referent_path(ref) %><%= ", " unless ref == item.referents.last %>
		<% end %>
	</td>
	<% if permitted_to? :edit, item %>
   	<td>
			<%= link_to_modal 'Edit', edit_tag_path(item) %>
		</td><td>
			<%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %>
		</td>
	<% end %>
</tr>
