<div class="control-group">
  <label class="string optional"><%= label %>(s)<br><span class="locked-tags"><%= locked_tags %></span></label>
  <input id="<%= decorator.element_id :tagging_user_id %>" name="<%= decorator.field_name :tagging_user_id %>" type="hidden" value="<%= decorator.tagging_user_id %>">
  <input type="text"
         class="token-input-field-pending"
         id="<%= tokens_id %>"
         name="<%= decorator.field_name tokens_id %>"
         rows="2"
         size="30"
         placeholder="<%= label.pluralize %>"
         data-tagtype="7"
         data-pre="<%= data_pre %>"/>
</div>
