<%= triggered_form(@sp.query) do %>
    <div class="page-header">
      <h2><%= ttl %> <small><%= stream_element :count %></small>
        <% if type_selector %>
            <div style="display:inline-block; vertical-align:bottom; margin:5px 10px">
              <%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true, true), :last, :first, @sp.param(:tagtype)) || 0,
                             :include_blank => false,
                             :onchange => %Q{RP.submit.onselect( event ); } %>
            </div>
        <% end %>
        <%= stream_element :"filter-field" %>
      </h2>
    </div>
<% end %>
