<%= modal_dialog :edit_tag, "Editing tag #{@tag.id.to_s}: #{@tag.name}" do %>

<%= render 'form' %>

<%= link_to 'Show', @tag %> |
<%= link_to 'Back', tags_path %>
<hr>
<h4>Select another tag to edit:</h4>
<%= text_field_tag "Focus on tags", "Type/select another tag to edit" %>

<% end %>