<div class="stream-header">
  <%= triggered_form(@sp.query) do %>
    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <span class="hd1">Tags</span>
        <div style="display:inline-block; vertical-align:bottom; margin:5px 10px">
          <%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true, true), :last, :first, @sp.param(:tagtype)) || 0,
                         :include_blank => false,
                         :onchange => %Q{RP.submit.onselect( event ); } %>
        </div>
        <div style=" display:inline-block; vertical-align:bottom; margin-bottom:0px">
          <%= stream_filter_field @sp,
                                  rows: 1,
                                  placeholder: "Seek and we shall find...",
                                  autofocus: true,
                                  data: {:"on-add" => "RP.submit.ontokenchange",
                                         :"on-delete" => "RP.submit.ontokenchange",
                                         :hint => "", # "Search the collection by typing terms here",
                                         placeholder: "Seek and ye shall find...",
                                         :"no-results-text" => "No matching tag found; hit Enter to search with text"} %>
        </div>
      </div>
    </div>
  <% end %>
  <br><%= link_to_modal 'New Tag', new_tag_path %>
</div>
<%= stream_element(:results) { tags_table } %>
