<h3>Everything There Is To Know About <%= summarize_tag @tag, true %></h3>

<%= summarize_tag_owners @tag %>
<%= summarize_tag_similars @tag %>
<% if ref = @tag.meaning %>
	<%= summarize_ref_parents ref %>
	<%= summarize_ref_children ref %>
<% end %>
<% @tag.referents.collect{ |ref| ref unless ref.id == @tag.meaning.id }.compact.each do |ref| %>
	<%= summarize_referent ref, "Other Meaning" %>
<% end %>
<%= summarize_tag_links @tag %>
<%= summarize_tag_relations @tag %>
<br>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
