<h3>Everything There Is To Know About <%= summarize_tag @tag, true, false %></h3>
<%= summarize_meaning @tag %>
<%= summarize_tag_owners @tag %>
<%= summarize_tag_similars @tag %>
<%= summarize_tag_parents @tag %>
<%= summarize_tag_children @tag %>
<% @tag.referents.collect{ |ref| ref unless @tag.primary_meaning && (ref.id == @tag.primary_meaning.id) }.compact.each do |ref| %>
	<%= summarize_referent ref, "Other Meaning(s)" %>
<% end %>
<%= summarize_tag_recipes @tag %>
<%= summarize_tag_references @tag %>
<%= summarize_tag_relations @tag %>
<br>
<% if permitted_to? :edit, @tag %>
  <%= link_to 'Edit', edit_tag_path(@tag) %>
<% end %>
<%# link_to 'All Tags', tags_path # ...with suitable permissions %>
