<%= form_for @rcpquery do |f| %>
  <%= show_errors @rcpquery.errors %>
  <%= render 'form_rcplist_header' %>
  <div class="rcpquery_tags_div" >
	<ul><li>
     <%= f.label :tag_tokens, "Seek and Ye shall Find: ", :id=>"rcpquery_tags_label" -%>
	 <%= f.text_field :tag_tokens, "data-pre" => @rcpquery.tags.map(&:attributes).to_json %>
</li></ul>
</div>
  <div class="recipe_comment_div" >
	<ul><li>
     <%= f.label :querytext, "Search Titles and Comments:", :id=>"rcpquery_tags_label" -%>
     <%= f.text_field :querytext %>
</li></ul>
  </div>
<% end %>
