<%# Renders a recipe list (from a query) for display under a tab %>
<section class="rcplist_body" id="rcplist_<%= @list_name %>_body">
	<% if @rcpquery.empty? %>
		<%= explain_empty @rcpquery %>
	<% elsif @rcpquery.listmode_str == :rcplist_text -%>
		<%= render 'shared/rcplist_text' %>
	<% elsif @rcpquery.listmode_str == :rcplist_smallpic -%>
		<%= render 'shared/rcplist_smallpic' %>
	<% elsif @rcpquery.listmode_str == :rcplist_bigpic -%>
		<%= render 'shared/rcplist_bigpic' %>
	<% end -%>
	<div class="digg_pagination">
		<%= pagination_links @rcpquery.npages, @rcpquery.cur_page %>
	</div>
</section>
