<%# Master form for taking a recipe query and returning a list of results %>
<%= show_errors @rcpquery.errors %>
<%= form_for @rcpquery do |f| %>
  <div class="rcpquery_query_div" value="<%= @rcpquery.id.to_s %>" >
		<div id="rcpquery_tags_label_div">
			<%= f.label :tag_tokens, "Seek and Ye Shall Find:", :id=>"rcpquery_tags_label" -%>
		</div>
		<div id="rcpquery_tag_tokens_div">
			<%= f.text_field :tag_tokens, "data-pre" => @rcpquery.tags.map(&:attributes).to_json %>
		</div>
		<div class="rcpquery_listmode_div">
			<%= f.label :listmode_str,"List As: ",:id=>"rcpquery_listmode_label" -%>
			<%= f.select :listmode_str, Rcpquery.listmode_select %>
		</div>
  </div>
  <br class="clear" >
  <div id="accordion" data="<%= @rcpquery.which_list %>">  
        <!-- <h3><a href="#recent" class="heading">Recent Entries</h3>  -->
		<h3 id="rcpquery_mine_header"><span class="rcpquery_panel_label" id="rcpquery_mine_label">My Cookmarks</span></h3>  
        <div id="rcpquery_mine_content">
		  <%= query_tabset %>
	    </div>
	    <!-- <h3><a href="#popular" class="heading">Heading 2</a></h3>  -->
		<h3 id="rcpquery_friends_header"><span class="rcpquery_panel_label" id="rcpquery_friends_label">Friends' Cookmarks</span></h3>  
        <div id="rcpquery_friends_content">
		  <%= query_friendstart f %>
		  <%= query_container "friends", "Hang on a second..." %>
	    </div>
	    <!-- <h3><a href="#categories" class="heading">Heading 3</a></h3>  -->
		<h3 id="rcpquery_channels_header"><span class="rcpquery_panel_label" id="rcpquery_channels_label">Channels' Cookmarks</span></h3>  
        <div id="rcpquery_channels_content">
		  <%= query_friendstart f, true %>
		  <%= query_container "channels", "Hang on a second..." %>
	    </div>
	    <!-- <h3><a href="#archive" class="heading">Heading 4</a></h3>  -->
		<h3 id="rcpquery_master_header"><span class="rcpquery_panel_label" id="rcpquery_master_label">All the Cookmarks in the Whole Wide World (Of RecipePower)</span></h3>  
        <div id="rcpquery_master_content">
		  <%= query_container "master", "Scouring the world..." %>
		</div>
  </div>  
  <%# query_tabset %>
  <%# query_friendset f %>
  <%# query_friendset f, true %>
  <%# query_masterset %>
<% end %>
