<h1>Listing rcpqueries</h1>

<table>
  <tr>
    <th>Session</th>
    <th>User</th>
    <th>Owner</th>
    <th>Tagstxt</th>
    <th>Ratingstxt</th>
    <th>Fromsitestxt</th>
    <th>Statustxt</th>
    <th>Circlestxt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rcpqueries.each do |rcpquery| %>
  <tr>
    <td><%= rcpquery.session_id %></td>
    <td><%= rcpquery.user_id %></td>
    <td><%= rcpquery.owner_id %></td>
    <td><%= rcpquery.tagstxt %></td>
    <td><%= rcpquery.ratingstxt %></td>
    <td><%= rcpquery.fromsitestxt %></td>
    <td><%= rcpquery.statustxt %></td>
    <td><%= rcpquery.circlestxt %></td>
    <td><%= link_to 'Show', rcpquery %></td>
    <td><%= link_to 'Edit', edit_rcpquery_path(rcpquery) %></td>
    <td><%= link_to 'Destroy', rcpquery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rcpquery', new_rcpquery_path %>
