<li class="<%= @node.css_class %>" 
	id="<%= @node.css_id %>"
	data-parent_id="<%= @browser.parent_of(@node).css_id %>"
	<%= %Q{style="display: none;"}.html_safe unless (@node.selected || @node.visible) %> >
		<% if add_path = @node.add_path %>
			<div class="mod_box">
				<%= link_to "&plus;".html_safe, add_path, class: "mod_button" %>
			</div>
		<% elsif delete_path = @node.delete_path %>
			<div class="mod_box">
				<%# link_to_function "&times;".html_safe, %Q{RP.content_browser.delete_element("#{delete_path}")}, class: "mod_button" %>
				<%# link_to "&times;".html_safe, delete_path, class: "delete_element", remote: true, data: { delete_path: delete_path } %>
				<%= link_to "&times;".html_safe, delete_path, method: :POST %>
			</div>
		<% end %>
	<%= link_to @node.handle, "#", title: (@node.selected ? "" : @node.popup_text) %>
</li>
