<% (resource = response_service.pending_invitee) && resource.extend_fields %>
<%= simple_form_for resource, :as => 'user', :url => invitation_path('user', :mode => :modal), :html => {:method => :put} do |f| %>
    <div class="row">
      <div class="col-md-12">
        <p>Welcome to RecipePower!</p>
        <p>Now, just quickly confirming your details...</p>
        <%= form_errors_helper f %>
      </div>
    </div>
    <%= f.hidden_field :invitation_token %>
    <!--
        <div class="row">
          <div class="col-md-6">
            <%# f.input :first_name, autofocus: true %>
          </div>
          <div class="col-md-6">
            <%# f.input :last_name %>
          </div>
        </div>
-->
    <div class="row">
      <div class="col-md-12">
        <%= f.input :username, label: 'User name' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :email %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :password, autofocus: true, placeholder: resource.email %>
      </div>
    </div>
    <%= modal_footer do %>
        <%= f.submit "Bring it on", class: "btn btn-lg btn-success dialog-submit-button" %>
    <% end %>
<% end %>
