<%# render partial: 'shared/authentications_sidebar' %>
<%= modal_dialog :edit_invitation, "Come on In!" do %>
	<%= modal_body prompt: "Just give yourself a username or full name (one or both) and a password, and you're good to go." do %>
		<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
	  	<%= form_errors_helper f %>
		  <%# devise_error_messages! %>
		  <%= f.hidden_field :invitation_token %>
		  <%= f.input :username, label: "User Name (your handle on RecipePower)" %></p>
		  <%= f.input :fullname, label: "Full Name" %></p>
		  <%= f.input :password %></p>
		  <%# f.input :password_confirmation %></p>

		  <p><%= f.submit "Bring it on", class: "btn btn-large btn-success" %></p>
		<% end %>
		<%# render partial: 'shared/authentications_possible' %>
	<% end %>
<% end %>