<h3>Welcome to RecipePower!</h3>
<%= render partial: 'shared/authentications_sidebar' %>
<h4>Just give yourself a username and password, and you're all set.</h4>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <p><%= f.label :username %><br />
  <%= f.password_field :username %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Bring it on" %></p>
<% end %>
<%= render partial: 'shared/authentications_possible' %>
<br class="clear">
