<tr class="expression_fields">
  <td><%= f.hidden_field :tag_token %>
  <%= f.hidden_field :referent_id %>
  <%= f.label :tagname, expression_name(f.object), class: "expr_tag" %></td>
<!--
  <td><%# f.input :localename, label: false, collection: Expression.locales.collect { |entry| entry[0] } %></td>
  <td><%# f.input :formname, label: false, collection: Expression.forms.collect { |entry| entry[0] } %></td>
-->
  <td><%= f.select :localename, Expression.locales.collect { |entry| entry[0] } %></td>
  <td><%= f.select :formname, Expression.forms.collect { |entry| entry[0] } %></td>
  <td>
    <%= f.hidden_field :_destroy, class: 'delete-expression' %>
    <%= link_to "remove", '#', class: "remove_fields remove-allowed", :title => 'Nuke It!' %>
    <span class="remove-not-allowed" title="Must leave at least one expression" style="display:none">can't remove</span>
  </td>
</tr>
