<tr>
  <td><%= f.hidden_field :tag_token %>
  <%= f.hidden_field :referent_id %>
  <%= f.label :tagname, f.object.tagname, class: "expr_tag" %></td>
  <td><%= f.select :locale, Referent.locales %></td>
  <td><%= f.select :form, Referent.forms %></td>
  <td><%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields" %></td>
</tr>