<%= simple_form_for(@referent, url: (@referent.id ? referent_path(@referent) : referents_path), html: {class: "referent_form"}) do |f| %>
    <%= f.select :typenum, @typeselections %>
    <%= f.input :description %>
    <%= f.input :parent_tokens, label: "Categories it's under", input_html: { class: "token-input-field", data: {type: @referent_type.to_s, pre: @referent.parent_tokens}} %>
    <%# f.input :child_tokens, label: "#{@referent.typename.pluralize} in this category", input_html: { class: "token-input-field", data: {type: @referent_type.to_s, pre: @referent.child_tokens}} %>
    <%= token_input_field f,
                          :children,
                          label: "#{@referent.typename.pluralize} in this category",
                          data: { type: @referent_type.to_s } %>
    <h3>Names for this <%= @referent.typename %></h3>
    <div class="field">
      <table id="expression_table">
        <tr>
          <th>Tag</th>
          <th>Language</th>
          <th>Form</th>
        </tr>
        <%= f.fields_for :expressions do |builder| %>
          <%= render 'expression_fields', f: builder %>
        <% end %>
      </table>
      <h4>Add Name:</h4>
      <%= link_to_add_fields "Add Name:", f, :expressions, referent_id: @referent.id, localename: "English", formname: "Generic" %>
      <%= text_field_tag :"expression_txt", "", id: "referent_add_expression", data: { pre: "" } %>
    </div>
    <%# f.input :referent, label: "Add Expression", "data-type" => @referent_type.to_s %>
    <%= f.input :isCountable, :label => false, :inline_label => "Countable", :as => :boolean %>
    <%= form_actions f, cancel_path: referents_path %>
<% end %>
