  <% if @referent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referent.errors.count, "error") %> prohibited this referent from being saved:</h2>

      <ul>
      <% @referent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@referent.becomes(Referent)) do |f| %>
<div class="referent_tags_div">
	<div class="referent_tags_label_div">
	    <%= f.label :description, "Description:" %>
	</div>
	<div class="referent_tags_tokens_div">
		<%= f.text_field :description, id: "referent_description" %>
	</div>
</div>
<br class="clear">
<div class="referent_tags_div" >
	<div class="referent_tags_label_div">
	   <%= f.label :parents, "Parents:", :id=>"referent_parents_label" -%>
	</div>
	<div class="referent_tags_tokens_div">
	   <%= f.text_field :parents, "data-pre" => @referent.parents.map(&:attributes).to_json %>
	</div>
</div>
<br class="clear">
<div class="referent_tags_div" >
	<div class="referent_tags_label_div">
	   <%= f.label :children, "Children:", :id=>"referent_children_label" -%>
	</div>
	<div class="referent_tags_tokens_div">
	   <%= f.text_field :children, "data-type" => @referent_type.to_s, "data-pre" => @referent.children.map(&:attributes).to_json %>
	</div>
</div>
<br class="clear">
<div class="field">
	<%= f.label :expressions, "<strong>Names:</strong> (Tags that name this thing)".html_safe %>
	<table id="expression_table">
	  <tr>
		<th>Tag</th>
		<th>Language</th>
		<th>Form</th>
	  </tr>
	<%= f.fields_for :expressions do |builder| %>
		<%= render 'expression_fields', f: builder %>
	<% end %>
	</table>
    <%= link_to_add_fields "Add Name:", f, :expressions, referent_id: @referent.id %>
</div>
<div id="referent_add_div" >
	<div id="referent_add_label_div">
	   <%= f.label :Add, "Add Name", :id=>"referent_add_expression_label" -%>
	</div>
	<div id="referent_add_tokens_div">
	   <%= text_field :referent, :add_expression %>
	</div>
</div>
<br class="clear">
<div class="field">
	<%= f.check_box(:isCountable) %>
	<%= f.label(:isCountable, "Is countable") %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
