<% @reftype = @referent.type %>
<%= simple_form_for(@referent.becomes(Referent)) do |f| %>
	<%= modal_body do %>
	  <% f.object.type = @reftype %>
	  <%= f.select :typenum, @typeselections %>
		<%= f.input :description %>
		<%= f.input :parent_tokens, "data-type" => @referent_type.to_s, "data-pre" => @referent.parent_tokens %>
		<%= f.input :child_tokens, "data-type" => @referent_type.to_s, "data-pre" => @referent.child_tokens %>
		<div class="field">
			<table id="expression_table">
			  <tr>
					<th>Tag</th>
					<th>Language</th>
					<th>Form</th>
			  </tr>
				<%= f.fields_for :expressions do |builder| %>
					<%= render 'expression_fields', f: builder %>
				<% end %>
		    <%= link_to_add_fields "Add Name:", f, :expressions, referent_id: @referent.id %>
			</table>
		</div>
		<%# f.input :referent, label: "Add Expression", "data-type" => @referent_type.to_s %>
		<%= f.input :isCountable, :label => false, :inline_label => "Countable", :as => :boolean %>
	<% end %>
	<%= modal_footer do %>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% end %>
