  <% if @referent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referent.errors.count, "error") %> prohibited this referent from being saved:</h2>

      <ul>
      <% @referent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@referent.becomes(Referent)) do |f| %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>
<div class="referent_parents_div" >
   <%= f.label :parents, "Parents", :id=>"referent_parents_label" -%>
   <%= f.text_field :parents, "data-pre" => @referent.parents.map(&:attributes).to_json %>
</div>
<div class="referent_children_div" >
   <%= f.label :children, "Children", :id=>"referent_children_label" -%>
   <%= f.text_field :children, "data-pre" => @referent.children.map(&:attributes).to_json %>
</div>
<div class="field">
	<%= f.label :expressions %>
	<table>
	  <tr>
		<th>Tag</th>
		<th>Language</th>
		<th>Form</th>
	  </tr>
	<hr>
	</table>
	<%= f.fields_for :expressions do |builder| %>
		<%= render 'expression_fields', f: builder %>
	<% end %>
    <%= link_to_add_fields "Add Expression", f, :expressions, referent_id: @referent.id %>
	<%# link_to_add_expr "Another Expression", f, :expressions %>
</div>
<div class="referent_add_expression_div" >
   <%= f.label :Add, "Add Expression", :id=>"referent_add_expression_label" -%>
   <%= text_field :referent, :add_expression %>
</div>
<div class="field">
	<%= f.check_box(:isCountable) %>
	<%= f.label(:isCountable, "Is countable") %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
