<%# @reftype = @referent.type %>
<%= simple_form_for(@referent, url: @referent.id ? referent_path(@referent) : referents_path(type: "Channel") ) do |f| %>
    <%= form_errors_helper f %>
    <%= f.hidden_field :typenum %>
    <%# f.input :dependent,
                    :label => false,
                    :inline_label => "Use Existing Tag (vs. building a freestanding channel)",
                    :as => :boolean %>
    <div class="row">
      <div class="col-md-12">
        <%= token_input_field f,
                              :tag,
                              label: "Primary Tag (make one up if none fits)",
                              :id => "referent_channel_tag" %>
      </div>
    </div>
    <hr><%= f.simple_fields_for :user do |builder| %>
        <%= render "shared/pic_preview_field",
                   :f => builder,
                   :urlfield => :image %>
        <br>
        <div class="row">
          <div class="col-md-12">
            <%= builder.input :about, label: "Description" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= taggable_div builder, "control-group", label: "Other tags this channel watches", uid: User.super_id %>
          </div>
        </div>
    <% end %>
    <%= form_actions f, submit_label: "Build Channel" %>
<% end %>
