<tr class="page_ref_fields">
  <td><%# f.hidden_field :tag_token %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :url %>
    <%= link_to f.object.title.if_present('').truncate(100), f.object.url  %>
  </td>
  <!--
  <td><%# f.input :localename, label: false, collection: Expression.locales.collect { |entry| entry[0] } %></td>
  <td><%# f.input :formname, label: false, collection: Expression.forms.collect { |entry| entry[0] } %></td>
-->
  <td>
    <%# f.select :type, PageRefServices.type_selections %>
    <%= collection_select f.object,
                          :type,
                          PageRefServices.type_selections,
                          :last,
                          :first %>
  </td>
  <td>
    <%= f.hidden_field :_destroy, class: 'delete-expression' %>
    <%= link_to "remove", '#', class: "remove_fields remove-allowed", :title => 'Nuke It!' %>
  </td>
</tr>
