<%= dialog_pane @decorator.dialog_pane_spec(:references) do %>
    <% @available_kinds = PageRefServices.kind_selections(:except => [:link, :recipe, :referrable]) %>
    <div class="field table-field" id="page_refs_field">
      <table id="page_refs_table">
        <tr>
          <th>Page</th>
          <th>Type</th>
        </tr>
        <%= f.fields_for :page_refs do |builder| %>
            <%= render 'page_ref_fields', f: builder %>
        <% end %>
      </table>
      New Reference: <span style="font-size: 14px">(provide a URL, select a type and click 'Add')</span>
      <%= url_field_tag :url, "", id: "referent_add_page_ref", style: 'margin-bottom: 10px; margin-left: 20px; width: 95%' %>
      <span style="margin-left: 22px; font-size: 0.9em">Kind:</span> <%= select_tag :kind, options_for_select(@available_kinds) %>
      <% url_options = { url: page_refs_path, :method => :post } %>
      <%# link_to 'Add', page_refs_path(format: :json), data: { params: [ { name: 'page_ref[url]', value: 'test url' } ] }, id: 'add_page_ref', format: 'json', method: :put %>
      <%  data = data_to_add_fields f, :page_refs, title: ';Title Goes Here;', url: ';URL TBD;' %>
      <%= button_to_submit 'Add',
                         page_refs_path,
                           'default',
                           'sm',
                         data: { params: { page_ref: { url: 'test url' } } }.merge(data),
                         id: 'add_page_ref',
                         class: 'add_fields',
                         format: 'json',
                         style: 'float: right; color: #49925a; margin-right:18px; background-color: #dfebe2',
                         method: :put %>
      <%# link_to_add_fields "Add Reference", f, :page_refs, title: ';Title Goes Here;', url: ';URL TBD;'  %>
    </div>
<% end %>