<tr class="referment_fields">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :url %>
  <% if @referment_params %>
      <%= f.hidden_field :referee_type, value: @referment_params[:referee_type] %>
      <%= f.hidden_field :referee_id, value: @referment_params[:referee_id] %>
  <% else %>
      <%= f.hidden_field :referee_type %>
      <%= f.hidden_field :referee_id %>
  <% end %>
  <td>
    <span class='title'><%= f.object.title %></span><br><span class='url'><%= f.object.url %></span>
    <%# link_to f.object.title.if_present('').truncate(100), f.object.url, target: '_blank'  %>
  </td>
  <!--
  <td><%# f.input :localename, label: false, collection: Expression.locales.collect { |entry| entry[0] } %></td>
  <td><%# f.input :formname, label: false, collection: Expression.forms.collect { |entry| entry[0] } %></td>
-->
  <td>
    <%= f.select( :kind, (@available_kinds || PageRefServices.kind_selections)) if f.object.kind %>
  </td>
  <td>
    <%= f.hidden_field :_destroy, class: 'delete-expression' %>
    &nbsp;<%= link_to '', '#', class: "remove_fields nukeable_X glyphicon glyphicon-remove", :title => 'Nuke It!' %>
  </td>
</tr>
