<% item ||= @referent %>
<tr frame="below" id="<%= dom_id item %>">
  <td valign="top">
    <hr>
    <%= summarize_ref_name item %>
    <br><%= link_to_dialog 'Show', item.becomes(Referent) %>
    <%= link_to_dialog 'Edit', edit_referent_path(item.becomes(Referent)) %>
    <%# link_to_submit 'Destroy', item.becomes(Referent), confirm: 'Are you sure?', method: :delete %>
  </td>
  <td><%= item.isCountable ? "C" : "NC" %><td>
  <td>
    <hr>
    <%= summarize_referent item %>
  </td>
</tr>
