<h3>Listing Referents</h3>
<br>
<table>
  <tr>
    <th>Referent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referents.each do |referent| %>
  <tr frame="below">
    <td valign="top">
	    <hr>
		<%= summarize_ref_name referent %>
	    <br><%= link_to 'Show', referent.becomes(Referent) %>
	    <%= link_to 'Edit', edit_referent_path(referent.becomes(Referent)) %>
	    <%# link_to 'Destroy', referent.becomes(Referent), confirm: 'Are you sure?', method: :delete %>
	</td>
	<td><%= referent.isCountable ? "C" : "NC" %><td>
	<td>
	    <hr>
		<%= list_expressions referent %><br>
		<%= list_parents referent %><br>
		<%= list_children referent %>
	</td>
  </tr>
<% end %>
</table>
<br><%= will_paginate @referents %>

<br />

<%= link_to 'New Referent', new_referent_path %>
