<h3><%= summarize_ref_name @referent, true %></h3>
<p>
  <%= list_expressions @referent %>
</p><p>
  <%= list_parents @referent %>
</p><p>
  <%= list_children @referent %>
</p>

<%= link_to_modal 'Edit', edit_referent_path(@referent) %> |
<%= link_to 'Back', referents_path %>
