<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :wherefrom %>
  <div class="field">
	<%= f.label "Email: (optional, if you want a response)", :class=>"field_label"%><br>
	<%= f.email_field :email, :class=>"text_field" %>
  </div>
  <div class="field">
    <%= f.label "Subject:", :class=>"field_label" %><br>
    <%= f.text_field :doing, :class=>"text_field" %>
  </div>
  <div class="field">
    <%= f.label "What you Want Us to Hear:", :class=>"field_label" %><br />
    <%= f.text_area :what, :class=>"text_field" %>
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>
