<p>Calling <%= @resource.email %>!</p>

<p>
<%= (@resource.invited_by_id && User.find(@resource.invited_by_id).handle) || "Someone" %>
has invited you to join in at 
<%= link_to("RecipePower.com", root_url)+(@resource.invitation_message.blank? ? "." : ", saying") %>
<% unless @resource.invitation_message.blank? %>
  <% if(@resource.invitation_message.length > 20) %>
	<blockquote><%= @resource.invitation_message %></blockquote>
  <% else %>
	<q><%= @resource.invitation_message %></q><p>
  <% end %>
<% end %>
You can accept through the link below.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't want to accept the invitation, you can safely ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>
