<% inviter_name = (@resource.invited_by_id && User.find(@resource.invited_by_id).handle) %>
<% accept_str = link_to("accept #{inviter_name ? inviter_name+"'s " : ""}invitation", 
		accept_invitation_url(@resource, :invitation_token => @resource.invitation_token).sub(/strong-galaxy-5765.herokuapp.com/,"www.recipepower.com")) %>
		
<p><%= accept_str.sub(/>accept /, ">Accept ").html_safe %></p>
<%= inviter_name || "Someone" %> wants you to join them at
<%= link_to("RecipePower", root_url)+(@resource.invitation_message.blank? ? "." : ", saying") %>
<% unless @resource.invitation_message.blank? %>
  <% if(@resource.invitation_message.length > 20) %>
	<blockquote><%= @resource.invitation_message %></blockquote>
  <% else %>
	<q><%= @resource.invitation_message %></q><p>
  <% end %>
<% end %>
--<br>
<%= link_to "RecipePower", root_url %> makes sure you never forget a recipe again, lets you find them again quickly, and clues you in to your friends' discoveries too!  Join <%= inviter_name || "us" %> and you'll get cooking like never before. Getting started takes just a few seconds, then you'll be snagging the best recipes from the Web--for good. So <%= accept_str %> today!
<p>
--<br>
Max and Steve
<br>RecipePower Founders</p>
