<%# Default modal dialog for editing a (collectible, taggable) item. May be overwritten for other controllers  %>
<%# @entity must be defined %>
<% @templateer ||= Templateer.new %>
<%= content_tag(:div,
                class: "dialog edit-collectible modal at_left hide",
                style: "overflow:visible",
                data: @templateer.data ) do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <%# unless recipe %>
              <!--<input class="close cancel" data-dismiss="modal" name="commit" type="submit" value="x"/>-->
          <%# end %>
          <h3>Tag That <%= @templateer.human_name.split.map(&:capitalize)*' ' %>!</h3>
        </div>
        <form accept-charset="UTF-8" action="<%= @templateer.object_path %>" class="form-inline edit-collectible" data-remote="true" data-type="json" id="edit_collectible_<%= @templateer.id %>">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input name="_method" type="hidden" value="post"/>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

          <div class="modal-body" style="overflow:visible">
            <div class="notifications-panel">
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="edit_collectible_field pic_picker_field">
                  <%= pic_preview_widget @templateer %>
                </div>
              </div>
              <div class="col-md-7">
                <div class="control-group">
                  <label class="string optional">Title</label>
                  <textarea id="<%= @templateer.element_id :title %>" name="<%= @templateer.field_name :title %>" placeholder="Title" style="width:100%"><%= @templateer.title %></textarea>
                </div>
                <div class="control-group">
                  <label class="string optional">Tag(s)</label>
                  <input id="<%= @templateer.element_id :tagging_user_id %>" name="<%= @templateer.field_name :tagging_user_id %>" type="hidden" value="<%= @templateer.tagging_user_id %>">
                  <input type="text"
                         class="token-input-field-pending"
                         id="tagging_tokens"
                         name="<%= @templateer.field_name :tagging_tokens %>"
                         rows="2"
                         size="30"
                         placeholder="Tags"
                         data-pre="<%= @templateer.tagdata %>"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="control-group">
                  <input id="<%= @templateer.element_id :collectible_user_id %>" name="<%= @templateer.field_name :collectible_user_id %>" type="hidden" value="<%= @templateer.collectible_user_id %>">
                  <label class="string optional">Notes & Comments</label>
                  <textarea id="<%= @templateer.element_id :collectible_comment %>" name="<%= @templateer.field_name :collectible_comment %>" placeholder="<%= @templateer.human_name true %> Notes" rows="3" style="width:100%"><%= @templateer.collectible_comment %></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn pull-left" type="submit" data-action="<%= @templateer.object_path %>/remove" value="Remove" data-method="post"/>
            <% if permitted_to? :admin, :pages %>
                <input class="btn btn-danger pull-left" type="submit" data-action="<%= @templateer.object_path %>" data-method="delete" value="Destroy" data-confirm="This will remove the <%= @templateer.human_name %> from RecipePower and EVERY collection in which it appears. Are you sure this is appropriate?"/>
            <% end %>
            <input name="<%= @templateer.field_name :collectible_private %>" type="hidden" value="0"/>
            <label for="<%= @templateer.element_id :collectible_private %>" class="checkbox">
              <input <%= @templateer.collectible_private %> id="<%= @templateer.element_id :collectible_private %>" name="<%= @templateer.field_name :collectible_private %>" type="checkbox" value="1"/>Private
              cookmark
            </label>
            <input class="cancel btn" data-dismiss="modal" name="commit" type="submit" value="Cancel"/>
            <input class="submit btn btn-primary" name="commit" type="submit" value="Save" data-method="put"/>
          </div>
        </form>
      </div>
    </div>
<% end %>

