<%= querify_block url, class: "results-panel #{type}", autoload: true do %>
    <div class="results-content">
      <div class="results-label <%= type %> rotate"><%= title %></div>
      <div class="results-box">
        <%= panel_results_placeholder type %>
        <%= panel_suggestions_placeholder type %>
      </div>
    </div>
    <div class="results-menu">
      <%= panel_org_menu url, type, :newest %>
      <%# panel_collapse_button type, :slider %>
      <%= panel_expand_link collection_user_path(@decorator.object), type %>
      <%= panel_suggestion_button url, type %>
    </div>
<% end %>
