<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="card-item row card-large <%= viewparams.display_style %>-card <%= decorator.dom_id %>">
      <%= collectible_vote_buttons decorator.object %>
      <div class="col-md-3" <%= 'style=display:none' if !presenter.card_avatar? %>>
        <div class="pic-inset">
          <%= presenter.card_avatar %>
        </div>
      </div>
      <div class="col-md-<%= presenter.card_avatar? ? '9' : '12' %> ">
        <%= presenter.card_header %>
        <%# presenter.card_subhead %>
        <div class="row">
          <% (0...(presenter.card_ncolumns)).each do |column| %>
              <%= presenter.column column %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
