<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item card-grid js-masonry entity-card <%= viewparams.display_style %>-card <%= decorator.dom_id %>"
         onload="RP.card.onload(event)"
         data-masonry-options='{
            "gutter": 10,
            "itemSelector": ".grid-item",
            "stamp": ".stamp" }'>
      <!--"columnWidth": 200,-->
      <!--onload="RP.masonry.onload(event)"-->
      <%= presenter.card_avatar_column %>
      <div class="stamp title">
        <%= presenter.vote_buttons %>
        <%= presenter.card_homelink link_direct: true, class: 'title-link' %>
        <%= presenter.edit_button %>
        <%= presenter.tag_button %>
        <%= presenter.collect_button %>
        <%= presenter.card_aspect_rendered :description %>
        <%= presenter.card_aspect_rendered :notes %>
      </div>
      <% presenter.rendered_aspects( except: [:title, :description, :notes] ) do |aspect, content | %>
          <div class="grid-item card-column <%= aspect %>">
            <%= content %>
          </div>
      <% end %>
      <div class="lower-content">
        <%= presenter.tools_menu %>
        <%= presenter.share_button %>
      </div>
    </div>
<% end %>
