<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= present decorator do |presenter| %>
    <div class="container-fluid card-item card-grid js-masonry <%= viewparams.display_style %>-card <%= decorator.dom_id %>"
         style="min-height: 200px"
         onload="RP.card.onload(event)"
         data-masonry-options='{
            "gutter": 10,
            "itemSelector": ".grid-item",
            "stamp": ".stamp" }'>
      <!--"columnWidth": 200,-->
      <!--onload="RP.masonry.onload(event)"-->
      <%= presenter.card_label %>
      <%= presenter.card_avatar_column %>
      <div class="stamp title">
        <%= presenter.vote_buttons %>
        <%= presenter.card_homelink link_direct: false, class: 'title-link' %>
        <%= presenter.edit_button if decorator.user_can? :edit %>
        <%# presenter.tag_button %>
        <%= presenter.collect_button %>
        <%= presenter.card_aspect_rendered :description %>
        <%= presenter.card_aspect_rendered :notes %>
      </div>
      <% presenter.rendered_aspects(except: [:title, :description, :notes, :found_by]) do |aspect, content| %>
          <div class="grid-item card-column <%= aspect %>">
            <%= content %>
          </div>
      <% end %>
      <div class="lower-content">
        <%# presenter.tools_menu %>
        <%= presenter.share_button %>
      </div>
    </div>
    <%= presenter.content %>
<% end %>
