<%= querify_block viewparams.results_path, class: "results-panel #{viewparams.result_type}", autoload: true do %>
    <div class="results-content">
      <div class="results-label <%= viewparams.result_type %> rotate"><%= viewparams.panel_label %></div>
      <div class="results-box">
        <%= filtered_presenter_panel_results_placeholder viewparams.result_type %>
        <%= panel_suggestions_placeholder viewparams.result_type %>
      </div>
    </div>
    <div class="results-menu">
      <%= panel_org_menu viewparams.results_path, viewparams.result_type, :newest %>
      <%# panel_collapse_button result_type, :slider %>
      <%= panel_expand_link collection_user_path(@decorator.object), viewparams.result_type %>
      <%= panel_suggestion_button viewparams.results_path, viewparams.result_type %>
    </div>
<% end %>
