<p id="notice"><%= notice %></p>

<h1>Listing Mercury Pages</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Content</th>
      <th>Date published</th>
      <th>Lead image url</th>
      <th>Domain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mercury_pages.each do |mercury_page| %>
      <tr>
        <td><%= mercury_page.url %></td>
        <td><%= mercury_page.title %></td>
        <td><%= mercury_page.content %></td>
        <td><%= mercury_page.date_published %></td>
        <td><%= mercury_page.lead_image_url %></td>
        <td><%= mercury_page.domain %></td>
        <td><%= link_to 'Show', mercury_page %></td>
        <td><%= link_to 'Edit', edit_mercury_page_path(mercury_page) %></td>
        <td><%= link_to 'Destroy', mercury_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mercury page', new_mercury_page_path %>
