<div class="notification_wrapper <%= 'open opened' if parameters[:opened] %>">
  <a class="dropdown_notification" onclick="RP.navbar.toggleNotifications(event);">
    <%= notification_count @target, parameters %>
  </a>

  <div class="notification_list_wrapper">
    <div class="notification_header_wrapper">
      <p class="notification_header_title">
        Notifications
      </p>

      <p class="notification_header_menu">
        <%= link_to( "Ack all", open_all_notifications_path_for(@target, parameters), method: :post, remote: true) if @notifications.present? %>
        <% if @target.class.subscription_enabled? %>
            <%= link_to "Subscriptions", subscriptions_path_for(@target) %>
        <% end %>
      </p>
    </div>
    <div class="notifications">
      <%= yield :notification_index %>
      <!-- The "no pending"" line is only shown if it is the first child of notifications"-->
      <div class='no-pending' style='margin:10px'>No pending notifications</div>
    </div>
    <div class="notification_link_wrapper">
      <p class="notification_link">
        <%= link_to_submit 'All notifications', notifications_path_for(@target) %>
      </p>
    </div>
  </div>
</div>
