<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @vote.entity_type %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @vote.entity_id %>
</p>

<p>
  <strong>Up:</strong>
  <%= @vote.up %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
