<%= simple_form_for(@suggestion) do |f| %>
  <%= form_errors_helper f %>

  <div class="form-inputs">
    <%= f.input :base_type %>
    <%= f.input :base_id %>
    <%= f.input :viewer_id %>
    <%= f.input :session %>
    <%= f.input :filter %>
    <%= f.input :results_cache_id %>
    <%= f.input :results %>
  </div>

  <div class="form-actions">
    <%= f.button :'forms.labels' %>
  </div>
<% end %>
