<p id="notice"><%= notice %></p>

<p>
  <strong>Base type:</strong>
  <%= @suggestion.base_type %>
</p>

<p>
  <strong>Base:</strong>
  <%= @suggestion.base_id %>
</p>

<p>
  <strong>Viewer:</strong>
  <%= @suggestion.viewer_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @suggestion.session %>
</p>

<p>
  <strong>Filter:</strong>
  <%= @suggestion.filter %>
</p>

<p>
  <strong>Rc:</strong>
  <%= @suggestion.results_cache_id %>
</p>

<p>
  <strong>Results:</strong>
  <%= @suggestion.results %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
<hr>
<%= render "results" %>