<div class="row finder-field">
  <div class="col-md-2">
    <%= f.input :finds, collection: SiteServices.data_choices, label: false, required: true %>
  </div>
  <div class="col-md-5">
    <%= f.input :selector, label: false, required: true %>
  </div>
  <div class="col-md-3">
    <%= f.input :read_attrib, collection: SiteServices.attribute_choices, label: false %>
  </div>
  <div class="col-md-2">
    <%= f.input :_destroy, :as => :hidden, label: false %>
    <%= link_to "", "#", class: "btn btn-default btn-xs glyphicon glyphicon-arrow-up move-finder-up" %>
    <%= link_to "", "#", class: "btn btn-default btn-xs glyphicon glyphicon-arrow-down move-finder-down" %>
    <%= link_to "", "#", class: "btn btn-default btn-xs glyphicon glyphicon-minus delete-finder" %>
  </div>
</div>
