<div class="row">
  <div class="col-md-12">
    <%# gleaning_trigger decorator %>
    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <%= f.label :name, 'Name' -%>
        <%= gleaning_field decorator, :titles %>
      </div>
      <%= f.text_field :name, :label => false %>
    </div>
    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <%= f.label :title, 'Description' -%>
        <%= gleaning_field decorator, :descriptions %>
      </div>
      <%= f.text_area :description, :label => false %>
    </div>
    <% if permitted_to?(:approve, :feeds) %>
        <div class="item-enclosure">
          <div class='label-enclosure'>
            <%= gleaning_field decorator, :feeds %>
          </div>
        </div>
    <% end %>
    <% if response_service.admin_view? %>
        <% if permitted_to?(:admin, :sites) %>
            <div class='item-enclosure'>
              <div class='label-enclosure'>
                <%= f.label :url, 'URL' -%>
              </div>
              <%= f.url_field :url %>
            </div>
            <div class='item-enclosure'>
              <div class='label-enclosure'>
                <%= f.label :home, 'Site Home' -%>
              </div>
              <%= f.url_field :home %>
            </div>
            <div class='item-enclosure'>
              <div class='label-enclosure'>
                <%= f.label :root, 'Root (domain and path)' -%>
              </div>
              <%= f.text_field :root, :label => false %>
            </div>
            <div class='item-enclosure'>
              <div class='label-enclosure'>
                <%= f.label :ttlcut, 'RegExp to cut out of titles' -%>
              </div>
              <%= f.text_field :ttlcut %>
            </div>
        <% end %>
        <%= render('finders', f: f) if permitted_to? :admin, :finders %>
    <% end %>
    </div>
    </div>