<%= simple_form_for @site, :url => site_path(:mode => response_service.mode) do |f| %>
    <%= modal_body do %>
        <div class="row">
          <div class="col-md-12">
            <%# gleaning_trigger @decorator, :title %>
            <%= f.label 'Name' %>
            <!--Construct a list of possible answers-->
            <%= gleaning_field @decorator, :titles %>
            <%= f.input :name, :label => false %>
            <%= f.label 'Description' %>
            <%= gleaning_field @decorator, :descriptions %>
            <%= f.input :description, :label => false %>
            <%= gleaning_field @decorator, :feeds if policy(Feed).approve? %>
          </div>
        </div>
        <% if response_service.admin_view? && policy(@site).edit? %>
            <div class="row">
              <div class="col-md-12">
                <%# f.input :site %>
                <%= f.input :home %>
                <%# if params[:action] != "edit" %>
                <%# end %>
                <%= f.input :root %>
                <%= f.input :sample %>
                <%# f.input :logo %>
                <%= token_input_field f, :taggings %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :ttlcut, label: 'RegExp to cut out of title' %>
              </div>
            </div>
        <% end %>
        <%= render('finders', f: f) if policy(Finder).edit? %>

    <% end %>
    <%= modal_footer do %>
        <%# if ref = @site.referent %>
        <%# link_to_dialog ref.class.to_s+" "+ref.name, edit_referent_path(ref) %>
        <%# end %>
        <%= form_actions f %>
    <% end %>
<% end %>
