<%= simple_form_for @site, :url => site_path(:mode => response_service.mode) do |f| %>
    <%= modal_body do %>
        <div class="row">
          <div class="col-md-12">
            <%= gleaning_trigger @decorator %>
            <%= f.label 'Name' %>
            <!--Construct a list of possible answers-->
            <%= gleaning_field @decorator, 'Title' %>
            <%= f.input :name, :label => false %>
            <%= f.label 'Description' %>
            <%= gleaning_field @decorator, 'Description' %>
            <%= f.input :description, :label => false %>
            <%= gleaning_field @decorator, 'RSS Feed' if permitted_to?(:admin, :feeds) %>
          </div>
        </div>
        <% if response_service.admin_view? && permitted_to?(:admin, :pages) %>
            <div class="row">
              <div class="col-md-12">
                <%# f.input :site %>
                <%= f.input :home %>
                <%# if params[:action] != "edit" %>
                <%# end %>
                <%= f.input :root %>
                <%= f.input :sample %>
                <%# f.input :logo %>
                <%= f.hidden_field :tagging_user_id %>
                <%= token_input_field f, :taggings %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.input :ttlcut, label: 'RegExp to cut out of title' %>
              </div>
            </div>
        <% end %>
        <%= render('finders', f: f) if permitted_to? :admin, :finders %>

    <% end %>
    <%= modal_footer do %>
        <%# if ref = @site.referent %>
        <%# link_to_submit ref.class.to_s+" "+ref.name, edit_referent_path(ref), mode: :modal %>
        <%# end %>
        <%= form_actions f %>
    <% end %>
<% end %>
