<%= simple_form_for(@site) do |f| %>
	<%= modal_body do %>
	  <div class="logo">                                     
	  	<%= pic_field @site, :logo, f, true %>
	  </div>
      <h4>Data Finders <a href="" onclick="RP.edit_site.add_finder()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a></h3>
      <div class="row">
        <div class="col-md-3">
          To Extract
        </div>
        <div class="col-md-6">
          Use Selector
        </div>
        <div class="col-md-3">
          Read Attribute
        </div>
      </div>
      <%= f.simple_fields_for :finders do |p| %>
        <div class="row">
          <div class="col-md-3">
            <%= p.select :finds, %w{ URI Image Title Author SiteName Keywords }.unshift(""), label: false %>
          </div>
          <div class="col-md-6">
            <%= p.input :selector, label: false %>
          </div>
          <div class="col-md-3">
            <%= p.select :read_attrib, %w{ href content src }.unshift(""), label: false %>
          </div>
        </div>
      <% end %>
      <hr>
	  <%= f.input :site %>
	  <%= f.input :home %>
		<%# if params[:action] != "edit" %>
			<%= f.input :name %>
		<%# end %>
	  <%= f.input :subsite %>
	  <%= f.input :sample %>
	  <div>
		Sample Title (raw): <strong><%= crack_sample %></strong><br> 
		Sample Title (editted): <strong><%= trimmed_sample %></strong><br>
	  </div>
		<%= f.input :ttlcut, label: "RegExp to cut out of title" %>
		<%= f.input :ttlrepl, label: "RegExp of replacement" %>
	  <%# f.input :tags_serialized, :html => { :rows=>"20" } %>

	<% end %>
	<%= modal_footer do %>
	<% if ref = @site.referent %>
	 <%= link_to_modal ref.class.to_s+" "+ref.name, edit_referent_path(ref) %>
	<% end %>
	<%= link_to 'Show', @site %> |
	<%= link_to 'Back', sites_path %>
		<%= f.button :submit, "Save" %>
	<% end %>
<% end %>
