<%= simple_form_for(@site) do |f| %>
    <%= modal_body do %>
      <div class="row">
<!--
        <div class="col-md-5">
          <%# pic_field @site, :logo, f, true %>
        </div>
-->
        <div class="col-md-12">
          <%= f.input :site %>
          <%= f.input :home %>
          <%# if params[:action] != "edit" %>
          <%= f.input :name %>
          <%# end %>
          <%= f.input :subsite %>
          <%= f.input :sample %>
          <%= f.input :description %>
          <%= f.input :logo %>
          <%= taggable_field f %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Sample Title (raw): <strong><%= crack_sample %></strong><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :ttlcut, label: "RegExp to cut out of title" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Sample Title (editted): <strong><%= trimmed_sample %></strong><br>
        </div>
      </div>
      <%= render("finders", f: f) if permitted_to? :edit, :finders %>

    <% end %>
    <%= modal_footer do %>
	<% if ref = @site.referent %>
	 <%= link_to_modal ref.class.to_s+" "+ref.name, edit_referent_path(ref) %>
	<% end %>
	<%= link_to 'Show', @site %> |
	<%= link_to 'Back', sites_path %>
		<%= f.button :submit, "Save" %>
	<% end %>
<% end %>
