<%= simple_form_for(@site) do |f| %>
	<%= modal_body do %>
	  <div class="logo">                                     
	  	<%= pic_field @site, :logo, f, true %>
	  </div> 
	  <%= f.input :site %>
	  <%= f.input :home %>
		<%# if params[:action] != "edit" %>
			<%= f.input :name %>
		<%# end %>
	  <%= f.input :subsite %>
	  <%= f.input :sample %>
	  <div>
		Sample Title (raw): <strong><%= crack_sample %></strong><br> 
		Sample Title (editted): <strong><%= trimmed_sample %></strong><br>
	  </div>
		<%= f.input :ttlcut, label: "RegExp to cut out of title" %>
		<%= f.input :ttlrepl, label: "RegExp of replacement" %>
	  <%# f.input :tags_serialized, :html => { :rows=>"20" } %>

	<% end %>
	<%= modal_footer do %>
	<% if ref = @site.referent %>
	 <%= link_to_modal ref.class.to_s+" "+ref.name, edit_referent_path(ref) %>
	<% end %>
	<%= link_to 'Show', @site %> |
	<%= link_to 'Back', sites_path %>
		<%= f.button :submit, "Save" %>
	<% end %>
<% end %>
