<tr id="<%= dom_id item.object %>">
	<td><b><%= item.name || "Defaults" %></b><br>
		<b>Site</b>: <%= item.home %><br>
		<b><%= show_sample item %></b><br>
		<b>Logo</b>: <%= item.logo %><br>
		<b># Feeds:</b> <%= item.feeds.size %> (<%= item.feeds.where(approved: true).count %> approved for feedthrough)
	</td>
	<td>
      <%= collectible_table_buttons item, :button_size => "xs" do %>
          <%= link_to_submit 'Show', item, :button_size => :xs, :mode => :modal %>
      <% end %>
	</td>
</tr>
