<%= simple_form_for(@site) do |f| %>
    <%= modal_body do %>
        <div class="row">
          <div class="col-md-12">
            <%= f.label 'Name' %>
            <!--Construct a list of possible answers-->
            <%= f.fields_for :gleaning do |g| %>
                <%= g.input 'Title',
                               collection: @site.gleaning.options_for('Title'),
                               prompt: 'Suggested Names',
                               html_options: { class: 'select-string' },
                               data: { target: 'input#site_name' }
                %>
            <% end %>
          <%= f.input :name, :label => false %>
            <%= f.label 'Description' %>
            <%= select_tag 'site[gleaning_attributes][Description]',
                           options_for_select(@site.gleaning.options_for('Description')),
                           prompt: 'Gleaned Descriptions',
                           class: 'select-string',
                           data: { target: 'textarea#site_description' }
            %>
            <%= f.input :description, :label => false %>
          </div>
        </div>
        <% if response_service.admin_view? && permitted_to?(:admin, :pages) %>
            <div class="row">
              <div class="col-md-12">
                <%# f.input :site %>
                <%= f.input :home %>
                <%# if params[:action] != "edit" %>
                <%# end %>
                <%# f.input :subsite %>
                <%= f.input :sample %>
                <%# f.input :logo %>
                <%= f.hidden_field :tagging_user_id %>
                <%= token_input_field f, :taggings %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Sample Title (raw): <strong><%= crack_sample @site %></strong><br>
              </div>
            </div>
        <% end %>
    <% end %>
    <%= modal_footer do %>
        <%# if ref = @site.referent %>
        <%# link_to_submit ref.class.to_s+" "+ref.name, edit_referent_path(ref), mode: :modal %>
        <%# end %>
        <%= form_actions f %>
    <% end %>
<% end %>
