<%= modal_dialog :scrape_site, "Site #{link_to @site.name, @site.home}" do %>
    <% @candidate_feeds.each do |candidate| %>
        <h3><%= candidate.title %><br></h3>
        <%= candidate.description %><br>
        <%= link_to candidate.url, candidate.url, :target => "_blank" %><br>
        <%= link_to_submit "Accept", create_feed_path(candidate), method: :post, :button_size => "sm", :mode => :partial %>
    <% end %>
<% end %>