 <tr id="site<%= @site.id.to_s %>">
	<td><b><%= @site.name || "Defaults" %></b><br>
		<b>Site</b>: <%= @site.site %><br>
		<b>Home</b>: <%= @site.home_page %><br>
		<b><%= show_sample @site %></b><br>
		<b>Logo</b>: <%= @site.logo %><br>
		<b># Feeds:</b> <%= @site.feeds.size %> (<%= @site.feeds.where(approved: true).count %> approved for feedthrough)
	</td>
	<td><%= link_to_modal 'Show', @site %><br>
		<%= link_to_modal 'Edit', edit_site_path(@site) %><br>
		<%= link_to 'Destroy', @site, confirm: 'Are you sure?', method: :delete %><br>
	</td>
</tr>
