<h3>Site <%= link_to @site.name, @site.home %></h3>
<%= render "show_site" %>
<%= link_to_submit 'Edit Site', edit_site_path(@site), mode: :modal %> |
<%= link_to 'Sites List', sites_path %>
<hr>
<%= render "show_feeds" %>
