<tr id="<%= dom_id item %>">
  <td>
    <%= safe_image_div decorator, :none, style: "width: 100px; height: auto" %>
    <%= link_to_submit item.name, site_path(item), mode: :modal %>
  </td>
  <td>
    <%= item.description %>
  </td>
  <td>
    <b>Home</b>: <%= link_to item.home, item.home, class: "tablink" %><br>
    <b><%= show_sample item %></b><br>
    <b># Feeds:</b> <%= item.feeds.size %> (<%= item.feeds.where(approved: true).count %> approved for feedthrough)
  </td>
  <td>
    <%= site_collectible_buttons decorator, scrape_link: true %>
    <br>
    <%= site_similars item if response_service.admin_view? %><br>
  </td>
</tr>
