<% site = decorator.object %>
<%= present decorator, current_user_or_guest do |presenter| %>
    <td class="avatar-column">
      <%# image_enclosure decorator, :fallback_img => image_path('Upload_Icon.jpg') %>
      <div class="pic-box" style="width: 100%">
        <%= presenter.card_avatar :fallback_img => image_path('Upload_Icon.jpg') %>
      </div>
    </td>
    <td class="description-column" style="width: 30%">
      <%= presenter.card_homelink class: 'title-link' %>
      <%= presenter.edit_button if decorator.user_can? :edit %>
      <%= collectible_collect_button decorator, 'lg' %>
      <%# collectible_destroy_button decorator, 'xs', title: 'The Nuclear Option', style: 'margin-left: 3.8em;' %>
      <br><%= site.description.html_safe if site.description.present? %>
    </td>
    <td>
      <!--<b>Home</b>: <%# site.home %><br>-->
      <%= site_summaries site, response_service.admin_view? %>
      <%# site_pagerefs_summary site, separator: tag(:br) %>
    </td>
    <% if response_service.admin_view? %>
        <td class="actions-column">
          <%= summarize_set '', [
                                      entity_approval(decorator),
                                      site_similars(site),
                                      site_glean_button(site),
                                      site_nuke_button(site)
                              ] %>
        </td>
    <% end %>
<% end %>
