<h3>Listing sites</h3>

<table>
  <tr>
    <th>Info</th>
    <th>Links</th>
  </tr>
<%# will_paginate @sites %>
<% @sites.each do |site| %>
  <tr>
	<td><b><%= site.name || "Defaults" %></b><br>
		<b>Site</b>: <%= site.site %><br>
		<b>Home</b>: <%= site.home %><br>
		<b>Name</b>: <%= site.name %><br>
		<b>Sample</b>: <%= show_sample site %><br>
		<b>Logo</b>: <%= site.logo %><br>
	</td>
	<td><%= link_to 'Show', site %><br>
		<%= link_to 'Edit', edit_site_path(site) %><br>
		<%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %><br>
	</td>
  </tr>
  <tr></tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
