<%= flash_all %>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Site:</b>
  <%= @site.site %>
</p>

<p>
  <b>Home:</b>
  <%= @site.home %>
</p>

<p>
  <b>Sample:</b>
  <%= crack_sample %>
</p>

<p>
  <b>Logo:</b>
  <%= @site.logo %>
</p>

<p>
  <b>Tags:</b>
  <%= @site.tags %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
<hr>
<% if @feeds.blank? %>
...site has no feeds.
<% else %>
  <h4>Associated Feeds</h4>
	<%= render "feeds/table" %>
<% end %>