<%= page_or_modal title: "Site #{link_to @site.name, @site.home_page}", dialog_class: "modal-xl" do %>
  <div class="container">

    <p>
      <b>Sample page:</b>
      <%= crack_sample %>
    </p>

    <% unless @site.description.blank? %>
        <p>
          <b>Description:</b>
          <%= @site.description %>
        </p>
    <% end %>

    <p>
    <div class="container">
      <%= show_tags [ "Author", "Channel" ] %>
    </div>
    </p>
  </div>


    <%= link_to_modal 'Edit', edit_site_path(@site) %> |
    <%= link_to 'Back', sites_path %>
    <hr>
    <% if @feeds.blank? %>
        ...site has no feeds.
    <% else %>
        <h4>Associated Feeds</h4>
        <%= render "feeds/table" %>
    <% end %>
<% end %>
