<%= page_or_modal title: "Site #{link_to @site.name, @site.home}", dialog_class: "modal-xl" do %>
    <p>
      <b>Sample:</b>
      <%= crack_sample %>
    </p>

    <p>
      <b>Logo:</b>
      <%= @site.logo %>
    </p>

    <p>
      <b>Tags:</b>
      <%= @site.tags %>
    </p>


    <%= link_to_modal 'Edit', edit_site_path(@site) %> |
    <%= link_to 'Back', sites_path %>
    <hr>
    <% if @feeds.blank? %>
        ...site has no feeds.
    <% else %>
        <h4>Associated Feeds</h4>
        <%= render "feeds/table" %>
    <% end %>
<% end %>