<% resource = @feedback %>
<%= simple_form_for resource, :as => resource_name, :url => new_feedback_path do |f| %>
    <%= form_errors_helper f %>
    <div class="row">
      <div class="col-md-12">
        <%= f.select :subject, ['Problem', 'Suggestion', 'Question', 'Other'] %></p>
        <%= f.input :email, label: "Username or Email (your choice)", autofocus: resource.email.blank? %>
        <%= f.text_area :comment %>
        <%= f.input :docontact, :as => :boolean, :label => "I'd like a response", :inline_label => true, value: 1, input_html: {value: '1'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p style="text-align:right">
          <%= f.submit "Send Feedback", class: "btn btn-lg btn-success dialog-submit-button" %>
        </p>
      </div>
    </div>
<% end %>
