<h2>Feedback</h2>
<p>Please leave us feedback. It's really appreciated.</p>

<%= form_for @feedback, :as => :feedback, :url => feedback_index_path, :html => { :id => "feedback_form" } do |f| -%>
  <%= f.hidden_field 'page' %>
  <% unless @error_message.blank? %>
  <p class="error">
    <%=h @error_message %>
  </p>
  <% end %>
  <p>
    <%= f.label :subject %>
    <%= f.select :subject, ['Problem', 'Suggestion', 'Question', 'Other'] %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 5, :cols => 40 %>
  </p>
  <p>
    <%= f.check_box :docontact %><%= f.label :docontact, "I'd like a response" %>
  </p>
  <p><%= f.submit 'Send' %></p>
<% end -%>
