<%# simple_page "Feedback", true %>
<%= page_or_modal :action => :feedback, :title => "Talking Back to The Power" do %>
    <% resource = @feedback %>
    <%= simple_form_for resource, :url => feedback_index_path(:mode => response_service.mode) do |f| %>
        <p>Getting your reactions is the only way we can make RecipePower as good as it can be. Thanks so much for sharing with us.</p>
        <%= form_errors_helper f %>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :subject, collection: ['Problem', 'Suggestion', 'Question', 'Other'], label: "I have a", selected: "Question", input_html: {style: "width: 30%"} %>
            <%= f.input :email, label: "Username or Email (your choice)", autofocus: resource.email.blank? %>
            <%= f.input :comment, label: "Message", placeholder: "Your Feedback Here" %>
            <%= f.input :docontact, as: :boolean, label: false, inline_label: '&nbsp;&nbsp;I\'d like a response'.html_safe %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="text-align:right">
              <%= f.submit "Send Feedback", class: "btn btn-lg btn-success dialog-submit-button" %>
            </p>
          </div>
        </div>
    <% end %>
<% end %>
