<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
	  	<a class="navbar-brand" href="/collection">RecipePower</a>
			<%= yield :seeker_entry %>
	</div>
  <ul class="nav navbar-nav navbar-right">
		<li>
			<% if user_signed_in? %>
				<% if params[:controller] == "collection" %>
					<%= link_to_modal "Add a Cookmark", new_recipe_path %>
				<% else %>
					<%= link_to "Collections", collection_path %>
				<% end %>
			<% else %>
				<%= link_to_modal "Sign In", new_user_session_path %>
	    <% end %>
		</li>
		<%= header_menu %>
	</ul>  
</div>

