<div class="frame_left">
	<%= dialogDiv :edit_recipe, "Tag That Recipe!", "at_left", recipe_editor() %>
	<%# dialogHeader :edit_recipe, "Tag That Recipe!", "at_left" %>
		<%# logger.debug render("recipes/form_edit_at_left") %>
		<%# render "recipes/form_edit_at_left" %>
	<%# dialogFooter %>
	<div class="collection_nav">
		<%= @collection.html %>
	</div>
	<br class="clear">
	<%= content_tag :div, (link_to_dialog "Add a Cookmark", new_recipe_path, "modal", "floating"), class: "footer_nav_links" %>
	<hr>
	<%= content_tag :div, footer_navlinks, class: "footer_nav_links" %>
	<%= debug_dump(params) if Rails.env.development? %>
</div>
<%= feedback_tab(:position => 'left') %>
<% @recipe = Recipe.find 800 %>
<% @area = "at_left" %>
