<div class="header">
  <div class="menuIcon">
    <a href="#menuExpand">Menu</a>
  </div>
  <div class="menu">
    <div class="logo"></div>
    <ul>
      <%= collections_navtab %>
      <%= friends_navtab %>
      <%= my_lists_navtab %>
      <%# other_lists_navtab %>
      <%= feeds_navtab %>
      <%# news_navtab %>
      <%# more_navtab %>
      <%= home_navtab %>
    </ul>
  </div>
</div>