<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">RecipePower</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <%= navtab :collection, "My Goodies", "/users/#{current_user_or_guest_id}/collection.json?partial=true" %>
      <!--
          menu_path = "/users/#{current_user_or_guest_id}/collection.json?partial=true"
          current_user.subscriptions(:own).collect { |l| stream_menu_item(l.name, list_path(l, format: :json), dom_id(l)) }
          menu_items << link_to_submit("Recently Viewed", "/users/#{current_user_or_guest_id}/recent.json?partial=true") # ( @browser.find_by_id "RcpBrowserElementRecent"  )
          menu_items << link_to_modal("New Personal List...", new_list_path(modal: true))
      -->
      <%= navtab :friends, "Friends" %>
      <!--
          #        current_user.followees.collect { |u| stream_menu_item(u.handle, "/users/#{u.id}/collection.json?partial=true", dom_id(u)) }
          #        menu_items << link_to("Make a Friend...", "/users")
      -->
      <%= navtab :goodies, "Goody Bags" %>
      <!-- current_user.subscriptions(:public).collect { |l| stream_menu_item(l.name, list_path(l, format: :json), dom_id(l)) }-->
      <%= navtab :feeds, "Feeds" %>
      <%= navtab :news, "News", "/users/#{current_user_or_guest_id}/news.json?partial=true" %>
      <%= navtab :more, "More", "/users/#{current_user_or_guest_id}/biglist.json?partial=true" %>
      <!-- menu_items << link_to("New Public List...", new_list_path( modal: true ))-->
      <%= navtab :home, content_tag(:span, "", class: "glyphicon glyphicon-home"), "/users/#{current_user_or_guest_id}", :as => :page %>
      <%= navtab :tools, content_tag(:span, "", class: "glyphicon glyphicon-cog") do
        header_menu_items
      end %>
    </ul>
  </div>
</nav>
