<%# pagelet_filter_header %>
<div class="global-search <%= user_signed_in? ? 'container menuback' : 'searchtop' %>"></div>
<div class="<%= pagelet_class %>" id="<%= pagelet_body_id %>">
  <%= render 'layouts/filter_header' %>
  <%= pagelet_signin_links %>
  <%= flash_notifications_div %>
  <%= yield %>
</div>