<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%= favicon_link_tag "/assets/favicon.ico" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%# render 'layouts/stylesheets' %>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	 _gaq.push(['_setAccount', 'UA-30180298-1']);
	 _gaq.push(['_trackPageview']);

	 (function() {
	   var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	 })();

	</script>
  </head>
  <body>
	<script>
whenReady( function() {
	$("select#rcpquery_querymode_str").change(queryChange);
	$("select#rcpquery_listmode_str").change(queryListmodeChange);
	$("select#rcpquery_status").change(queryChange);
	$("select#rcpquery_owner_id").change(queryownerChange);
	$('input[id^=\'rcpquery_querytext\']').change(queryChange);
	$('input[id^=\'rcpquery_ratings_attributes\']').change(queryChange);
	// Set up tabs for rcpquery page
	var val = Number($("#rcpquery_tabset").attr('value'));
	var options = {load:queryTabOnLoad, select:queryTabOnSelect, selected:val};
	$("#rcpquery_tabset").tabs(options);

	// Set up tabs for tags editing page
	var val = Number($("#tags_tabset").attr('value'));
	var options = {load:tagTabsOnLoad, selected:val};
	$("#tags_tabset").tabs(options);
	
	// $("a#rcpquery_owner_return").click(backToMe);
	// Bring text focus to the tag input field
        $("input#rcpquery_tag_tokens").focus();
	// wdwFitImage() checks to ensure that all images of class 'fitPic' 
	// are loaded and resized to their parents.
        wdwFitImages();

  $("#tagpane_submit").click(tagpane_submit);
  rangy.init();
  $("#tagpane_ingredient_list").click(tagpane_ingredient_list);
  $("#tagpane_ingredient").click(tagpane_ingredient);
  $("#tagpane_amount").click(tagpane_amount);
  $("#tagpane_quantity").click(tagpane_quantity);
  $("#tagpane_unit").click(tagpane_unit);
  $("#tagpane_conditions").click(tagpane_conditions);
  $("#tagpane_condition").click(tagpane_condition);
  $("#tagpane_material").click(tagpane_material);
  $("#tagpane_step").click(tagpane_step);
  $(".tagpane").bind('paste', takePaste);
});
	</script>
	<div id="container">
		<%= render 'layouts/header' %>
		<section id="workpane">
			<% if flash[:notice] %>
				<div id="notice" class="notice"><%= flash[:notice] %></div>
			<% elsif flash[:alert] %>
				<div class="alert"><%= flash[:alert] %></div>
			<% end %>
			<p id="notice"><%# notice %></p>
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
	</div>
	<%= debug_dump(params) if Rails.env.development? %>
	</body>
</html>
