<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= favicon_link_tag %>

  <!-- Include Bootstrap from CDN per getbootstrap.com -->
  <!-- Latest compiled and minified JavaScript -->
  <!--
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  -->
  <%# if Rails.configuration.no_cdn # Rails.env.development? %>
  <!--
  <%# if Rails.configuration.x.no_cdn %>
      <%# javascript_include_tag "jquery-1.7.1" %>
      <%# javascript_include_tag "jquery-2.1.3" %>
      <%# javascript_include_tag "bootstrap" %>
  <%# else %>
      &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      &lt;!&ndash; Optional theme &ndash;&gt;
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      &lt;!&ndash;<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>&ndash;&gt;
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap-3.3.2.js"></script>
  <%# end %>
-->
  <%= bootstrap_css_include_tag !Rails.env.development? %>
  <%= jquery_include_tag !Rails.env.development?, Rails.application.config.use_jquery2 %>
  <!-- From bootstrap-sass -->
  <%= bootstrap_js_include_tag !Rails.env.development? %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield(:head) %>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30180298-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>
  <style title="pagelet-padding">
      div.pagelet-body {
          padding-top: 102px;
      }
  </style>
</head>
<body <%= 'class=logged-in' if current_user %> >
<% if Rails.env.development? %>
<div class="booger">
  <span class="phone" >phone</span>
  <span class="small" >small</span>
  <span class="medium" >medium</span>
  <span class="largish" >largish</span>
  <span class="large" >large</span>
  <span class="wide" >wide</span>
</div>
<% end %>
<%= render 'layouts/navbar_experimental' %>
<%= render 'layouts/pagelet' %>
<% if false && Rails.env.development? %>
    <p>
      Archivo:
      <span class="archivo">default</span>&nbsp;
      <span class="archivo light">light</span>&nbsp;
      <span class="archivo bold">bold</span><br>
      Archivo-Light:
      <span class="arch-light">default</span>&nbsp;
      <span class="arch-light light">light</span>&nbsp;
      <span class="arch-light bold">bold</span><br>
      Archivo-Bold:
      <span class="arch-bold">default</span>&nbsp;
      <span class="arch-bold light">light</span>&nbsp;
      <span class="arch-bold bold">bold</span><br>
      Oswald:
      <span class="oswald">default</span>&nbsp;
      <span class="oswald light">light</span>&nbsp;
      <span class="oswald bold">bold</span><br>
      Oswald-Light:
      <span class="ow-light">default</span>&nbsp;
      <span class="ow-light light">light</span>&nbsp;
      <span class="ow-light bold">bold</span><br>
      Oswald-Bold:
      <span class="ow-bold">default</span>&nbsp;
      <span class="ow-bold light">light</span>&nbsp;
      <span class="ow-bold bold">bold</span><br>
    </p>
<% end %>
<div id='popup_notification' class='hide alert-notice'>
  <button class="close" data-dismiss="alert">&#215;</button>
  <span>Msg Goes Here</span>
</div>
<%= feedback_tab :position => 'left' %>
<%# If there are any dialogs waiting, either in the session or the parameters %>
<%= trigger_pending_modal %>
</body>
</html>
