<!DOCTYPE html>
<html>
  <head>
    <title><%= @Title || (@recipe.title if @recipe) || "No recipe or title" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%# stylesheet_link_tag "token-input-facebook" %>
    <%# stylesheet_link_tag "RP_recipes" %>
    <%# stylesheet_link_tag "ui-lightness/jquery-ui-1.8.16.custom" %>
    <%# javascript_include_tag  :defaults, 
    				"jquery.tokeninput",
    				"jquery-ui-1.8.16.custom.min",
				"whenReady",
				"rangy-core",
				"jquery.ui.multidraggable-1.8.8",
				"rangy-cssclassapplier",
				"microformat",
				"rails" %>
    <%= csrf_meta_tag %>
    <%= render 'layouts/recipestylesheets' %>
  </head>
  <body>
	<script>
whenReady( function() {
	$("select#rcpquery_querymode_str").change(queryChange);
	$("select#rcpquery_listmode_str").change(queryListmodeChange);
	$("select#rcpquery_status").change(queryChange);
	$("select#rcpquery_owner_id").change(queryownerChange);
	$('input[id^=\'rcpquery_querytext\']').change(queryChange);
	$('input[id^=\'rcpquery_ratings_attributes\']').change(queryChange);
	// Set up tabs for rcpquery page
	var val = Number($("#rcpquery_tabset").attr('value'));
	var options = {load:queryTabOnLoad, select:queryTabOnSelect, selected:val};
	$("#rcpquery_tabset").tabs(options);

	// Set up tabs for tags editing page
	var val = Number($("#tags_tabset").attr('value'));
	var options = {load:tagTabsOnLoad, selected:val};
	$("#tags_tabset").tabs(options);
	
	// $("a#rcpquery_owner_return").click(backToMe);
	// Bring text focus to the tag input field
        $("input#rcpquery_tag_tokens").focus();
	// wdwFitImage() checks to ensure that all images of class 'fitPic' 
	// are loaded and resized to their parents.
        wdwFitImages();

  $("#tagpane_submit").click(tagpane_submit);
  rangy.init();
  $("#tagpane_ingredient_list").click(tagpane_ingredient_list);
  $("#tagpane_ingredient").click(tagpane_ingredient);
  $("#tagpane_amount").click(tagpane_amount);
  $("#tagpane_quantity").click(tagpane_quantity);
  $("#tagpane_unit").click(tagpane_unit);
  $("#tagpane_conditions").click(tagpane_conditions);
  $("#tagpane_condition").click(tagpane_condition);
  $("#tagpane_material").click(tagpane_material);
  $("#tagpane_step").click(tagpane_step);
  $(".tagpane").bind('paste', takePaste);
});
	</script>
    <div class="container">
      <%= render 'layouts/rheader' %>
  <!-- <%= ActiveRecord::Base.connection.adapter_name %> -->
      <style>
        section { padding-top:20px; }
      </style>
      <section class="round" id="workpane">
        <%= yield %>
      </section>
      <%= render 'layouts/rfooter' unless @recipe.nil? || @recipe.url.nil? %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
