<div class="collectible-buttons" style="display: inline-block" id="<%= dom_id decorator %>">
  <%= extras if defined?(extras) %>

  <%= collectible_edit_button(decorator.object, styling) if styling[:edit_button] %>

  <%= pin_menu decorator, current_user, styling %>

  <span class="<%= recipe_list_element_golink_class item %>">
      <%= collectible_tag_button decorator, styling %>
  </span>

  <span class="<%= recipe_list_element_golink_class item %>">
      <%= collectible_share_button decorator, styling %>
  </span>

  <%# if styling[:vote_button] %>
      <span class="<%= recipe_list_element_golink_class item %>">
        <%= collectible_vote_buttons decorator.object, styling %>
      </span>
  <%# end %>

  <% if styling[:list_button] %>
      <span class="<%= recipe_list_element_golink_class item %>">
        <%= collectible_list_button decorator, styling, :mode => :partial %>
      </span>
  <% end %>

</div>
