<% except = [] unless defined?(except) && except %>
<div class="collectible-buttons" style="display: inline-block" id="<%= dom_id decorator %>">
  <%= extras if defined?(extras) %>

  <%# collectible_edit_button(decorator.object, styling) if styling[:edit_button] %>

  <%# collectible_list_menu decorator, current_user, styling %>

  <%= collectible_tools_menu decorator %>

  <span class="<%= recipe_list_element_golink_class item %>">
      <%= collectible_tag_button decorator, styling unless except.include?(:tag) %>
  </span>

  <span class="<%= recipe_list_element_golink_class item %>">
      <%= collectible_share_button decorator, styling unless except.include?(:share) %>
  </span>

  <% if styling[:vote_button] && false %>
      <span class="<%= recipe_list_element_golink_class item %>">
        <%= collectible_vote_buttons decorator.object %>
      </span>
  <% end %>

  <% if styling[:list_button] %>
      <span class="<%= recipe_list_element_golink_class item %>">
        <%= collectible_list_button decorator, styling %>
      </span>
  <% end %>

</div>
