<!--
Expecting the following local variables:
    * picurl: the current URL value of the picture to be selected, suitable for setting the url
    * imgdata: data suitable for filling the href field of an image
    * pageurl: the URL of the page where the choices will be sourced
-->
<%= modal_dialog :pic_picker,
                 "Pick an Applicable Picture Here",
                 dialog_class: "modal-lg",
                 noflash: true do %>
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="preview">
            <%= image_with_error_recovery @decorator.imgdata(false)||@fallback_img||"",
                                          id: "rcpPic",
                                          style: "width: 100%; height: auto" %>
            <input type="hidden"
                   id="pic-picker-url"
                   rel="jpg,png,gif"
                   type="text"
                   value="<%= @decorator.picurl %>">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7">
          <span class="prompt">
            <% if @pic_select_list.present? %>
                Click on an image to grab it. If none suit, see below for other options.
                <%= @pic_select_list.html_safe %>
            <% else %>
                There are no obvious choices for an appropriate image.<br>For other options, see below.
            <% end %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <span class="prompt">If you have the URL of an image to use, type or paste it here and click Preview.</span>
          <input type="text"
                 rel="jpg,png,gif"
                 class="icon_picker"
                 autofocus="autofocus"
                 style="width: 100%"
                 data-golinkid="<%= @golinkid %>"/>
        </div>
        <%= link_to "Preview", "#", class: "btn btn-info image_preview_button float-right-button" %>
      </div>
      <%= flash_notifications_div %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <span class="prompt">To pick an image from any web page, type or paste the page's URL here and click Extract Images.</span>
          <input type="text"
                 rel="jpg,png,gif"
                 class="url_picker"
                 autofocus="autofocus"
                 style="width: 100%"
                 data-golinkid="<%= @golinkid %>"/>
        </div>
        <%= link_to_submit "Extract Images",
                           polymorphic_path([:editpic, @decorator]),
                           class: "btn btn-info url-extract-button float-right-button",
                           mode: :modal
        %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <span class="prompt">To upload an image from your disk, click the button.</span>
          <%= render 'collectible/form_image' %>
        </div>
      </div>

      <% if @decorator.pageurl && @pic_select_list.empty? %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
          ...or, you can visit the recipe's webpage, hit the Cookmark button, and pick a picture from there.
          </div>
        </div>
      <% end %>

      <%= modal_footer do %>
          <%= dialog_submit_button "Save", :class => "disabled" %>
          <%= dialog_cancel_button "Cancel" %>
      <% end %>
    </div>
<% end %>
