<form accept-charset="UTF-8"
      action="<%= polymorphic_path [:lists, @decorator.as_base_class ] %>"
      class="form-inline lists_collectible"
      data-remote="true"
      data-type="json"
      <%# "data-always_submit='true'" if @decorator.picuri_problem %>
      id="lists_collectible_<%= @decorator.id %>">
  <input name="utf8" type="hidden" value="&#x2713;"/>
  <input name="_method" type="hidden" value="patch"/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <% user_decorator = current_user_or_guest.decorate %>
  <%# all_tags = user_decorator.list_tags %>
  <%# classify_listtags all_tags %>
  <% used_tags = user_decorator.list_tags(@decorator) %>
  <% classify_listtags used_tags %>
  <div class="row">
    <div class="col-md-12">
      <div class="notifications-panel">
        <%= flash_notifications_div %>
      </div>
      <div class="control-group now-appearing">
        <label class="string optional">Now Appearing in the Treasuries:</label>
        <input id="<%= @decorator.element_id :tagging_user_id %>"
               name="<%= @decorator.field_name :tagging_user_id %>"
               type="hidden"
               value="<%= @decorator.tagging_user_id %>">
        <input type="text"
               class="token-input-field-pending"
               id="tagging_list_tokens"
               name="<%= @decorator.field_name :tagging_list_tokens %>"
               rows="2"
               size="30"
               placeholder="Lists"
               data-taglist="<%# all_tags.to_json %>"
               data-pre="<%= used_tags.to_json %>"
               data-allowFreeTagging="true"
               data-eventHandler="RP.lists_collectible"
               data-theme="list"
               data-query="tagtype=16"
               data-noResultsText="No such treasury now; hit Enter to start a new one"
               data-hintText="Search for a treasury by typing"/>
      </div>
      <!-- Get the list of candidates in a followup request -->
      <div id="lists-collectible-suggested">
        <%= link_to_submit 'Sugs',
                           polymorphic_path([:lists, @decorator.as_base_class]), # gleaning_path(decorator.gleaning),
                           class: 'trigger hide' %>
      </div>
    </div>
  </div>
  <%= dialog_submit_button %>
  <%= dialog_cancel_button %>
</form>
