<% @entity = @decorator.object %>
<%= form_for @entity, :url => polymorphic_path([:tag, @decorator.as_base_class], :mode => :injector ), :html => {style: 'width:auto;height:auto'} do |f| %>
    <%= form_errors_helper f, @entity %>
    <div class="left">
      <div class="pic_picker_field">
        <%= pic_field f,
                      :decorator => @decorator,
                      :fallback_img => image_path('PickPicture.png'),
                      :nopicker => true %>
      </div>
      <% if @decorator.image.present? %>
          <p>Prefer another picture?<br/>Click one!</p>
      <% end %>
    </div>

    <div class="middle">
      <div class="notifications-panel">
        <%= flash_notifications_div %>
      </div>
      <div class="edit_recipe_field text">
        <%= f.label @decorator.attribute_for(:title), 'Title' -%>
        <% @decorator.title %>
        <div class="expandingArea">
          <pre><span></span><br></pre>
          <%= f.text_area @decorator.attribute_for(:title) -%>
        </div>
      </div>

      <%= token_input_div f,
                          :attribute_name => :editable_tags,
                          :label => 'Tag(s)',
                          :data => {type: Tag.typenum(@decorator.eligible_tagtypes)}
      %>

      <div class="edit_recipe_field text">
        <%= f.label :comment, 'Notes' -%>
        <div class="expandingArea">
          <pre><span></span><br></pre>
          <%= f.text_area :collectible_comment, rows: '1', placeholder: 'Your thoughts here' -%>
        </div>
      </div>
    </div>

    <div class="right">
      <%= f.label "Collect As" %>
      <!--Either the object has a page_ref or it IS a page_ref-->
      <% if @decorator.object.is_a?(PageRef) %>
          <%= f.select :kind, PageRefServices.kind_selections %>
      <% else %>
          <%= f.fields_for :page_ref do |builder| %>
              <%= builder.select :kind, PageRefServices.kind_selections %>
          <% end %>
      <% end %>
      <%# collection_select @decorator.param_key,
                            :kind,
                            PageRefServices.kind_selections,
                            :last,
                            :first %>
      <br><br><%= f.check_box :collectible_private %>
      <%= f.label :collectible_private, 'Private', class: 'checkbox' %>
      <%= hidden_field_tag 'layout', 'injector' %>
    </div>
    <% if @decorator.object.has_attribute? 'content' %>
      <%= f.hidden_field :content  %>
    <% end %>
    <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
