<% user_decorator = current_user_or_guest.decorate %>
<% all_tags = user_decorator.list_tags %>
<% classify_listtags all_tags %>
<% used_tags = user_decorator.list_tags(@decorator) %>
<% classify_listtags used_tags %>
<%= dialog_pane 'lists_collectible' do %>
    <div class="control-group now-appearing">
      <label class="string optional">Now Appearing in the Treasuries:</label>
      <input id="<%= @decorator.element_id :tagging_user_id %>"
             name="<%= @decorator.field_name :tagging_user_id %>"
             type="hidden"
             value="<%= @decorator.tagging_user_id %>">
      <input type="text"
             class="token-input-field-pending"
             id="tagging_list_tokens"
             name="<%= @decorator.field_name :tagging_list_tokens %>"
             rows="2"
             size="30"
             placeholder="Lists"
             data-taglist="<%= all_tags.to_json %>"
             data-pre="<%= used_tags.to_json %>"
             data-allowFreeTagging="true"
             data-eventHandler="RP.lists_collectible"
             data-theme="list"
             data-query="tagtype=16"
             data-noResultsText="No such treasury now; hit Enter to start a new one"
             data-hintText="Search for a treasury by typing"/>
    </div>
    <div class="control-group">
      <label class="string optional" style="margin-top: 40px;">Suggested Treasuries</label>

      <div class="selection-list" data->
        <% all_tags.each do |tagspec| %>
            <!--Include only the lists of friends and self -->
            <% if tagspec[:sortval] < 4 %>
                <a href="#"
                   class="selection-item <%= tagspec[:cssclass] %>"
                   id="<%= tagspec[:cssid] %>"
                   data-to_selector="#tagging_list_tokens"
                   data-tokeninput="<%= tagspec.to_json %>"
                   <%= %q{style="display: none;"} if used_tags.include? tagspec %>
                   title="Click to Add">
                  <%= tagspec[:name] %>
                </a>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>