<%= dialog_pane 'pic_picker', false do %>
    <div class="col-xs-12 col-sm-6 col-md-5">
      <div class="preview"
           id="pic-picker-magic"
           data-gleaning-url="<%= polymorphic_path [:glean, @decorator.object] %>"
           contenteditable='true'>
        <%= image_with_error_recovery @decorator,
                                      id: 'rcpPic',
                                      fallback_img: true,
                                      explain: true,
                                      fill_mode: 'fixed-width'
        %>
      </div>
      <%= uploader_field @decorator, input_id: 'pic-picker-url', img_id: 'rcpPic' %>
      <%= render 'pic_select_list' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7">
      <p>
        <% if @decorator.object.is_a?(List) %>
            Hint: You can paste an image or a web page here.
        <% else %>
            Hint: You can paste an image (or another web page) here, or you can
            <%= link_to ' go to the webpage', @decorator.url, :target => '_blank', style: 'text-decoration: underline;' %>
            , hit the Cookmark button, and pick a picture from there.
        <% end %>
      </p>
<!--     <input id="pic-picker-magic"
             value="Some silly shit"
             type="text"
             autofocus="autofocus"
             data-gleaning-url="<%# polymorphic_path [:glean, @decorator.object] %>"
             name="recipe[picurl]">
-->
      <%= f.hidden_field @decorator.picable_attribute, id: 'pic-picker-url' %>
    </div>
<% end %>
