<div class="masonry-item-contents grid-item <%= decorator.object.class.to_s.underscore %>-item <%= defined?(results_type) && results_type.extensions_to_classes %> <%= decorator.dom_id %>">
  <%= image_enclosure decorator, class: "pic-box" %>
  <div class="datablock">
    <p class="title">
      <%= collectible_tablink decorator %>
    </p>
  </div>
</div>
