<% present decorator.object do |presenter| %>
<%= presenter.picdiv %>
<div class="<%= presenter.divclass %>" onload="RP.hide_all_empty();">
  <div class="resource-element info">
    <%= presenter.title %>
    <%= presenter.description %>
    <%= render "collectible/summary_panel", presenter: presenter %>
  </div>
</div>
<% end %>
