<div class="panel pull-left panel-default hide-if-empty" style="width:100%">
  <div class="panel-heading">
    <p class="hide-if-empty">A
      <span class="hide-if-empty"> <%= present_field_wrapped "typename" %></span>
      <span class="hide-if-empty"> <%= present_field_wrapped "classname_lower" %></span>
      <span class="hide-if-empty"> by <%= present_field_wrapped "Author_tags" %></span>
      <span class="hide-if-empty"> in <%= present_field_wrapped "Source_tags" %></span>
      <span class="hide-if-empty"> from <%= present_field_wrapped "site" %></span>.</p>
  </div>
  <div class="panel-body">
    <% presenter.fields_list.each do |nv| %>
      <%= render( "shared/show_labelled", label: nv.first, content: nv.last) unless nv.last.blank? %>
    <% end %>
    <%= presenter.buttons %>
  </div>
</div>
