<%= present decorator, current_user_or_guest do |presenter| %>
    <div class="container-fluid card-item entity-card <%= viewparams.display_style %>-card <%= decorator.dom_id %>">
      <%= collectible_vote_buttons decorator.object unless decorator.object == response_service.user %>
      <table style="width: 100%">
        <tr>
          <% if vid = presenter.card_video %>
              <td rowspan="2" class="video-box">
                 <%= vid %>
              </td>
          <% else %>
              <td rowspan="2" class="pic-box">
                <div class="pic-inset">
                  <%= presenter.card_avatar %>
                </div>
              </td>
          <% end %>
           <td valign="top" class="upper-content">
            <div class="title">
              <%= presenter.card_homelink class: "title-link" %>
              <%= collectible_collect_button(decorator, "lg") unless decorator.object == response_service.user %>
              <%# collectible_list_menu decorator, response_service.user, {} %>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tags">
                  <% if decorator.tags.present? %>
                      <h3>TAGS</h3>
                  <% end %>
                  <%= presenter.present_field_wrapped 'tags' %>
                </div>
                <p class="description"><%= decorator.description %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="lower-content">
            <%# collectible_upload_button decorator, 'lg' %>
            <%= collectible_tools_menu decorator, 'lg' %>
            <%# collectible_edit_button decorator, 'lg' %>
            <%= collectible_share_button decorator, 'lg' unless decorator.object == response_service.user %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

