<%# Default modal dialog for editing a (collectible, taggable) item. May be overwritten for other controllers  %>
<% decorator ||= @decorator || TemplateDecorator.new # If no decorator provided, assume this is for a template   %>
<%= content_tag(:div,
                class: "dialog tag-collectible modal hide new-style green",
                style: "overflow:visible") do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3><%= response_service.admin_view? ? "Tag That #{decorator.human_name}!" : decorator.title %></h3>
        </div>
        <form accept-charset="UTF-8"
              action="<%= decorator.tag_path %>"
              class="form-inline tag-collectible"
              data-remote="true"
              data-type="json"
              <%= "data-always_submit='true'" if decorator.picuri_problem %>
              id="tag_collectible_<%= decorator.id %>">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input name="_method" type="hidden" value="patch"/>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
          <div class="modal-body" style="overflow:visible">
            <div class="notifications-panel">
              <%= flash_notifications_div %>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="tag_collectible_field pic_picker_field">
                  <%= pic_preview_widget decorator %>
                </div>
              </div>
              <div class="col-md-7">
                <% if response_service.admin_view? %>
                    <div class="control-group">
                      <label class="string optional">Title</label>
                      <textarea id="<%= decorator.element_id :title %>" name="<%= decorator.field_name :title %>" placeholder="Title"><%= decorator.title %></textarea>
                    </div>
                <% end %>
                <div class="control-group">
                  <label class="string optional">Tag(s)</label>
                  <input id="<%= decorator.element_id :tagging_user_id %>" name="<%= decorator.field_name :tagging_user_id %>" type="hidden" value="<%= decorator.tagging_user_id %>">
                  <input type="text"
                         class="token-input-field-pending"
                         id="tagging_tag_tokens"
                         name="<%= decorator.field_name :tagging_tag_tokens %>"
                         rows="2"
                         size="30"
                         placeholder="Tags"
                         data-pre="<%= decorator.tagging_tag_data %>"/>
                </div>
                <div class="control-group">
                  <input id="<%= decorator.element_id :collectible_user_id %>" name="<%= decorator.field_name :collectible_user_id %>" type="hidden" value="<%= decorator.collectible_user_id %>">
                  <label class="string optional">Comment</label>
                  <textarea id="<%= decorator.element_id :collectible_comment %>" name="<%= decorator.field_name :collectible_comment %>" placeholder="Anything you'd like to say about this <%= decorator.human_name false, false %>" rows="3"><%= decorator.collectible_comment %></textarea>
                </div>
                <div class="control-group">
                  <input name="<%= decorator.field_name :collectible_private %>" type="hidden" value="0"/>
                  <label for="<%= decorator.element_id :collectible_private %>" class="checkbox pull-left">
                    <input <%= "checked='checked'" if decorator.collectible_private %> class="collectible-private-checkbox" id="<%= decorator.element_id :collectible_private %>" name="<%= decorator.field_name :collectible_private %>" type="checkbox" value="1"/>
                    &nbsp;Private
                  </label>
                  &nbsp;(not visible in collection to others)
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group recipe_picurl">
                  <%= uploader_field decorator %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn pull-left" type="submit" data-action="<%= decorator.object_path %>/collect.json?oust=true" value="Remove from collection" data-method="patch"/>
            <% if permitted_to?(:admin, :pages) && response_service.admin_view? %>
                <%= link_to_submit "Destroy", decorator.object_path, :class => "pull-left", :button_style => :danger, :method => :delete, confirm: "This will permanently remove ths #{decorator.human_name} from RecipePower for good: it can't be undone. Are you absolutely sure you want to do this?" %>
            <% end %>
            <%= dialog_submit_button %>
            <%= dialog_cancel_button %>
          </div>
        </form>
      </div>
    </div>
<% end %>

